<% if !@followings.blank? %>
<ul class="userlist">
  <% @followings.map_user.each do |user| %>
<li>
  <div class="userpic">
    <%= link_to_user user, 
		user_path(user.id,:trailing_slash => true), 
		{:with_avatar => true, :avatar_version => :large}, 
		{:width => 50, :height => 50} %>
  </div>
  <div class="userinfo">
    <div class="username">
      <%= link_to_user user, user_path(user.id,:trailing_slash => true) %> 
    </div>
    <div class="userlocation"><%= user.city %></div>
    <% if is_login_user? @user #  当前访问属于自己的页面 %>
    <p><span class="cancl_fol">
     <%= link_to "取消关注", unfollow_friends_path(:user_id => user.id) %> </span>
   </p>
     <% if user.is_following current_user.id %>
        <p> 互相关注 </p>
    <% end %>
    <% else %>
    <%= link_to follow_friends_path(:user_id => user.id ), :class => "btn_gray" do  %>
    <span>加关注</span>
    <% end %>      
    
    <% end %>
  </div>
</li>
<% end %>
</ul>
<% else %>
<p>暂时没有关注的人！</p>
<% end %>