<div class="winery_header">
   <div class="cover">
     <%= winery_cover_tag(@winery, :thumb_name => :middle_x, :width => 360, :height => 330, :alt => @winery.name_en) %>
   </div>

   <div class="info">
     <div class="float_r">
       <% if @winery.config["Sina"] %>
         <%= link_to "http://#{@winery.config['Sina']}", :target => "_blank" do %>
           <span class="icon_sina mr5"></span>
         <% end %>
       <% else %>
         <span class="icon_sina_off mr5"></span>
       <% end %>
       <% if @winery.config["Twitter"] %>
         <%= link_to "http://#{@winery.config['Twitter']}", :target => "_blank" do %>
            <span class="icon_tt mr5"></span>   
         <% end %>
       <% else %>
         <span class="icon_tt_off mr5"></span>
       <% end %>
       <% if @winery.config["Facebook"] %>
         <%= link_to "http://#{@winery.config['Facebook']}", :target => "_blank" do %>
             <span class="icon_fb mr5"></span>
         <% end %>
       <% else %>
         <span class="icon_fb_off mr5"></span>
       <% end %>
     </div>

     <div class="logo"><%= image_tag(@winery.logo_url(:thumb), :width => 100, :height => 50, :alt => @winery.name_en) if @winery.logo.present? %></div>
     <h1 class="winery_name_ch"><%= @winery.name_zh %></h1>
     <h1 class="winery_name_en"><%= @winery.name_en %></h1>
     <div class="baseinfo">
       地区：<%= @winery.region_path_zh(@winery.region_tree_id) %><br/>
       地址：<%= @winery.address %><br/>
       官网网站：<a href="http://<%= @winery.official_site %>"><%= @winery.official_site %></a><br/>
       电子邮件：<%= @winery.email %> <br/>
       电话：<%= @winery.cellphone %><br/>
       传真：<%= @winery.fax %><br/>
     </div>
     <div class="mt20">
       <ul class="count">
         <li class="follow">

          <%= link_to "#{@winery.followers_count}个关注", followers_list_winery_path(@winery) %>
        </li>
         <li class="comment"><%= link_to "#{@winery.comments_count}条评论", winery_comments_path(@winery) %></li>
       </ul>


       <% unless user_signed_in? %>
           <%= link_to  new_winery_comment_path(@winery.id, :do => "follow"), :class => [:btn_gray_b, :mr5, :ajax], :remote => true do %>
               <span>关注</span>
           <% end %>
           <%# 用户已经登录， 检查是否已经关注 %>
       <% else %>
           <%  if @winery.is_followed? current_user %>
			<span class="icon_fol mr5">已关注<span class="cancl_fol">
				 <%= link_to "取消", cancle_follow_winery_comments_path(@winery.id) %>
			</span>
           <% else %>
               <%= link_to new_winery_comment_path(@winery.id, :do => "follow"), :class => [:btn_gray_b, :mr5, :ajax], :remote => true do %>
                   <span>关注</span>
               <% end %>
           <% end %>
       <% end %>

       <%= link_to new_winery_comment_path(@winery.id, :do => "comment"), :class => [:btn_gray_b, :mr5, :ajax], :remote => true do %>
           <span>评论</span>
       <% end %>
     </div>
   </div>

   <div class="right">
     <div class="share">
       <%= render "share/sns_icons",
                  :image_url => sns_image_url(@winery, :thumb_name => :middle_x),
                  :title => sns_title(@winery.name),
                  :summary => winery_summary(@winery),
                  :url => request.url %>
       <div class="clear"></div>
     </div>
     <ul class="item">
       <li>
         <p class="pic">
           <%= link_to winery_photos_path(@winery) do  %>
               <%= image_tag("/assets/waterfall/images/icon/winery_photo.gif", :width => 34, :height => 26) %>
           <% end %>
         </p>
         <p><%= link_to "照片", winery_photos_path(@winery) %></p>
       </li>
       <li>
         <p class="pic">
           <%= link_to "/wineries/#{@winery.id}#02" do  %>
               <%= image_tag("/assets/waterfall/images/icon/winery_intro.gif", :width => 26, :height => 30) %>
           <% end %>
         </p>
         <p><%= link_to "介绍", "/wineries/#{@winery.id}#02" %></p>
       </li>
       <li class="last">
         <p class="pic">
           <%= link_to "#05" do  %>
             <%= image_tag("/assets/waterfall/images/icon/winery_hot.gif", :width => 32, :height => 32)%>
           <% end %>
          </p>
         <p><%= link_to "热门酒款", "#05" %></p>
       </li>
       <li>
         <p class="pic">
           <%= link_to wines_list_winery_path(@winery) do  %>
               <%= image_tag("/assets/waterfall/images/icon/winery_wine.gif", :width => 24, :height => 37) %>
           <% end  %>
         </p>
         <p><%= link_to "所有酒款", wines_list_winery_path(@winery) %></p>
       </li>
       <li>
         <p class="pic">
           <%= link_to winery_comments_path(@winery) do  %>
               <%= image_tag("/assets/waterfall/images/icon/winery_comment.gif", :width => 34, :height => 31) %>
           <% end %>
         </p>
         <p><%= link_to "评论", winery_comments_path(@winery) %></p>
       </li>
       <li class="last">
         <p class="pic">
           <%= link_to followers_list_winery_path(@winery) do %>
               <%= image_tag("/assets/waterfall/images/icon/winery_follower.gif", :width => 31, :height => 36) %>
           <% end %>
         </p>
         <p><%= link_to "关注者", followers_list_winery_path(@winery) %></p>
       </li>
     </ul>
   </div>
   <div class="clear"></div>
</div>
<div id="comment_form"  style="display: none" >

</div>