<%= form_for @register, :validate => true, :url => {:action => :create}, :method => :post ,:html => { :class => 'form-horizontal', :multipart => true } do |f| %>
  <input type="hidden" name="wine_id" value="<%=  @wine_id || params[:wine_id] %>"/>
   <% unless @register.new_record? %><input type="hidden" name="register_id" value="<%= @register.id %>"/><% end %>
   <%#= render 'share/error_messages', :target => @register %>
   <div class="left">
     <div class="required">
       <label><span>*</span>葡萄酒英文名</label>
       <% if @read_only %> <%= @register.name_en %> <% else %><%= f.text_field :name_en %><% end %>
     </div>
     <div class="required">
       <label><span>*</span>类型</label>
       <% if @read_only %> <%= @register.style.name %> <% else %><%#= f.select :wine_style_id, Wines::Style.all.collect{ |s| [s.name_zh + '/' + s.name_en, s.id] } %>
      <select id="wines_register_wine_style_id" name="wines_register[wine_style_id]">
          <%= render "share/wine_style_select", :wine_style_id => @register.wine_style_id %>   
       </select> 
       <% end %>
     </div>
     <div class="required">
       <label>产区</label>
       <% if @read_only && @register.region_tree_id %><%=  @register.region_path_zh %> <% else %><%= render "region_tree" %><% end %>
     </div>

     <div class="required">
       <label><span>*</span>年份</label>
       <% unless @register.is_nv %>
          <%= f.date_select :vintage, :discard_day => true, :discard_month => true, :start_year => Time.now.year, :end_year => 1950, :prompt => {:year => "选择年份"} %>年
      <% end %>
      <% if @register.is_nv %>
          <label class="nv">NV/无年份葡萄酒</label>
       <% elsif !@read_only %>
        <label class="nv"><%= check_box_tag("wines_register[is_nv]", 1, @register.is_nv) %>NV/无年份葡萄酒</label>
       <% end %>
       
     </div>
     <div class="required">
       <label><span>*</span>容量</label>
       <%= f.select :capacity, APP_DATA['wines']['capacity'].each{|key, value| [key, value]} %>
     </div>
     <div class="optional">
       <%= f.label :photo_name %>
       <%= f.file_field :photo_name %>
     </div>
     <div class="mt10">
       <label>&nbsp;</label>
       <div class="content">
         <%= link_to "#", :class => "btn_gray mr5", :id => "submit_register" do %>
             <span>下一步</span>
         <% end %>
         <%= link_to root_url, :class => "btn_gray" do %>
             <span>取消</span>
         <% end %>
       </div>
     </div>
     <div class="clear"></div>
   </div>
   <div class="clear"></div>
<% end %>
<script type="text/javascript">
  if ($("#wines_register_is_nv").attr("checked") == "checked") {
    disableCheckbox();
  };
  $("#wines_register_is_nv").change(function(){
    if ($(this).attr("checked") == "checked") {
     disableCheckbox();
    }else{
      $("#wines_register_vintage_1i").removeAttr('disabled');
      $("#wines_register_vintage_2i").removeAttr('disabled');
      $("#wines_register_vintage_3i").removeAttr('disabled');
    }
  });
  function disableCheckbox(){
    $("#wines_register_vintage_1i").attr("disabled", "disabled");
    $("#wines_register_vintage_2i").attr("disabled", "disabled");
    $("#wines_register_vintage_3i").attr("disabled", "disabled");
  }
</script>
