<% content_for :title, @title%>
<% content_for :css do %>
	<%= stylesheet_link_tag :wine, :thumb %>
	<% end %>
	<div id="wp_left">
		
		<div class="wp_space_line top">
			<%= link_to wine_path(@wine_detail), :class => [:btn_gray, :float_r] do %>
			<span>返回</span>
			<% end %>

			<h1 class="wine_name_ch"><%= raw @wine_detail.cname %>的关注者</h1>
			<div class="clear"></div>
		</div>
		<div class="wp_space_line ptb30">

			<ul class="userlist">
				<% @followers.each_with_index do |user, index| %>
				<li>
					<div class="userpic">
						<%= link_to_user user, 
						                 user_path(user, :trailing_slash => true), 
						                 {:with_avatar => true, :avatar_version => :middle},
						                 {:size => "50x50"} %>
					</div>
					<div class="userinfo">
						<div class="username">
								<%= link_to_user user, user_path(user, :trailing_slash => true) %>
						</div>
						<div class="userlocation"><%= user.city %></div>
					</div>
				</li>
				<% if ((index + 1) % 3) == 0 %>
				<div class="clear"></div>
				<% end %>

				<% end %>
				<div class="clear"></div>
			</ul>


			<div class="clear"></div>
			<div class="pagination">
				<%= paginate @followers %>
			</div>

		</div>
	</div>


	<div id="wp_right">
		<%= render "wine_details/share/resource" %>
		<%= render "wine_details/share/spec"%>
		<%= render "wine_details/share/score"%>
		<%= render "wine_details/share/special_comments"%>
		<%= render "wine_details/share/price"%>
		<%= render "wine_details/share/vintage"%>
		<div class="">
			 <%= link_to feedback_path(:for => "error_feedbacks" ), :class => "btn_gray" do %>
      			<span>信息纠错与补充</span>
    		<% end %>
		</div>
	</div>
	<div class="clear"></div>   

