<% content_for :title, @title%>
<% content_for :css do %>
	<%= stylesheet_link_tag :wine, :notes, :thumb %>
<% end %>

<div id="wp_left">
	  <div class="wp_space_line top"> 
        <%= link_to new_note_path(:wine_detail_id => @wine_detail.id, :step => :first),:class => "btn_gray float_r" do %>
          <span>写品酒辞</span>
        <% end %>  
        <h1 class="wine_name_ch"><%= @wine_detail.cname %>的品酒辞</h1>
        <div class="clear"></div>
    </div>
    <div class="wp_space_line ptb30">
    	<ul class="notes_list">
        <% @wine_notes.each do |wine_note| %>
        	<li class="clearfix">
        	  <div class="left">
             <%= link_to cover(wine_note[:photo], 'customer', '100x100', '100x100'), note_path(wine_note[:note]) %>
            </div>
            <div class="right">
           	  <span class="date  float_r"><%= wine_note[:note].created_at.to_s(:cn_short) %></span>
              <p>来自 <%= link_to wine_note[:user].username, user_path(wine_note[:user]) %> 的品酒辞</p>
              <p class="mb10">年份：<%= wine_note[:wine].vintage %>年
                | 评分：
                <span><%= star_rate_tag(wine_note[:wine].rating) %></span>
              </p>
              <p><%= wine_note[:wine].comment %></p>
              <p><%= link_to '详细 》', note_path(wine_note[:note]) %></p>
            </div>
            <div class="clear"></div>
          </li>
        <% end %>
      </ul>
      <div class="clear"></div>
	    <div class="pagination">
	        <%= paginate @wine_notes %>
	    </div>
    </div>
</div>
<div id="wp_right">
  <%= render "wine_details/share/resource" %>
  <%= render "wine_details/share/spec"%>
  <%= render "wine_details/share/score"%>
  <%= render "wine_details/share/special_comments"%>
  <%= render "wine_details/share/price"%>
  <%= render "wine_details/share/vintage"%>
       
  <div class="">
    <%= link_to feedback_path(:for => "error_feedbacks" ), :class => "btn_gray" do %>
      <span>信息纠错与补充</span>
    <% end %> 
  </div>
</div>
<div class="clear"></div>   