<% unless @notes.nil? %> 
  <% @notes.each do |note| %>
      <div class="iw item">
        <%= render :partial => "user", :locals => {:note => note} %> 
        <div class="iw_img"> 
          <%= link_to cover(note[:photo], 'customer', '200x200', '200x200'), note_path(note[:note])%>
        </div>
        <div class="iw_info">
          <h1><%= link_to_cname note[:wine] %></h1> 
          <h2><%= link_to_ename note[:wine] %></h2>
          <p class="iw_action"><%= star_rate_tag(note[:wine].rating) %></p>
        </div> 
        <div class="iw_main">
          <ul> 
             <%= truncate(note[:wine].comment, :length => 100) %>
          </ul>
        </div>
        <div class="iw_more">
            <%= link_to "查看完整评酒辞", note_path(note[:note]) %>
        </div>
      </div>
  <% end %> 
<% else %> 
 <p> 还有没有数据. </p>
<% end %> 