
<div style="" id="comment_form" class="notes_feature">
  <% if params[:model] == 'nose' %>
    <h3 class="title">请选择香味特征</h3>
  <% elsif params[:model] == 'trait' %>
    <h3 class="title">请选择风气特征</h3>
  <% else %>
    <h3 class="title">请选择颜色</h3>
  <% end %>
  <div class="">
    <div class="left">
      <div class="search" id="search_trait">
        <div class="space">
          <%= image_submit_tag('icon/search_gray.gif', :class => :btn_feature_search, :id => :search_trait_button) %>
          <input name="" type="text" value="" class="main" placeholder="search" id="search_trait_input" />
        </div>
      </div>
      <ul class="feature_catalog" id="feature_catalog">
        <li class="current"><a href="javascript:void(0)" data-value=0>全部</a></li>
        <% @categories.each do |parent| %>
          <li><a href="javascript:void(0)" data-value=<%= parent.id %>><%= parent.name %></a></li>
        <% end %>
      </ul>
    </div>
    <div class="feature">
      <div id="traits_container">
        <p class="loading"><%= image_tag 'common/loading.gif' %></p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
  <div id="save_button"  class="share relative clearfix align_c">
    <a href="#" class="btn_gray_b"><span>保存</span></a>
  </div>
</div>
<div id="json" style="display: none;">
  <%= @traits.to_json(:methods => :select) %>
</div>
<div id="for_model" style="display: none;"><%= params[:model] %></div>
<script type="text/javascript">
  $(document).ready(function(){
    var _ref, collection, sidebarView, traitListView;
    window.app = (_ref = window.app) != null ? _ref : {};
    collection = new window.Traits(JSON.parse($('#json').html()));
    window.app.noteAppView = new NoteAppView({ collection: collection, forModel: $('#for_model').html()  });
    window.app.noteAppView.render();
    $("#json").remove();
    $("#for_model").remove();

  });
</script>