<% content_for :js do %>
  <%#= javascript_include_tag :notes_home %>
<% end %>
<% content_for :title, @title%>
<% content_for :css  do %>
<%= stylesheet_link_tag :home %>
<% end %>
<div id="container" >
    <%= render "timeline" %>
	<div style="display: none">
	  <nav class="pagination">
      <%= raw note_pagenate(@notes) %>
	  </nav>
	</div>
	<div class="clear"></div>
</div>  
<div class="loading" id="waterfall_loading" style="display: none">
  <%= image_tag "common/loading.gif", :size => "16x16", :alt => "loading", :align => :absmiddle %>
  <span>更多的内容正在载入中，请稍等...</span>
</div> 
<p align="center" class="end_waterfall_text_info"></p>
<%= render "layouts/waterfall_js" %>
<script type="text/javascript">
  $(document).ready(function(){
      $('.item').live('mouseenter', function(){
          $(".action", this).show();
      });

      $('.item').live('mouseleave', function(){
          $(".action", this).hide();
      });
      $(".submit_a").live('click', function(){
          $(this).parents('form').submit();
          return false;
      })
  });
</script>