<% content_for :title , @title %>
<% content_for :css do %>
  <%= stylesheet_link_tag :notes %>
<% end %>
<%= content_for :js do %>
  <script type="text/javascript">

  var timeout         = 100;
  var closetimer		= 0;
  var ddmenuitem      = 0;

  // open hidden layer
  function mopen(id)
  {
  // cancel close timer
  mcancelclosetime();

  // close old layer
  if(ddmenuitem) ddmenuitem.style.visibility = 'hidden';

  // get new layer and show it
  ddmenuitem = document.getElementById(id);
  ddmenuitem.style.visibility = 'visible';

  }
  // close showed layer
  function mclose()
  {
  if(ddmenuitem) ddmenuitem.style.visibility = 'hidden';
  }

  // go close timer
  function mclosetime()
  {
  closetimer = window.setTimeout(mclose, timeout);
  }

  // cancel close timer
  function mcancelclosetime()
  {
  if(closetimer)
  {
  window.clearTimeout(closetimer);
  closetimer = null;
  }
  }

  // close layer when click-out
  document.onclick = mclose;
  // -->
  </script>

<% end %>
<div id="comment_form"  style="display: none" >

</div>
<div class="whitespace notes">
<div class="left">
  <div class="user_space">
    <div class="info2">
      <span class="date"><%= @note.note.created_at.to_s(:cn_short) %></span>
      <span class="form">来自<%= link_to_agent(@note.note.agent)%></span>
    </div>
    <div class="img">
     <%= link_to(image_tag(avatar(@user, :middle), :size => '50x50'), user_path(@user)) %>
    </div>
    <div class="info">
      <span class="name"><%= link_to @user.username, user_path(@user) %></span>
      <span class="location"><%=  @note.location.location %></span>
    </div>
    <div class=""></div>
    <div class="clear"></div>
  </div>
  <div class="notes_img_detail">
    <div class="sharebar">
      <div id="manage">
        <% if is_login_user?(@user) %>
          <p>
            <a href="#" onmouseover="mopen('mbox')" onmouseout="mclosetime()">
              <%= image_tag('icon/manage_w.png', :size => '21x21', :alt => '管理') %>
            </a>
          </p>
          <div id="mbox" onmouseover="mcancelclosetime()" onmouseout="mclosetime()">
            <%= link_to "编辑品酒辞", app_edit_note_path(@note.id), :class => "icon_edit2" %>
            <%= link_to "删除品酒辞", note_path(@note.id), :method => :delete, :confirm => "确认删除吗？", :class => "icon_cancle" %>
          </div>
        <% end %>
      </div>
      <ul>
        <li class="collect">
          <%= follow_note(@note.id) %>
        </li>
        <span class="share-dropbox">
          <li class="share ">
            <%= link_to image_tag("icon/share.png", :size => '21x17', :align => :absmiddle), "javascript:void(0);", :style => "height:20px;" %>
          </li>
          <div class="dropbox" style="display:none;">
            <div class="com_s clearfix">
              <% wine = @note.wine %>
              <%=render "share/sns_icons",
                          :image_url =>  @note.photo.sns_share_url,
                          :title => note_sns_title,
                          :summary => note_sns_summary(wine.show_vintage, 
                                                      wine.sName, 
                                                      wine.rating, 
                                                      wine.comment),
                          :url => note_url(@note.id),
                          :float => "normal",
                          :no_content => true
                           %>
            </div>
          </div>
        </span>
        <li class="like">
          <%= render "liked" %>
        </li>
      </ul>
    </div>
    <%= cover(@note.photo, 'customer', '590x590') %>
  </div>
  <div class="notes_winename">
    <div class="star">
      <%= star_rate_tag(@note.wine.rating)%>
    </div>
    <div class="name">
      <h1 class="ch"><%= link_to_cname @note.wine %></h1>
      <h1 class="en"><%= link_to_ename @note.wine %></h1>
    </div>
  </div>
  <div class="section">
    <div class="title">
      <h2>简评</h2></div>
    <div class="content">
      <% if @note.wine.comment.present?%>
        <p>
          <%= @note.wine.comment %>
        </p>
      <% else %>
        无
      <% end %>
    </div>
  </div>
  <div class="section">
    <div class="title">
      <h2>详细信息</h2></div>
    <div class="content">
      <table class="notes_table" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th>产区</th>
          <td><%=  @note.wine.region_zh %><br />
            <%=  @note.wine.region_en %></td>
        </tr>
        <tr>
          <th>类型</th>
          <td><%= wine_style(@note.wine.style) %></td>
        </tr>
        <tr>
          <th>葡萄酒品种</th>
          <td><%= varieties(@note.wine.varienty) %> </td>
        </tr>
        <tr>
          <th>酒精度</th>
          <td><%= alcohol(@note.wine.alcohol) %></td>
        </tr>
        <tr>
          <th>价格</th>
          <td> <%= price(@note.wine.price) %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="section">
    <div class="title">
      <h2>高级品鉴记录</h2></div>
    <div class="content">
      <table class="notes_table" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th><span class="f1">外观</span></th>
          <td>
            <%= @note.appearance.text %>
            <ul class="feature">
              <li>
                <%= show_color(@note.appearance.color_image_name) %>
                <br />
                <%= @note.appearance.color_text %>
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <th><span class="f2">香气</span></th>
          <td>
            <%= @note.nose.text %>
            <ul class="feature">
              <%= raw nose_aroma(@note.nose.aroma) %>
            </ul>
          </td>
        </tr>
        <tr>
          <th><span class="f3">口感</span></th>
          <td>
            <%= @note.palate.text %>
            <ul class="feature">
              <%= raw nose_aroma(@note.palate.flavor) %>
            </ul>
          </td>
        </tr>
        <tr>
          <th><span class="f4">结论</span></th>
          <td>
            <%= @note.conclusion.text  %><br />
            适饮期限为：<%= drinkwindow(@note.conclusion.drinkwindow) %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="section last">
    <div class="title">
      <%= link_to comment_note_path(@note.id, :fancy_box => true), :class => "btn_gray float_r font12 ajax", :remote => true do %>
        <span>我要留言</span>
      <% end %>
      <h2>留言 <span class="font12 more">（共<%= @comments.total_count %>条）</span></h2>
    </div>
    <div class="content">
      <ul class="comment_list">
        <% @comments.each do |comment| %>
          <li>
            <div class="userpic">
              <%= link_to_user comment.user, user_path(comment.user, :trailing_slash => true), 
                              {:with_avatar => true, :avatar_version => :middle},
                               {:width => 50, :height => 50, :alt => comment.user.username} %>
            </div>
            <div class="main">
              <div class="username">
                <%= link_to comment.user.username, user_path(comment.user) %>
                <span class="date"><%= comment.created_at.to_s(:normal) %></span>
              </div>
              <div class="content"><%= comment.body %></div>
            </div>
          </li>
        <% end %>
        <div class="clear"></div>
      </ul>
      <div class="pagination">
        <%= paginate @comments %>
      </div>
    </div>
  </div>

</div>
<div class="right">
  <div class="sidebox">
    <%= link_to (image_tag 'common/notes_ad.jpg', :size => '250x340'), 'http://www.iwine.com/notes/app/' %>
  </div>
  <div class="sidebox">
    <%= raw add_similar_note(@note) %>
  </div>
  <div class="sidebox">
    <div class="title">
      <span class="more">
        <%= link_to_wine_notes(@note.wine.detail) %> 
      </span>
      <h3>他们也品鉴了这支酒</h3>
    </div>
    <div class="side_notes">
      <% if @wine_note_users.present? %>
        <% @wine_note_users.each do |user_note| %>
          <dl class="clearfix">
            <dt>
              <%= link_to(image_tag(avatar(user_note[:user], :middle), :size => '50x50'), user_path(@user)) %>
            </dt>
            <dd>
              <p><%= link_to user_note[:user].username, user_path(user_note[:user]) %></p>
              <p class="info">年份：<%= user_note[:vintage] %></p>
              <p><%= star_rate_tag(user_note[:note].rating) %></p>
              <p><%= link_to '详细 》', note_path(user_note[:note]) %></p>
            </dd>
            <div class="clear"></div>
          </dl>
        <% end %>
      <% else  %>
        无
      <% end %>
    </div>
  </div>
  <div class="sidebox">
    <div class="title">
      <span class="more">
        <%= link_to '更多', notes_user_path(@user) %>
      </span>
      <h3>他还品鉴了这些酒</h3>
    </div>
    <div class="side_notes">
      <% if @user_notes.present? %>
        <% @user_notes.each_with_index do |user_note,i| %>
          <% if i < 5 %>
            <dl class="clearfix">
              <dt>
                <%= link_to cover(user_note[:photo], 'customer', '70x70', '70x70'), note_path(user_note[:note]) %>
              </dt>
              <dd class="info">
                <h3 class="zh">
                  <%= link_to user_note[:wine].name_zh, note_path(user_note[:note]) %>
                </h3>
                <h3 class="en">
                  <%= link_to user_note[:wine].name_en, note_path(user_note[:note]) %>
                </h3>
                <p><%= star_rate_tag(user_note[:wine].rating) %></p>
                <p><%= link_to '详细 》', note_path(user_note[:note]) %></p>
              </dd>
              <div class="clear"></div>
            </dl>
          <% end %>
        <% end %>
      <% else %>
        无
      <% end %>
    </div>
  </div>
</div>
<div class="clear"></div>
</div>
<script type="text/javascript">
  $(".share-dropbox").mouseenter(function(){
    $(".dropbox").show();
  });
    $(".share-dropbox").mouseleave(function(){
    $(".dropbox").hide();
  });
</script>

