<header class="header">
  <div class="header-content grid-95 middle ">
    <div class="logo">
      <%= link_to (image_tag "v2/logo.png"), '/' %>
    </div>
    <div class="search">
      <%= form_tag("/search") do %>
        <%= text_field_tag :search,"", :class => 'search_input'  %>
        <%= image_submit_tag('v2/bt_search.png', :class => "submit") %>
      <% end %>
    </div>

      <%= render "share/user_fragment" %>

    <!-- header-content end -->
  </div>

</header>
