
    <div id="cellar">
      <div class="title_btn">
        <h1>我的酒窖 <span class="font12">(共<%= @cellar_items.size %>支)</span></h1>
      </div>

      <div class="sort_search mb20">
        <% if current_user.id == @user.id %>
            <div class="float_r">
              <%= link_to "/", :class => "btn_blue_b" do %>
                  <span>添加藏酒</span>
              <% end %>
            </div>
        <% end %>
        <div class="sort pt5">排序 <select name="">
          <option>价格</option>
          <option>数量</option>
        </select>
        </div>

        <div class="search"><%=  render "users/cellars/search_cellar_item", :object => @cellar %></div>
        <div class="clear"></div>
      </div>

      <div class="wine_data">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th class="img">酒标</th>
            <th class="year">年份</th>
            <th class="des">名称&描述</th>
            <th class="info">相关信息</th>
            <th class="count">数量</th>
            <th class="price">购入价格</th>
            <th class="place">所在地</th>
            <% if current_user.id == @user.id %>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            <% end %>
          </tr>
          <% @cellar_items.each do |item| %>
              <% wine_detail = item.wine_detail %>
              <tr>
                <td class="img">
                  <%= link_to (wine_label_tag wine_detail, :thumb_name => :thumb, :title => wine_detail.name, :width => 50, :height => 63, :alt => wine_detail.name), wine_path(wine_detail) %>
                </td>
                <td class="year">
                  <%= wine_detail.show_year %>
                </td>
                <td class="des">
                  <%= wine_detail.wine.name_zh %><br/>
                  <%= wine_detail.wine.origin_name %><br/>
                  <%= wine_detail.wine.region_path_zh %><br/>
                  <%= wine_detail.wine.winery.name_zh %><br/>
                  <%= wine_detail.wine.style.name_zh %>
                </td>
                <td class="info">
                  容量:<%= wine_detail.show_capacity %><br/>
                  购买时间:<%= item.buy_date.strftime("%Y年") unless item.buy_date.blank? %><br/>
                  酒商:<%= item.buy_from %><br/>
                  适饮年限:<%= drinkable(item) %>
                </td>
                <td class=“count”><%= item.number %></td>
                <td class="price"><%= number_to_currency(item.price,  :unit => "CNY") %></td>
                <td class="place"><%= item.location %></td>
                <% if current_user.id == @user.id %>
                    <td>
                      <%= link_to "修改", edit_mine_cellar_item_path(@cellar, item), :class => "icon_edit" %>
                    </td>
                    <td>
                      <%= link_to "删除", mine_cellar_item_path(@cellar, item), :method => :delete, :confirm => "确定删除吗？", :class => "icon_delet" %>
                    </td>
                <% end %>
              </tr>
          <% end %>
        </table>
      </div>

      <div class="pagination">
        <%= paginate @cellar_items, :outer_window => 2 %>
      </div>
    </div>
  </div>

