<!-- 关注的酒被评论 -->
<% if event_type == "new_comment" %>
    <div class="iw_main">
        <ul>
            <% secondary_actor.comments.recent(6).each do |comment|%>
                <%= render :partial => "share/short_comment", :locals => {:comment => comment} %>
            <% end %>
        </ul>
    </div>
    <div class="iw_more iw_more_comment">
        <%= link_to  wine_comments_path(secondary_actor) do %>
            共<%= secondary_actor.all_comments_count %>条评论
        <% end %>
    </div>
<!-- 酒被关注 -->
<% elsif event_type == "new_follow" %>
    <div class="iw_main">
        <ul>
            <% secondary_actor.follows.recent(6).each do |follow|%>
                <li>
                    <div class="left">
                        <%= link_to_user follow.user, user_path(follow.user, :trailing_slash => true), 
                            {:with_avatar => true, :avatar_version => :thumb}, 
                            {:width => 30, :height => 30} %>
                    </div>
                    <div class="right">
                        <p class="username">
                            <%= link_to_user follow.user, user_path(follow.user, :trailing_slash => true) %>
                        </p>    
                    </div>
                    <div class="clear"></div>
                </li>
            <% end %>
        </ul>
    </div>
    <div class="iw_more iw_more_follow">
        <%= link_to followers_wine_path(secondary_actor) do %>
            共<%= secondary_actor.followers_count  %>人关注
        <% end %>
    </div>
<!-- 关注的酒被加入酒窖 -->
<% elsif event_type == "add_to_cellar" %>
    <div class="iw_main">
        <ul>
            <li>
                <div class="left">
                    <%= link_to_user actor, 
                                   user_path(actor, :trailing_slash => true), 
                                   { :with_avatar => true, :avatar_version => :thumb },
                                   { :size => "30x30"} %>
                </div>
                <div class="right">
                    <p class="username">
                        <%= link_to_user actor, user_path(actor, :trailing_slash => true) %>
                    </p>
                </div>
                <div class="clear"></div>
            </li>
        </ul>
    </div>
    <div class="iw_more">
        <%= link_to "去看看他的酒窖", cellars_user_path(actor, actor.cellar)%>
    </div>
<% end %>