    <div id="cellar">
      <div class="title_btn">
        <h1><%= show_username(@user) %>的酒窖 <span class="font12">(共<%= @cellar_items.size %>款)</span></h1>
      </div>
      <div class="sort_search mb20">
        <% if @cellar_items.present?%>
            <div class="float_r">
               <%= link_to cellars_user_path(@user, @cellar, :format => "xls") ,:class => "btn_blue_b" do %>                   
                <span>导出数据</span>
              <% end %>
            </div>
        <% end %>
            <div class="float_r mr5">
              <% if is_login_user?(@user) %>
                <%= link_to add_cellar_items_path(@cellar, :step => 1), :class => "btn_blue_b" do %>
                  <span>添加藏酒</span>
                <% end %>
              <% end %>
            </div>         
        <% # TODO: 添加搜索功能  %>
        <div class="sort pt5">
          <select name="order" id="search_order">
          <% order_hash = { "0" => "排序","1" => "购买时间↑", "2" => "购买时间↓", "3" => "年份↑", "4" => "年份↓", "5" => "价格↑", "6" => "价格↓"} %>
          <% order_hash.each do |key, value| %>
            <option value="<%= key %>" <%= "selected='selected'" if (!params[:search_order] && key == '0') || (params[:search_order] == key) %>><%= value %></option>
          <% end %>
            </select>
        </div>
        <div class="search"><%=  render "search_cellar_item", :object => @cellar %></div>
        <div class="clear"></div>
      </div>



      <div class="wine_data">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th class="img">酒标</th>
            <th class="year">年份</th>
            <th class="des">名称</th>
            <th class="price">容量</th>
            <th class="count">数量</th>
            <th class="price">购买时间</th>
            <th class="price">购入价格</th>
            <th class="place">所在地</th>
            <% if is_login_user? @user %>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            <% end %>
          </tr>
          <% @cellar_items.each do |item| %>
              <% wine_detail = item.wine_detail %>
              <tr>
                <td class="img">
                  <div>
             
                    <%= raw item_non_public(item.private_type) %>
                    <%= link_to (wine_label_tag wine_detail, :thumb_name => :thumb, :title => wine_detail.name, :width => 50, :height => 63, :alt => wine_detail.name), wine_path(wine_detail) %>
                  </div>
                </td>
                <td class="year">
                  <%= wine_detail.show_year %>
                </td>
                <td class="des">
                  <%= wine_detail.wine.name_zh %><br/>
                  <%= wine_detail.wine.origin_name %>
                </td>
                <td class="price"><%= wine_detail.show_capacity %></td>         
                <td class="count"><%= item.number %></td>
                <td class="price"><%= item.buy_date.strftime("%Y年%m月%d日") unless item.buy_date.blank? %></td>
                <td class="price"><%= number_to_currency(item.price,  :unit => "CNY") %></td>
                <td class="place"><%= item.location %></td>
                <% if is_login_user? @user %>
                    <td>
                      <%= link_to "修改", edit_cellar_item_path(@cellar, item, :wine_id => item.wine_detail.wine_id), :class => "icon_edit" %>
                    </td>
                    <td>
                      <%= link_to "删除", cellar_item_path(@cellar, item), :method => :delete, :confirm => "确定删除吗？", :class => "icon_delet" %>
                    </td>
                <% end %>
              </tr>
          <% end %>
        </table>
      </div>

      <div class="pagination">
        <%= paginate @cellar_items, :outer_window => 2 %>
      </div>
    </div>

