<div id="cu_user_menu" class="clearfix">
  <span class="f14">《 <a href="community_albmu_list.html">返回相册首页</a></span>
</div>
<div class="title_btn clearfix">
  <h2>上传照片</h2>
</div>
<div id="leftcol" class="mr50">
  <div class="photo_upload">
    <p class="mb10">选择相册 
      <%= select("album", "name", @albums.collect {|album| [album.name, album.id] }, :selected => @select_album_id ) %>
      <a href="<%= url_for :action => 'new' %>" class="new_album fancybox.ajax icon_add_album ml20">新建相册</a>
    </p>
    <p class="mb10">
      <input type="file" id="photo_image" value="选择照片"/></p>
    <p><a href="javascript:$('input#photo_image').uploadifyUpload();" class="button_gray"><%= t :upload %></a></p>
    <p>提示：每次最多可以批量上传五张照片</p>
  </div>
</div>
<div id="rightcol">
  <p class="mb20">相册总容量1G</p>
</div>
<div class="clear"></div>
<script type="text/javascript">
  var upload_params = {
    "<%= key = Rails.application.config.session_options[:key] %>" : "<%= cookies[key] %>",
    "<%= request_forgery_protection_token %>" : encodeURI(encodeURIComponent('<%= form_authenticity_token %>')),
    'album_id' : '<%= @select_album_id %>',
    '_http_accept': 'application/javascript'
  };

  var uploaded_image_ids = [];

  $('input#photo_image').uploadify({
    'uploader'      : '/uploadify.swf',
    'script'        : '/mine/albums/upload',
    'fileDataName'  : 'photo[image]',
    'fileExt'       : '*.png;*.jpg;*.gif',
    'cancelImg'     : '/assets/cancel.png',
    'multi'         : true,
    'scriptData'    : upload_params,
    'auto'          : false,
	'simUploadLimit': 10,
	'queueSizeLimit': 10,

    onComplete: function(e, id, obj, response, data){
      if( response > 0 )
        uploaded_image_ids.push( response );
    },

    onAllComplete: function(){
      var hidden_field ,
        form = document.createElement( 'form' );

      form.action = '<%= url_for :action => 'upload_list' %>';
      form.method = 'post';

      hidden_field = document.createElement( 'input' );
      hidden_field.type = 'hidden';
      hidden_field.name = 'utf8';
      hidden_field.value = '✓';
      form.appendChild( hidden_field );

      hidden_field = document.createElement( 'input' );
      hidden_field.type = 'hidden';
      hidden_field.name = '<%= request_forgery_protection_token %>';
      hidden_field.value = '<%= form_authenticity_token %>';
      form.appendChild( hidden_field );

      hidden_field = document.createElement( 'input' );
      hidden_field.type = 'hidden';
      hidden_field.name = 'album_id';
      hidden_field.value = upload_params.album_id;
      form.appendChild( hidden_field );

      hidden_field = document.createElement( 'input' );
      hidden_field.type = 'hidden';
      hidden_field.name = 'photo_ids';
      hidden_field.value = uploaded_image_ids.join();
      form.appendChild( hidden_field );

      form.submit();
    }
  });

  $('#album_name').bind('change', function(){
    upload_params.album_id = this.value;
    $('input#photo_image').uploadifySettings( 'scriptData' , upload_params );
  });

$('.new_album').fancybox({padding:0, margin: 0, width: 450, height: 'auto', autoSize: false, modal: true});
</script>