<div class="top"></div>
<div class="middle">
<%= form_for @comment, :url =>  reply_comment_path(@comment), :remote => true, :method => :post do |f| -%>
  <table border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="td_1"><%= text_area_tag "comment[body]" %></td>
      <td class="td_2" valign="top"><%= image_submit_tag "v2/button/reply.png" %></td>
    </tr>
  </table>
<% end -%>

<% if @comment.children.all.size > 0 %>
<ul class="reply_list clearfix">

  <% @comment.children.all.each do |comment| %>

	<li>
    	<div class="userpic">
		  <%= link_to_user comment.user, user_path(comment.user, :trailing_slash => true), :with_avatar => true, :avatar_version => :thumb %>
			</div>
        <div class="main">
        	<div class="username">
						<%= link_to_user comment.user, user_path(comment.user, :trailing_slash => true) %>
						<span class="date"><%= comment.created_at.to_s(:normal) %></span>
					</div>
            <div class="content"> <%= comment.body %></div>
        </div>
    </li>
		 <% end %>
		</ul>
		<% end %>
<!-- middle end -->
</div>

<div class="botton"></div>

