<h3 class="title"> 我要评论 </h3>
<%= form_for [comment],  :validate => true do |f| -%>
<%= f.hidden_field :do %>
<div class="star_rate" id="wine_profile_star_bar">
  <table border="0" cellspacing="5" cellpadding="5">
    <tr>
      <td>评价:</td>
      <td>
        <ul id="stars">

        </ul>
      </td>
      <td>
        <input type="hidden" name="rate_value" value=<%= @comment.point || 0 %> />
        <span class="text_value"></span>
      </td>
    </tr>
  </table>
</div>
<div class="clear"> </div>
  <div class="text_area">
    <p class="label">简短评论: </p>
    <%= f.text_area :body,  :rows => 10, :cols => 25 %>
  </div>
  <div class="private">
    <%= f.check_box :private %>仅自己可见
  </div>
  <div class="share relative">
    分享到 <%= f.check_box :is_share %> 广播
    <%= image_submit_tag "v2/button/save_grey.png", :class => "absolute" %>
  </div>
<% end -%>

<script type="text/template" id="star_item">
  <%= image_tag 'base/star_gray.jpg', :width => 15, :height => 14 %>
 </script>