<% content_for :css do %>
  <%= theme_stylesheet_link_tag :wine, :thumb %>
<% end %>
<div id="wp_left">
  <div class="wp_space_line top">
    <%= link_to wine_comments_path(@wine_detail), :class => "btn_gray float_r" do %>
      <span>返回所有评论</span>
    <% end %>
    <h1 class="wine_name_ch"><%= @wine_detail.cname %></h1>
    <div class="clear"></div>
  </div>
  <div class="wp_space_line ptb30">
    <%= render "comments/share/comment_detail" %>
      <!--end wp_space_line-->
    </div>
  </div>

    <div id="wp_right">
      <%= render "wine_details/share/resource" %>
      <% cache("1000-#{@wine_detail.id}-#{@wine_detail.updated_at.to_i}-data") do %>
        <%= render "wine_details/share/spec"%>
      <% end %>
      <%= render "wine_details/share/score"%>
      <%= render "wine_details/share/special_comments"%>
      <%= render "wine_details/share/price"%>
      <%= render "wine_details/share/vintage"%>
      <div class="">
        <%= link_to feedback_path(:for => "error_feedbacks" ), :class => "btn_gray" do %>
          <span>信息纠错与补充</span>
        <% end %>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
