<% content_for :css do %>
  <%= theme_stylesheet_link_tag :wine, :thumb %>
<% end %>
<div id="wp_left">
  <div class="wp_space_line top">
    <%= link_to wine_photos_path(@wine_detail), :class => "btn_gray float_r" do %>
      <span>返回</span>
    <% end %>
    <%= link_to photo_upload_wine_path(@wine_detail), :class => [:btn_gray, :float_r, :mr5] do %>
      <span>上传照片</span>
    <% end %>
    <h1 class="wine_name_ch"><%= @wine_detail.cname %></h1>
    <div class="clear"></div>
  </div> 
  <div class="wp_space_line ptb30">
    <div class="album_left">
      <div class="mb20">
        <%= render :partial => "share/photo_page_number", :locals => {:parent => @wine_detail} %>
      </div>  
      <div class="photo">
        <%= image_tag @photo.image_url(:large_x) %>
      </div>
      <div class="info clearfix">
        <%= render :partial => 'photos/liked' %>
        <div class="share float_r">
          <%= render 'share/sns_icons',
            :image_url => sns_image_url(@photo, :thumb_name => :large),
            :title => sns_title(@wine_detail.origin_zh_name),
            :summary => "的图片",
            :url => request.url %>
          </div>
          <div><%= @photo.views_count %>浏览 | <%= @photo.comments_count %>评论</div>
        </div>
        <div class="comment">
          <div class="mb20 clearfix">
            <div class="title">
              <%= link_to wine_photo_path(@wine_detail, @photo), :class => "btn_gray float_r" do %>
                <span>返回</span>
              <% end %>
              <h3>评论</h3>
            </div>
          </div>
          <%= render "comments/share/comment_detail" %>
          <!--end comment-->
        </div>
      </div> 
    </div>
  </div>
  <div id="wp_right">
    <%= render "wine_details/share/resource" %>
    <% cache("1000-#{@wine_detail.id}-#{@wine_detail.updated_at.to_i}-data") do %>
      <%= render "wine_details/share/spec"%>
    <% end %>
    <%= render "wine_details/share/score"%>
    <%= render "wine_details/share/special_comments"%>
    <%= render "wine_details/share/price"%>
    <%= render "wine_details/share/vintage"%>
    <div class="">
      <%= link_to feedback_path(:for => "error_feedbacks" ), :class => "btn_gray" do %>
        <span>信息纠错与补充</span>
      <% end %>
    </div>
    <div class="clear"></div>
  </div> 
  <div class="clear"></div>
  <script type="text/javascript">
    $("ul.comment_tabs").tabs("div.panes > div");
    $("#ajax-tab").one('click', function(){
        $('#ajax-pane').load("/comments/<%= @comment.id%>/get_sns_reply");
        });
$(document).ready(function(){
    // "有用" 成功时，更新有用的数量
    $("a.vote").bind("ajax:success", function(event, data, textStatus, jqXHR){
      $(this).find("span.likes_count").text(data);
      });
    });
  </script>
