<% content_for :title, @title%>
<% content_for :css do %>
	<%= theme_stylesheet_link_tag :wine, :thumb %>
	<% end %>
	<div id="wp_left">
		
		<div class="wp_space_line top">
			<%= link_to wine_path(@wine_detail), :class => [:btn_gray, :float_r] do %>
			<span>返回</span>
			<% end %>

			<a href="#comment_body" class="btn_gray float_r mr5 add_comment"><span>添加评论</span></a>
			<h1 class="wine_name_ch"><%= raw @wine_detail.cname %>的评论</h1>
			<div class="clear"></div>
		</div>
		<div class="wp_space_line ptb30">
			<div class="sort">
				<% if params[:sort_by] == "hot" %>
				<span class="current">热门评论</span>
				<span><%= link_to "最新评论", wine_comments_path(@wine_detail, :sort_by => "new"), :class => 'new' %></span>
				<% elsif  params[:sort_by] == "new" %>
				<span><%= link_to "热门评论", wine_comments_path(@wine_detail, :sort_by => "hot"), :class => 'hot' %></span>
				<span class="current">最新评论</span>
				<% else %>
				<span class="current">热门评论</span>
				<span><%= link_to "最新评论", wine_comments_path(@wine_detail, :sort_by => "new"), :class => 'new' %></span>
				<% end %>
				<div class="clear"></div>
			</div>

			<%= render "comment_list" %>

			<div class="clear"></div>
			<div class="pagination">
				<%= paginate @comments %>
			</div>

		</div>
	</div>


	<div id="wp_right">
		<%= render "wine_details/share/resource" %>
		<%= render "wine_details/share/spec"%>
		<%= render "wine_details/share/score"%>
		<%= render "wine_details/share/special_comments"%>
		<%= render "wine_details/share/price"%>
		<%= render "wine_details/share/vintage"%>
		<div class="">
			<%= link_to feedback_path(:for => "error_feedbacks" ), :class => "btn_gray" do %>
      			<span>信息纠错与补充</span>
    		<% end %>
		</div>
	</div>
	<div class="clear"></div>   


	<script type="text/javascript" charset="utf-8">						
	$(document).ready(function(){
		
		$(".add_comment").click(function(e){
			e.preventDefault();
			var st=$(document).scrollTop();
			$(document).scrollTop(st);
			$(".comment_body").focus();
		});

	});
	</script>

