<%= form_for @register, :url => {:action => :update},  :html => { :class => 'form-horizontal'} do |f| %>
    <%= render 'share/error_messages', :target => @register %>
    <div class="main">
      <div class="required">
        <%= f.label :name_zh %>
        <%= f.text_field :name_zh, :class => "text name" %>
        多个名称用“；”隔开
      </div>
      <div class="required">
        <%= f.label :official_site %>
        http://<% if @register.official_site %><%= @register.official_site %><% else %><%= f.text_field :official_site, :class => "text name" %><% end %>
      </div>
      <div class="optional">
        <%= f.label :drinkable_begin %>
        <%= f.date_select :drinkable_begin, :discard_day => true, :discard_month => true, :start_year =>  1990, :end_year => Time.now.year + 150  %>
        至
        <%= f.date_select :drinkable_end, :discard_day => true, :discard_month => true, :start_year =>   1990, :end_year => Time.now.year + 150 %>
      </div>
      <div class="optional">
        <label>葡萄品种</label>
        <div class="content2">
          <%= f.text_field :variety_name_value, :name => "wines_register[variety_name_value][]", data: { autocomplete_source: '/api/wine_varieties/index' }, :class => "text"  %>
          成分百分比 <%= f.text_field :variety_percentage_value, :name => "wines_register[variety_percentage_value][]", :id => 'new_variety', :size => 10, :class => "text percent" %>% <%= link_to "", "javascript:void(0);", :class => "icon_add", :id => "create_variety" %><span class="variety_percentage_error"></span>
          <%= render "variety_percentage", :object => @register %>
        </div>

      </div>
      <div class="optional">
        <%= f.label :alcoholicity %>
        <td><%= f.text_field :alcoholicity, :size => 10, :class => "text percent" %> %
      </div>
      <div class="optional">
        <label>评分</label>
        <div class="content2">
          <%= f.fields_for :special_comments do |s| %>
              评论家<%= s.text_field :name, :name => "special_comment[name][]", :id => "special_comment_name", :size => 20, :class => "text" %>
              得分<%= s.text_field :score, :name => "special_comment[score][]", :id => "special_comment_score", :size => 10, :class => "text percent"%>
              适饮年限
              <%= s.date_select :drinkable_begin, {:discard_day => true, :discard_month => true, :start_year =>   1990, :end_year => Time.now.year + 150}, {:name => "special_comment[drinkable_begin][]"} %>至
              <%= s.date_select :drinkable_end, {:discard_day => true, :discard_month => true, :start_year =>   1990, :end_year => Time.now.year + 150}, {:name => "special_comment[drinkable_end][]"}%>
              <%= link_to "", "javascript:void(0);", :id => "create_special_comment", :class => "icon_add" %>
          <% end %>
          <%=  render "special_comment", :object => @register %>
        </div>
      </div>
      <div class="optional">
        <%= f.label :description %>
        <%= f.text_area :description, :class => "wine_intro" %>
      </div>
      <div class="mt10">
        <label>&nbsp;</label>
        <div class="content"><%= link_to "提交信息", "#", :class => "btn_gray mr5 complete_register" %></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
<% end %>