<p><b>亲爱的<%= link_to user_url(@parent_user) do %>
     	<%= @parent_user.username %>：
      <% end %>
</b></p>
<p><b><%= link_to user_path(@reply_user) do %>
	   <%= @reply_user.username %>
      <% end %>
      回复了您的评论：
</b></p>
<p><b><%= @parent_comment.body %></b></p>
<p>回复内容：</p>
<p>
	
	<% @children.each do |comment| %>
	<b><%= comment.user.username %>:</b>
    	<%= comment.body %>
    	<br />
    <% end %>
</p>
<p><%= reply_email(@parent_comment) %></p>
<p><b>--爱红酒（iWine.com）</b></p>
<p>(这是一封系统自动产生的email，请勿回复。)</p>
