<% content_for :title, @title%>
<div class="whitespace normal search">
  <div class="left">
    <div class="searchbox">
      <a href="<%= url_for( '/searches/results?tab=all&word=' )%>" onclick="this.href+=$('#search_input').val()" id="search_link" class="btn_gray float_r">
        <span>搜索</span>
      </a>
      <input class="text"  name="" id="search_input" type="text" placeholder="请输入酒款或酒庄的名称" value="<%= params[:word] %>"/>
    </div>
    <div class="clear"></div>
    <div class="tabs">
      <ul>
        <li class="<%= @all_tab%>">
          <a href="<%= url_for( '/searches/results?tab=all&word=' + params[:word] )%>">全部</a>
        </li>
        <li class="<%= @wine_tab%>">
          <a href="<%= url_for( '/searches/results?tab=wine&word=' + params[:word] )%>">酒款</a>
        </li>
        <li class="<%= @winery_tab%>">
          <a href="<%= url_for( '/searches/winery?word=' + params[:word] )%>">酒庄</a>
        </li>
      </ul>
    </div>
    <div class="clear"></div>
    <% if @all_wines.blank? && @wineries.blank? %>
    不好意思，没有找到相关内容
    <% else %>
    <div class="nor_notice mb20">太好了，我们找到了一些相关内容：</div>
    <% if @wineries.present? && @all_tab == 'current'%>
    <div class="winery_result">
      <ul>
        <% @wineries[0..1].each do|winery| %>
        <li>
          <%= link_to  winery_path(winery) do %>
            <%= winery_label_tag winery, :thumb_name => :thumb_x, :size => "70x70", :alt => winery.origin_name %>
          <% end %>
          <div class="meta">
            <h1 class="zh">
              <%= link_to winery.name_zh, winery_path(winery) %>
            </h1>
            <h1 class="en">
              <%= link_to winery.origin_name, winery_path(winery) %>
            </h1>
            <p class="location"><%= winery.region_path_zh %></p>
          </div>
        </li>
        <% end %>
        <li class="more">
          <a href="<%= url_for( '/searches/winery?word=' + params[:word] )%>">更多...</a>
        </li>
        <div class="clear"></div>
      </ul>
      <div class="clear"></div>
    </div>
    <% end %>
    <div class="wine_list">
      <% @wines.each do |wine| %>
        <div class="box590">
          <div class="box590_t"></div>
          <div class="box590_main">
            <% releast_detail = wine.details.order("year desc").first  %>
            <%= link_to wine_path(releast_detail) do %>
               <%= wine_label_tag(wine, :alt => releast_detail.origin_zh_name, :thumb_name => "thumb_x", :size => "70x70" )%>
            <% end %>
            <div class="info">
              <h1 class="zh"><%= link_to wine.name_zh, wine_path(releast_detail) %></h1>
              <h1 class="en"><%= link_to wine.origin_name, wine_path(releast_detail) %></h1>
              <p><strong>年份：</strong></p>
              <p class="year">
                <% wine.details.order("year desc").each do |detail| %>
                    <span> <%= link_to detail.show_year, wine_path(detail)  %></span>
                <% end %>
              </p>
            </div>
            <div class="clear"></div>
          </div>
          <div class="box590_b"></div>
        </div>
      <% end %>
    </div>

      <div class="pagination">
        <%= paginate @wines %>
      </div>



    
      <!--
      <span class="disabled"> < </span>
      <span class="current">1</span>
      <a href="#?page=2">2</a>
      <a href="#?page=3">3</a>
      <a href="#?page=4">4</a>
      <a href="#?page=5">5</a>
      <a href="#?page=6">6</a>
      <a href="#?page=7">7</a>...<a href="#?page=199">199</a>
      <a href="#?page=200">200</a>
      <a href="#?page=2"> > </a>
      <br />
      -->
 
    <% end %>
  </div>
  <div class="right">
    <div class="sidebar">
      <div class="title">或许你会对这些人感兴趣...</div>
      <%= render "users/share/recommend_users" %>
    </div>
  </div>
  <div class="clear"></div>
</div>