<div class="whitespace normal search">
  <div class="left">
    <div class="searchbox">
      <a href="#" class="btn_gray float_r"><span>搜索</span></a>
      <input class="text" name="" type="text" placeholder="请输入酒款或酒庄的名称" />
    </div>
    <div class="clear"></div>
    <div class="tabs">
      <ul>
        <li class="<%= @all_tab%>">
          <a href="<%= url_for( '/searches/results?tab=all&word=' + params[:word] )%>">全部</a>
        </li>
        <li class="<%= @wine_tab%>">
          <a href="<%= url_for( '/searches/results?tab=wine&word=' + params[:word] )%>">酒款</a>
        </li>
        <li class="<%= @winery_tab%>">
          <a href="<%= url_for( '/searches/results?tab=winery&word=' + params[:word] )%>">酒庄</a>
        </li>
      </ul>
    </div>
    <div class="clear"></div>
    <% if @entries['wines'].blank? && @entries['wineries'].blank? %>
    不好意思，没有找到相关内容
    <% else %>
    <div class="nor_notice mb20">太好了，我们找到了一些相关内容：</div>
    <div class="winery_result">
      <% if @entries['wineries'].present? %>
      <ul>
        <% @entries['wineries'][1..2].each do|winery| %>
        <li>
          <a href="<%= url_for( '/winery' + winery.id.to_s )%>">
            <img src="<%= winery.logo_url(:thumb)%>" width="70" height="70" alt="winery name" />
          </a>
          <div class="meta">
            <h1 class="zh">
              <a href="<%= url_for( '/winery' + winery.id.to_s )%>"><%= winery.name_zh%></a>
            </h1>
            <h1 class="en">
              <a href="<%= url_for( '/winery' + winery.id.to_s )%>"><%= winery.name_en%></a>
            </h1>
            <p class="location"><%= winery.region_path_zh(winery.region_tree_id)%></p>
          </div>
        </li>
        <% end %>
        <li class="more"><a href="">更多...</a></li>
        <div class="clear"></div>
      </ul>
      <% end %>
      <div class="clear"></div>
    </div>
    <% @entries['wines'].each do |wine| %>
    <div class="wine_list">
      <div class="box590">
        <div class="box590_t"></div>
        <div class="box590_main">
          <a href="<%= url_for( '/wines/' + wine.id.to_s )%>">
            <%= wine_cover_tag( wine , :width => 70 , :height => 70 )%>
          </a>
          <div class="info">
            <h1 class="zh">
              <a href="<%= url_for( '/wines/' + wine.id.to_s )%>">
                <%= wine.cname%>
              </a>
            </h1>
            <h1 class="en">
              <a href="<%= url_for( '/wines/' + wine.id.to_s )%>">
                <%= wine.ename%>
              </a>
            </h1>
            <p><strong>年份：</strong></p>
            <p class="year"><span><a href="wine_profile.html">2010</a></span><span><a href="wine_profile.html">2009</a></span><span><a href="#">2008</a></span><span><a href="#">2005</a></span><span><a href="#">2003</a></span><span><a href="#">2001</a></span><span><a href="#">2000</a></span></p>
          </div>
          <div class="clear"></div>
        </div>
        <div class="box590_b"></div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
  <div class="right">
    <div class="sidebar">
      <div class="title">或许你会对这些人感兴趣...</div>
      <ul class="userlist">
        <li>
          <div class="userpic"><a href="#"><img src="images/userimage/04.jpg" width="50" height="50" /></a></div>
          <div class="userinfo">
            <p class="username"><a href="#">不良夏生</a><span class="location">上海</span></p>
            <p class="statu"><a href="#" class="btn_gray"><span>加关注</span></a></p>
          </div>
        </li>
        <li>
          <div class="userpic"><a href="#"><img src="images/userimage/05.jpg" width="50" height="50" /></a></div>
          <div class="userinfo">
            <p class="username"><a href="#">aluoaluo</a><span class="location">北京</span></p>
            <p class="statu"><a href="#" class="btn_gray"><span>加关注</span></a></p>
          </div>
        </li>
        <li>
          <div class="userpic"><a href="#"><img src="images/userimage/07.jpg" width="50" height="50" /></a></div>
          <div class="userinfo">
            <p class="username"><a href="#">我就是秀秀</a><span class="location">香港</span></p>
            <p class="statu"><a href="#" class="btn_gray"><span>加关注</span></a></p>
          </div>
        </li>
        <li>
          <div class="userpic"><a href="#"><img src="images/userimage/01.jpg" width="50" height="50" /></a></div>
          <div class="userinfo">
            <p class="username"><a href="#">不良夏生</a><span class="location">上海</span></p>
            <p class="statu"><a href="#" class="btn_gray"><span>加关注</span></a></p>
          </div>
        </li>
        <li>
          <div class="userpic"><a href="#"><img src="images/userimage/08.jpg" width="50" height="50" /></a></div>
          <div class="userinfo">
            <p class="username"><a href="#">aluoaluo</a><span class="location">北京</span></p>
            <p class="statu"><a href="#" class="btn_gray"><span>加关注</span></a></p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="clear"></div>
</div>