<div class="friends">
  <div id="main_t" class="clearfix">
    <h1>添加好友</h1>
    <div class="clear"></div>
  </div>

  <div class="box box_1">
    <h3>通过社交平台寻找好友</h3>
    <% if SNS_SERVERS.present? %>
    <ul>
      <% SNS_SERVERS.each do |sns_name| %>
      <li>
        <% if @availabe_sns[sns_name].present? %>
          <%= link_to_sns_icon true, sns_name, '/friends/sync?sns_name=' + sns_name %>
        <% else %>
          <%= link_to_sns_icon false, sns_name, '/friends/sync?sns_name=' + sns_name %>
        <% end %>
      </li>
      <% end %>
    </ul>
    <% end %>
    <div class="buttons">
      <%= link_to setting_sns_friends_path, :class => "btn_gray" do %>
        <span>更改同步设置</span>
      <% end %>
    </div>
    <!-- .box end -->
  </div>
  <div class="clear"> </div>
  <div class="box box_3">
    <h3>通过邮件邀请好友加入</h3>
    <%= form_tag :action => "email_invite" do %>


    <div class="email_address">
      <%= text_area_tag "email_address", nil, :placeholder => '输入邮件地址' %>
    </div>

    <div class="description">
      <%= text_area_tag "description", nil,  :placeholder => '输入邀请留言' %>
    </div>
    <div class="name">
      <%= text_field_tag "name", nil, :placeholder => "输入你的姓名" %>
    </div>
    <p class="submit"> <%= image_submit_tag "v2/button/send_invite.png" %> </p>

<% end -%>

</div>
<!-- friends end -->
</div>
