<% content_for :css do  %>
    <%= stylesheet_link_tag "setting" %>
<% end %>
<div class="whitespace friends">
	<h1 class="main_title">添加好友</h1>
	<%= render :partial => "friends/search", :object => @search %>
	<div class="mt20">
		<% if @users.present? %>
			<p class="mb30">
				<span class="font14">共找到<%= @users.count %> 个好友</span>
				<%= link_to follow_user_path(current_user, :user_id => @user_ids), :class => "btn_gray mr5", :method => :put do %>
					<span>全部加为好友</span>
				<% end %>
				<%= link_to find_friends_path, :class => "btn_gray" do %>
					<span>选择其他方式寻找好友</span>
				<% end %>
			</p>
			<ul class="userlist">
				<% @users.each do |user| %>
					<li>
						<div class="userpic">
							<%= link_to user_path(user) do %>
								<%= user_avatar_tag(user, :thumb_name => :thumb, :width => 50, :height => 50, :alt => user.username) %>
							<% end %>
						</div>
						<div class="userinfo">
							<div class="username"><%=link_to user.username, user_path(user) %> </div>
							<p>
								<% if current_user.is_following(user.id)  && user.is_following(current_user.id) %>
									<span class="icon_fol_e">互相关注</span>
         <span class="cancl_fol">
           <%= link_to "(取消)", unfollow_user_path(user), :method => :put %>
         </span>
								<% elsif current_user.is_following user.id %>
									<span class="icon_fol">已关注</span>
         <span class="cancl_fol">
           <%= link_to "(取消)", unfollow_user_path(user), :method => :put %>
         </span>
								<% else %>
									<%= link_to follow_user_path(user), :class => "btn_gray", :method => :put do %>
										<span>加关注</span>
									<% end %>
								<% end %>
							</p>
						</div>
					</li>
				<% end %>
				<div class="clear"></div>
			</ul>
		<% else %>
			<p class="mb30"><span class="font14">啊哦，没有找到你的朋友哎...</span></p>
			<p>
				<%= link_to find_friends_path, :class => "btn_gray" do %>
					<span>选择其他方式寻找好友</span>
				<% end %>
			</p>
		<% end %>
	</div>
</div>
