<div class="friends">
  <div id="main_t" class="clearfix">
    <h1>添加好友</h1>
    <div class="clear"></div>
  </div>

  <div class="box box_1">
    <h3>通过社交平台寻找好友</h3>
    <% if SNS_SERVERS.present? %>
    <ul>
      <% SNS_SERVERS.each do |sns_name| %>
      <li>
        <% if @availabe_sns[sns_name].present? %>
          <%= link_to_sns_icon true, sns_name, '/friends/sync?sns_name=' + sns_name %>
        <% else %>
          <%= link_to_sns_icon false, sns_name, '/friends/sync?sns_name=' + sns_name %>
        <% end %>
      </li>
      <% end %>
    </ul>
    <% end %>
    <div class="buttons">
      <%= link_to_button "search_all_syncs", "/" %>
      <%= link_to_button "syncs_settings", "/" %>
    </div>
    <!-- .box end -->
  </div>
  <div class="clear"> </div>

<% if @authorized %>
<div class="result">
<table width="100%" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td valign="middle" width="100px" >
      共找到{<%= @recommend_friends.length %>}个好友
    </td>
    <td valign="top">
      <% if @recommend_friends.length > 0 %>
      <%= link_to_button "add_all_friends", "/friends/follow?user_id=" + @user_ids.join(',') %>
      <% end %>
      <%= link_to_button "chose_another_method", "/" %>
    </td>
  </tr>
</table>
<div class="person">
  <% @recommend_friends.each do|friend| %>
  <div class="person_item">
    <p class="avatar">  <%= link_to image_tag(friend.user.avatar,  :width => "60px", :height => "60px"), "/" %> </p>
    <p class="name"> <%= link_to friend.user.username, '/friends/follow?user_id=' + friend.user_id.to_s %>
    <p class="button"> <%= link_to_button "add_friend", '/friends/follow?user_id=' + friend.user_id.to_s %>
      <!-- person item end -->
  </div>
  <% end %>
  <div class="clear"> </div>
  <!-- person end -->
</div>
</div>
<% else %>
<div class="sync">
   <h3>您还没有设置<%= params[:sns_name] %>帐号</h3>
   <!------------------------------------------>
   <!-- TODO: big的ICON还未齐全， 请通知肖颖 -->
   <!------------------------------------------>
   <p><%= link_to_sync_button params[:sns_name], '/friends/new_sns?sns_name=' + params[:sns_name] %> <br />点击按钮绑定账号</p>
 </div>
<% end %>
<!-- friends end -->
</div>
</div>
