<%= render 'share/error_messages', :target => @cellar_item %>
<div class="left">
    <div class="optional">
      <label>酒名</label>
      <div class="content"><%= @wine_detail.name %></div>
    </div>
    <div class="optional">
      <label>年份</label>
      <div class="content"><%= @wine_detail.show_year %></div>
    </div>
    <div class="optional">
      <label>产区</label>
      <div class="content"><%= @wine_detail.region_path_zh(@wine.region_tree_id) %></div>
    </div>
    <div class="optional">
      <label>酒庄</label>
      <div class="content"><%= @wine.winery.name if @wine.winery%></div>
    </div>
    <div class="optional">
      <label>酒商</label>
      <div class="content"><%= f.text_field :buy_from, :class => 'text winemaker', :placeholder => '请输入酒商' %></div>
    </div>
    <div class="required">
      <label><span>*</span>容量</label>
      <div class="content">
        <%= f.select :capacity, APP_DATA['wines']['capacity'].collect{|i| [i, i]} %>
      </div>
    </div>
    <div class="required">
      <label><span>*</span>库存</label>
      <%= f.text_field :number, :class => 'text count' %>支
    </div>
    <div class="required">
      <label><span>*</span>所在地</label>
      <%= f.select :location, APP_DATA['users']['cellars']['item']['location'].collect{|i| [i, i]} %>
    </div>
    <div class="required">
      <label><span>*</span>购入价格</label>
      <%= f.text_field :price, :class => 'text price' %>元/支
    </div>
    <div class="optional">
      <label>购入时间</label>
      <%= f.date_select :buy_date, :discard_day => true, :discard_month => true, :start_year =>  1990, :end_year => Time.now.year  %>
    </div>
    <div class="optional">
      <label>适饮年限</label>
      <%= f.date_select :drinkable_begin, :discard_day => true, :discard_month => true, :start_year =>  1990, :end_year => Time.now.year + 150  %>至
      <%= f.date_select :drinkable_end, :discard_day => true, :discard_month => true, :start_year =>   1990, :end_year => Time.now.year + 150 %>年
    </div>
    <div class="optional">
      <label>尽自己可见</label>
      <%= f.check_box :private_type %>
    </div>
    <div class="optional">
      <label>&nbsp;</label>
      <div class="content">
        <a href=“#” class="btn_gray mr5 save"><span><%=  button_name %></span></a>
        <%= link_to cellar_path(@cellar), :class => "btn_gray" do %>
            <span>取消</span>
        <% end %>
      </div>
    </div>
    <div class="clear"></div>
</div>
<div class="right">
  <div class="wine_img">
    <%= wine_cover_tag( @wine_detail, :thumb_name => "thumb", :title => @wine_detail.name, :alt => @wine_detail.name )%>
  </div>
  <div class="clear"></div>
</div>