<ul class="notes_list">
    <% if @user_notes.present? %> 
        <% @user_notes.each_with_index do |user_note,i| %>
            <li class="clearfix"> 
                <div class="pic"> 
                    <% if user_note[:note].statusFlag.to_i == 1 %>
                      <span class="label_unpublic">草稿</span> 
                    <% end %> 
                    <%= link_to cover(user_note[:photo], 'customer', '100x100', '100x100'), note_path(user_note[:note]) %>
                </div>
                <div class="info">
                    <% if user_note[:user] == current_user %>
                        <%= link_to '', note_path(user_note[:note], :user_profile => true), :method => :delete,
                             :confirm => "确定删除吗？", :class => "icon_cancle float_r", :title => "删除品酒辞" %>
                           <% if user_note[:note].statusFlag == 1 %>
                              <%= link_to '', publish_note_path(user_note[:note]), :class => "icon_public float_r mr5",
                                :title => "发布品酒辞" %>
                           <% end %>
                        <%= link_to '', app_edit_note_path(user_note[:note]), :class => "icon_edit2 float_r mr5",
                            :title => "修改品酒辞" %>
                    <% end %>
                    <h3 class="zh">
                        <%= link_to user_note[:wine].name_zh, note_path(user_note[:note]) %>
                        <span class="date"><%= user_note[:note].created_at.to_s(:cn_short) %></span>
                    </h3>
                    <h3 class="en">
                        <%= link_to user_note[:wine].name_en, note_path(user_note[:note]) %>
                    </h3>
                    <p class="star"><%= star_rate_tag(user_note[:wine].rating) %></p>
                    <p><%= user_note[:wine].comment %></p>
                    <p><%= link_to '详细 》', note_path(user_note[:note]) %></p>
                </div>          
                <div class="clear"></div>
            </li> 
        <% end %>
    <% else %>
        无
    <% end %>
</ul>