<% if !@followers.blank? %>
<ul class="userlist">
<% @followers.map_user.each_with_index do |user, index| %>
<li>
  <div class="userpic">
    <%= link_to_user user, 
    user_path(user.id,:trailing_slash => true), 
    {:with_avatar => true, :avatar_version => :large}, 
    {:width => 50, :height => 50} %>
  </div>
  <div class="userinfo">
    <div class="username">
      <%= link_to_user user, user_path(user,:trailing_slash => true) %> 
    </div>
    <div class="userlocation"><%= user.city %></div>
    <% if user_signed_in? %>
    <% if current_user.is_following user.id %>
    <p>    
      <span class="icon_fol_e mr5">互相关注
        <span class="cancl_fol">
          <%= link_to "(取消)", unfollow_user_path(user) %> </span>
        </span>
      </span>    
    </p>
    <% else %>
    <p>
       <%= link_to follow_user_path(user), :class => "btn_gray" do  %>
           <span>加关注</span>
       <% end %>    
    </p>
    <% end %> 
    <% else %>  
    <%= link_to follow_user_path( user ), :class => "btn_gray" do  %>
        <span>加关注</span>
    <% end %>         
    <% end # if user_signin? %>
  </div>
</li>
  <% if (index+1) % 3 === 0 %>
  <% end %>
<% end %>
</ul>
<% else %>
<p>暂时没有粉丝！ </p>
<% end %>
