<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= content_for?(:title) ? content_for(:title) : 'Patrick' %></title>
    <%= theme_stylesheet_link_tag    "application" %>
    <%= theme_javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield :css %>
    <%= yield :j %>
  </head>
  <body>
    <div id="header">
      <div class="main950">
        <div id="logo">
          <%= theme_image_tag "common/logo.gif", :width => 299, :height => 43 %>
        </div>
        <div id="top_search">
          <%= theme_image_submit_tag "icon/search.gif", :class => :search_btn %>
          <input class="search" id="hot_search" name="" type="text" />
        </div>
        <div class="search_scroll" id="search_scroll" style="display: none">
          <p class="title"><a href="#">搜索酒款 》</a></p>
          <div class="wineResult">
            <dl class="clearfix current">
              <dt><img src="images/test/wine_thumb01.jpg" width="30" height="30" /></dt>
              <dd><span>波特米勒站赤霞珠干红葡萄酒</span><p>PORTER MILL STATION Cabernet Sauvignon</p></dd>
              <div class="clear"></div>
            </dl>
            <dl class="clearfix">
              <dt><img src="images/test/wine_thumb01.jpg" width="30" height="30" /></dt>
              <dd><span>波特米勒站赤霞珠干红葡萄酒</span><p>PORTER MILL STATION Cabernet Sauvignon</p></dd>
              <div class="clear"></div>
            </dl>
            <dl class="clearfix">
              <dt><img src="images/test/wine_thumb01.jpg" width="30" height="30" /></dt>
              <dd><span>波特米勒站赤霞珠干红葡萄酒</span><p>PORTER MILL STATION Cabernet Sauvignon</p></dd>
              <div class="clear"></div>
            </dl>
          </div>
          <p class="title"><a href="#">搜索酒庄 》</a></p>
          <div class="wineryResult">
            <dl class="clearfix">
              <dt><img src="images/test/winery70.jpg" width="30" height="30" /></dt>
              <dd><span>某某酒庄</span><p>THE MOREFM WINERY</p></dd>
              <div class="clear"></div>
            </dl>
            <dl class="clearfix">
              <dt><img src="images/test/winery100_2.jpg" width="30" height="15" /></dt>
              <dd><span>某某酒庄</span>
                <p>THE MOREFM WINERY</p></dd>
              <div class="clear"></div>
            </dl>
          </div>
        </div>
        <div id="top_right">
          <%= render "layouts/user_fragment" %>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <% if params[:controller] == "home" || (params[:controller] == "wine_details" && params[:action] == "index")%>
      <div id="home">
      <% else %>
        <div id="wrapper950">
        <% end %>
        <%= yield %>
      </div>
      <%= render "layouts/footer" %>
      <script type="text/javascript" >
        var search_scroll = $('#search_scroll');
        var getHotSerach = function(){
          $.ajax({
            url: '/searches/hot_words?word='+$('#hot_search').val(),
            success: function( data ){
              var i ,
              wines = data.wines,
              wineries = data.wineries,
              html =  '<ul>';

              console.log( wines , wineries );

              if( ( wines.length + wineries.length ) == 0 ){
                search_scroll.css( 'display' , 'none' );
                return;
              }

              for( i = 0 ; i < wines.length ; i++ ){
                html += '<li>' + data.wines[i] + '</li>';
              }

              html += '</ul>';

              for( i = 0 ; i< wineries.length ; i++ ){
                html += '<li>' + data.wineries[i] + '</li>';
              }

              search_scroll.css( 'display' , 'block' );
              //search_scroll.html( html );
            }
          });
        };

        var timer;

        $('#hot_search').bind({
          keyup: function(){
            clearTimeout( timer );
            timer = setTimeout( getHotSerach , 400 );
          },

          blur: function(){
            search_scroll.css( 'display' , 'none' );
          }
        });
      </script>
  </body>
</html>