<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= content_for?(:title) ? content_for(:title) : 'Patrick' %></title>
    <%= theme_stylesheet_link_tag    "application" %>
    <%= theme_javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield :css %>
    <%= yield :j %>
  </head>
  <body>
    <div id="header">
      <div class="main950">
        <div id="logo">
          <%= theme_image_tag "common/logo.gif", :width => 299, :height => 43 %>
        </div>
        <div id="top_search">
          <%= theme_image_submit_tag "icon/search.gif", :class => :search_btn , :id=>:search_btn %>
          <input class="search" id="hot_search" name="" type="text" />
        </div>
        <div class="search_scroll" id="search_scroll" style="display: none"></div>
        <div id="top_right">
          <%= render "layouts/user_fragment" %>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <% if params[:controller] == "home" || (params[:controller] == "wine_details" && params[:action] == "index")%>
      <div id="home">
      <% else %>
        <div id="wrapper950">
        <% end %>
        <%= yield %>
      </div>
      <%= render "layouts/footer" %>
      <script type="text/javascript" >
        var search_scroll = $('#search_scroll');
        var has_scroll = false;
        var getHotSerach = function(){
          $.ajax({
            url: '/searches/suggestion?word='+$('#hot_search').val(),
            success: function( data ){
              if(( typeof data == 'string' ) && data ){
                search_scroll.css( 'display' , 'block' );
                search_scroll.html( data );
              }else{
                has_scroll = false;
                search_scroll.css( 'display' , 'none' );
              }
            }
          });
        };

        var timer;
        $('#hot_search').bind({
          keyup: function(e){
            if( e.keyCode == 38 || e.keyCode == 40 || e.keyCode == 37 || e.keyCode == 39 ){
                return;
            }
            if( e.keyCode == 27 ){
              search_scroll.css( 'display' , 'none' );
              has_scroll = false;
              return;
            }
            if( e.keyCode == 13 && has_scroll == false ){
              location.href = '/searches/results?word='+this.value;
              return;
            }

            clearTimeout( timer );
            timer = setTimeout( getHotSerach , 400 );
          },

          blur: function(){
            var hide = function(){
              has_scroll = false;
              search_scroll.css( 'display' , 'none' );
            };
            setTimeout( hide , 200 );
          }
        });

        $('#search_btn').bind( 'click' , function(){
          var url = '<%= url_for( '/searches/results?tab=all&word=' )%>';
          url+=$('#hot_search').val();
          location.href = url;
        });
      </script>
  </body>
</html>