<% content_for :title, @title %>
<% content_for :css do %>
	<%= stylesheet_link_tag "guide" %>
<% end %>

<div id="guide">
	<div class="wel">
		<span class="step">
			<%= image_tag "common/guide_step3_icon.png", :width => "109", :height => "109", :alt => "第三步" %>
		</span>
		<%= image_tag "common/guide_step3_t.gif", :width => "811", :height => "100" %>
	</div>

	<div class="paper user">
		<div class="top"></div>
		<div class='mid clearfix'>
			<%= form_tag(wizard_path, :method => :put, :class => "follow_user_form") do %>
				<ul class="clearfix">
				   <% @recommend_users.each_with_index do |user, index| %>			
				   		<li>
				   			<%= link_to_user user,
				   				user_path(user, :trailing_slash => true),
				   				{:with_avatar => true, :avatar_version => :large},
				   				{:width => 50, :height => 50} %>
				   			<div class="meta">
				   				<%= link_to user.username, user_path(user) %>
				   				<span class="location"><%= user.city %></span>			   		
				   				<%= check_box_tag "user_ids[]", user.id, true %>
				   			</div>
				   		</li>
				   		<% if (index + 1) % 5 == 0 %><div class="clear"></div><% end %>
				   <% end %>
				</ul>
			<% end %>
			<div class="align_c">
				<label><input name="all_checked" type="checkbox" value="" checked="checked"/>全选</label>
			</div>
		</div>
		<div class="bot"></div>
	</div>
	<div class="align_c mt20">
		<%= link_to "#", :class => "submit_form" do %>
			<%= image_tag "common/btn_next.jpg", :alt => "下一步", :width => 176, :height => 51 %>
		<% end %>
	</div>
</div>
<script type="text/javascript">
	$("input[name=all_checked]").change(function(){
	   if ($(this).attr("checked") == "checked") {
	   		$("ul input").attr("checked", true);
	   }else{
	   		$("ul input").attr("checked", false);
	   }
	});
	$(".submit_form").click(function(){
		$("form.follow_user_form").submit();
		return false;
	});
</script>