<% content_for :title, @title %>
<% content_for :css do %>
	<%= stylesheet_link_tag "setting", "guide", "jcrop" %>
<% end %>
<div id="guide">
	<div class="wel">
		<span class="step">
			<%= image_tag "common/guide_step1_icon.png", :width => "109", :height => "109", :alt => "第一步" %>
		</span>
		<%= image_tag "common/guide_step1_t.gif", :width => "811", :height => "100" %>
	</div>
	<div class="paper">
		<div class="top"></div>
		<div class="mid clearfix">
			<div class="step1">
				<div id="stylized" class="myform">
					<div class="left">
						<%= form_for current_user, :url => upload_avatar_after_first_signins_path,
											:html => {:multipart => "true",
													  :id => :form,
													  :method => :put}  do |f| %>
					        <p>从电脑上传（支持JPG、GIF、PNG图片格式，且小于5M）</p>
					        <p class="mt20">
					        	<%= f.file_field :avatar, :align => "center", :class => "text name mr5" %>
					        </p>
					        <p class="mt20">
					        	<%= link_to "javascrpt:void(0);", 
					        	    :class => "btn_gray mr5 submit_avatar" do %>
					        	    <span> 提交头像</span>
					        	<% end %>
					        </p>
						<% end %>
						<p class="mt20">
							<% if current_user.avatar.blank? %>
								<%= image_tag "avatar_default_bg.png" %>
							<% else %>
								<%= image_tag "#{current_user.avatar_url(:origin)}?timestamp=#{Time.now}", :id => "cropbox" %>
							<% end %>
						</p>
						<p class="mt20">
							<%= form_for current_user, :url => upload_avatar_after_first_signins_path, 
												:html => {:method => :post, 
													       :id => :slice_form } do |f| %>
								<% %w[x y w h].each do |a| %>
									<%= f.hidden_field "crop_#{a}" %>
								<% end %>
								<%= link_to "javascrpt:void(0)", 
									:class => "btn_gray mr5 submit_avatar",
									:onclick => "$(this).parents('form').submit();" do %>
									<span>保存头像</span>
								<% end %>
							<% end %>
						</p>

					</div>
					<div class="right">
						<%= render "settings/update_avatar" %>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div class="bot"></div>
	</div>
	<div class="align_c mt20">
		<%= link_to  next_wizard_path do %>
			<%= image_tag "common/btn_next.jpg", :alt => "下一步", :width => "176", :height => "51" %>
		<% end %>
	</div>
</div>
<script type="text/javascript" charset="utf-8">
	$('a.submit_avatar').click(function(){
	  $(this).parents('form').submit();
	  return false;
	});
</script>

