<div class="wine_id_pic">
  <%= link_to wine_path(@wine_detail) do %>
	<%= wine_label_tag @wine_detail, :width => 100, :height => 100 %>
	<% end %>
</div>
<div class="info">
	<% if @wine.winery %>
	酒庄：<%= link_to @wine.winery.name,
              :controller => "wineries",
              :action => 'show',
              :id => @wine.winery.id %>
    <br />
	<% end %>
	官网：<%= link_to @wine.official_site, 'http://' + @wine.official_site, :target => '_blank' %><br />
	产区：<%= @wine.region_path_zh(:connector => ">") %><br />
    <%= @wine.region_path_en(:connector => ">") %><br/>
	类型：<%= @wine.style.name_zh if @wine.style%><br />
	容量：<%= @wine_detail.show_capacity %><br />
	酒精度：<%= @wine_detail.show_alcoholicity %><br />
	葡萄品种： <%= variety_percentage_lists(@wine_detail.variety_percentages) %>
</div>


