<div class="wine_id_pic">
  <%= link_to wine_path(@wine_detail) do %>
	<%= wine_label_tag @wine_detail, :width => 100, :height => 100 %>
	<% end %>
</div>
<div class="info">
	<% unless  @wine.winery.nil? %>
	酒庄：<%= link_to @wine.winery.name,
              :controller => "wineries",
              :action => 'show',
              :id => @wine.winery.id %>
  <br />
	<% end %>
	官网：<%= link_to @wine.official_site, 'http://' + @wine.official_site, :target => '_blank' %><br />
	产区：<%= render 'share/region_tree', :region_tree => @wine_detail.get_region_path(@wine_detail.wine.region_tree_id) %><br />
	类型： <%= link_to @wine.style.name_zh,
				results_searches_path(:tab => :wine, :word => @wine.style.name_en) %><br />
	容量：<%= @wine_detail.capacity %><br />
	酒精度：<%= @wine_detail.alcoholicity %>Vol<br />
	葡萄品种： <% @wine_detail.variety_percentages.each do |i| %>
        <%= i.name_zh %> (<%= i.percentage %>)、
        <% end %>
</div>


