<div class="mine albums">
<%= render "/mine/sub_nav", :action => params[:action] %>
<div class="clear"></div>

<div class="title_btn">
      <div class="btn_action">
        <a href="<%= url_for :action => 'upload' %>" class="btn_gray mr5">
          <span>添加照片</span>
        </a>
        <a href="<%= url_for :action => 'new' %>" class="new_album fancybox.ajax btn_gray">
          <span>创建相册</span>
        </a>
      </div>
      <h1>我的相册 <span class="font12">(共<%= @albums.total_count %>个)</span></h1>
      <div class="clear"></div>
</div>




<ul class="album_list">
  <% @albums.each do |album| %>
       	<li> 
          <a href="<%= album.id %>">
            <% if album.cover.present? %>
        <%= image_tag album.cover.image_url( :normal), :class => 'cover' %>
        <% else %>
        <img class="cover" src="/assets/base/test/album_cover1.jpg" alt="木有图片" width="190" height="190" />
        <% end %>
          </a>
          <h2>
            <%= link_to album.name , "#{album.id}"  %>
          </h2>
          <p class="info"><%= album.photos_num %>张照片 2012-1-28更新<br/>
          <%= album.viewed_num %>浏览 | <%= album.commented_num %>评论 | 2赞</p>
        </li>
  <% end %>
  <div class="clear"></div>
</ul>




<div class="clear"></div>
<div class="pagination">
 <%= paginate @albums, :outer_window => 2 %>
</div>
<script type="text/javascript">
$('.new_album').fancybox({padding:0, margin: 0, width: 450, height: 'auto', autoSize: false, modal: true});
</script>
<!-- end mine -->
</div>
