<div class="popup_header">
  <a href="javascript:void(0);" onclick="$.fancybox.close(true);" class="close"></a>
  <h1 class="title"><%= t :new_album %></h1>
</div>
<div class="popup_content">
	<div class="creat_new">
    <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <th><%= t :album_name %></th>
        <td><input class="text" name="" type="text" /></td>
      </tr>
      <tr>
        <th><%= t :album_description %></th>
        <td><textarea class="comment" name="" cols="" rows=""></textarea></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><a href="" class="button_gray float_l mr5"><%= t :create_album %></a><a href="" class="button_gray float_l"><%= t :cancle %></a></td>
      </tr>
    </table>
    </div>
</div>