<% content_for :title, @title%>
<div class="whitespace">
  <div id="hp">
    <%= render "users/sub_nav", :action => params[:action] %>
    <div class="clear"></div>
    <div class="content">
      <div class="left">
        <div class="tabs3">
          <ul>
            <ul>
            <li><%= link_to "关注的酒",wine_follows_user_path(@user.slug) %></li>
            <li><%= link_to "关注的酒庄",winery_follows_user_path(@user.slug) %></li>
            <li class="current"><%= link_to "关注的人",followings_user_path(@user.slug) %></li>
          </ul>
          </ul>
        </div>
        <div class="title_btn">
           <h1>关注的人 <span class="font12 more">(共<%= @user.followings_count %>个...)</span></h1>
        </div>
        <%= render "users/share/user_followings" %>
        <div class="pagination">
           <%= paginate @followings, :outer_window => 2 %> 
          <!-- pagination  end   -->
        </div>      
      </div>
      <div class="right">
        <% if @recommend_users.present? %>
            <div class="sidebox">
              <div class="title"><h3>或许你会对这些人感兴趣...</h3></div>
              <div class="main">
                <%= render "users/share/recommend_users" %>
              </div>
            </div>
        <% end %>

        <% if user_signed_in? && @recommend_from_sns.present?  %>
            <div class="sidebox">
              <div class="title"><h3>或许你会认识TA们...</h3></div>
              <div class="main">
                <%= render "users/share/recommend_sns_user" %>
              </div>
            </div>
        <% end  %>

      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>


