<% content_for :title, @title%>
<div class="whitespace">
  <div id="hp">
    <%= render "users/sub_nav", :action => params[:action] %>
    <div class="clear"></div>
    <div class="content">
      <div class="left">
        <div class="tabs3">
          <ul>
            <li class="current"><a href="myhp_notes_list.html">收藏的品酒辞</a></li>
          </ul>
        </div>
        <div class="title_btn">
          <h1>收藏的品酒辞<span class="font_12 more">(共<%= @user.note_followings.count%>篇)</span> </h1>
        </div>
        <%= render "users/share/note_follows" %>
        <div class="pagination">
          <%= paginate @follows %>
          <!-- pagination  end   -->
        </div>      
      </div>
      <div class="right">
        <div class="sidebox">
          <div class="title"><h3>热门品酒辞</h3></div>
          <div class="main">
            <%= render "users/share/most_notes_follows" %>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

