<% content_for :title, @title%>
<div class="whitespace">
<div id="hp">
    <%= render "users/sub_nav", :action => params[:action] %>
  <div class="clear"></div>
  
<div class="content">
	<div class="left">
    <div class="tabs3">
      <ul>
        <ul>
            <li><%= link_to "关注的酒",wine_follows_user_path(@user.slug) %></li>
            <li class="current"><%= link_to "关注的酒庄",winery_follows_user_path(@user.slug) %></li>
            <li><%= link_to "关注的人",followings_user_path(@user.slug) %></li>
          </ul>
      </ul>
    </div>
  	<div class="title_btn">
        <h1>关注的酒庄 <span class="font_12 more">(共 <%= @user.winery_followings_count %> 个)</span> </h1>
      </div>
      <%= render "users/share/winery_follows" %>
      <div class="pagination">
	    <%= paginate @follows %>
      <!-- pagination  end   -->
      </div>      
  </div>
  <div class="right">
  	<div class="sidebox">
      	<div class="title"><h3>热门酒庄</h3></div>
          <div class="main">
            <%= render "users/share/most_winery_follows" %>
          </div>
      </div>
  </div>
  <div class="clear"></div>
</div>

</div>
</div>


