 <div class="whitespace">
<div id="hp">
  <%= render "mine/sub_nav" %>
<div class="title_btn">
      <div class="btn_action">
          <%= link_to upload_mine_album_path(), :class => "btn_gray mr5"  %>
          <span>添加照片</span>
          <% end %>
          <%= link_to new_mine_album_path(), :class => "new_album fancybox.ajax btn_gray"  %>
          <span>创建相册</span>
        </a>
      </div>
      <h1>我的相册 <span class="font12">(共<%= @albums.total_count %>个)</span></h1>
      <div class="clear"></div>
</div>
<ul class="album_list">
  <% @albums.each do |album| %>
       	<li> 
          <a href="<%= album.id %>">
            <% if album.cover.present? %>
        <%= image_tag album.cover.image_url( :middle), :class => 'cover' %>
        <% else %>
        <%= theme_image_tag "test/album_cover.jpg", :class => :cover, :width => 150, :height => 150 %>
        <% end %>
          </a>
          <h2>
            <%= link_to album.name , "#{album.id}"  %>
          </h2>
          <p class="info"><%= album.photos_count %>张照片 2012-1-28更新<br/>
          <%= album.viewed_num %>浏览 | <%= album.commented_num %>评论 | 2赞</p>
        </li>
  <% end %>
  <div class="clear"></div>
</ul>
<div class="clear"></div>
<div class="pagination">
 <%= paginate @albums, :outer_window => 2 %>
</div>
<script type="text/javascript">
$('.new_album').fancybox({padding:0, margin: 0, width: 450, height: 'auto', autoSize: false, modal: true});
</script>
<!-- end mine -->
</div>
</div>