<%= content_for :css do %>
<%= theme_stylesheet_link_tag :setting %>
<% end %>
<div class="whitespace message">
  <div class="reply_form" id="send_message_form" style="display: none">
    <%= render "send_message_form", :message => @message %>
  </div>
  
  <div class="title clearfix">
      <div class="message_search">
        <a href="#" class="search_btn">搜索</a>
        <input class="text" name="" type="text" placeholder="查找联系人或私信内容"/>
        <%= link_to "#send_message_form", :class => "btn_gray send_message"  do %>
        <span>发送私信</span>
        <% end %>
      </div>
      <h1 class="main_title">我的私信</h1>
      <div class="clear"></div>
  </div>
  
  <div class="message_list">
    <%= render_stickies %>
    <ul class="private_list">
      <% @conversations.each do |conversation| %>
      <%= render conversation %>	
      <% end %>
    </ul>
  </div>
  
  <div class="pagination">
    <%= paginate @conversations, :outer_window => 2 %> 
  </div>
  
</div>

