<% content_for :title, @title%>
<%= content_for :css do %>
<%= theme_stylesheet_link_tag :setting %>
<% end %>
<div class="whitespace message">
 
  <div class="reply_form" id="send_message_form" style="display: none">
    <%= render "send_message_form", :message => @message %>
  </div>
  
  <div class="title clearfix">
      <div class="message_search">
    	  <%= render :partial => 'search_form' %>   
      </div>
      <h1 class="main_title">我的私信</h1>
      <div class="clear"></div>
  </div>
  <div class="path">
		<%= link_to "返回私信列表", conversations_path %> 》
	</div>
  
  <div class="message_list">
    
    <% if @conversations.present? %>
    <ul class="private_list">
      <% @conversations.each do |conversation| %>
      <%= render conversation %>	
      <% end %>
    </ul>
    <% else %>
    <p>无搜索记录.</p>
    <% end %>
  </div>
  

  
</div>

