<div class="whitespace">
  <div id="hp">
    <%= render "mine/sub_nav", :action => params[:action] %>
    <div class="clear"></div>
    <div class="content">
      <div class="left">
        <div class="title_btn">
           <h1>粉丝 <span class="font12 more">(共<%= @user.followers_count %>个...)</span></h1>
        </div>
          <%= render "mine/share/user_followers" %>
        <div class="pagination">
         <%= paginate @followers, :outer_window => 2 %> 
          <!-- pagination  end   -->
        </div>      
      </div>
      <div class="right">
        <div class="sidebox">
          <div class="title"><h3>或许你会对这些人感兴趣...</h3></div>
          <div class="main">
             <%= render "mine/share/recommend_users" %>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>


