 <div class="whitespace">
<div id="hp">
  <%= render "sub_nav" %>
          <div class="content">
          	<div class="home_left">
            	<div class="title_btn">
                  <h1>藏酒 <span class="font12 more"><a href="cellar.html">(共10支...)</a></span></h1>
                </div>
                <div class="puzzle clearfix">
                 <%= render "mine/share/favorite_wines", :wine => @wine_collections %>
                </div>
                <div class="title_btn">
                  <h1>关注的酒 <span class="font12 more"><a href="myhp_wine_list.html">(共10支...)</a></span></h1>
                </div>
                <div class="puzzle clearfix">
                 <%= render "mine/share/following_wines", :wine => @wine_follows %>
                </div>
                <div class="title_btn">
                  <h1>评论 <span class="font12 more"><a href="myhp_comment_list.html">(共10条...)</a></span></h1>
                </div>
                <%= render "mine/share/comments" %>
            </div>
            <div class="home_right">
            	<div class="title_btn">
                  <h1>关注的人 <span class="font12 more"><a href="myhp_following_list.html">(共20人...)</a></span></h1>
                </div>
                <div class="puzzle">               
                <%= render "mine/share/following_list", :items => @followings %>
                </div>
                <div class="title_btn">
                  <h1>粉丝 <span class="font12 more"><a href="myhp_follower_list.html">(共20人...)</a></span></h1>
                </div>
                <div class="puzzle">
                <%= render "mine/share/follower_list"  %>
                </div>
            </div>
            <div class="clear"></div>
          </div>
    </div>

</div>