<% unless @timelines.nil? %>
<% @timelines.each do |l| %>
   <% if l.ownerable_type == "User" && l.event_type == "new_comment" %>
     <div class="ks-waterfall item about_with_user  <%= l.event_type %>">
       <div class="user_info">
         <div class="pic">
           <%= link_to_user l.timeline_event.actor, "/", :with_avatar => true, :avatar_version => :thumb %>
         </div>
         <p><%= link_to_user l.timeline_event.actor, "/" %> <%= l.timeline_event.created_at.to_s(:normal) %> </p>
         <p class="event_type"><%= APP_DATA["timeline"]["event"]["user"][l.timeline_event.event_type] %></p>
       </div>
       <p class="wine_cover"><%= wine_waterfall_image_tag(l.timeline_event.secondary_actor, :thumb_name => :w_middle) %></p>
       <h3>
         <%= link_to  wine_path(l.timeline_event.secondary_actor) do %>
           <%= raw l.timeline_event.secondary_actor.cname %><br />
           <span class="font_14"><%= raw l.timeline_event.secondary_actor.ename %></span>
         <% end %>
       </h3>
       <p class="body"><%= l.timeline_event.subject.body %></p>
     </div>
   <% else %>
	<!-- 如果是加入酒窖 -->
	<% if l.event_type == "add_to_cellar"%>
	<div class="ks-waterfall item about_with_wine <%= l.event_type %>">
     <p class="wine_cover">
       <%= wine_waterfall_image_tag(l.timeline_event.secondary_actor, :thumb_name => :w_middle) %>
     </p>
     <h3>
       <%= link_to  wine_path(l.timeline_event.secondary_actor) do %>
         <%= raw l.timeline_event.secondary_actor.cname %><br />
         <span class="font_14"><%= raw l.timeline_event.secondary_actor.ename %></span>
       <% end %>
     </h3>
     <p class="event_type">
       <%= APP_DATA["timeline"]["event"]["user"][l.timeline_event.event_type] %>
     </p>
     <div class="sub_item">
       <div class="pic">
         <%= link_to_user l.timeline_event.actor, user_path(l.timeline_event.actor, :trailing => true), :with_avatar => true, :avatar_version => :thumb %>
       </div>
       <p><%= link_to_user l.timeline_event.actor, user_path(l.timeline_event.actor, :trailing => true) %>  </p>
       <p class="body"><%= link_to "去看看他的酒窖", user_cellar_path(l.timeline_event.actor, l.timeline_event.actor.cellar)%></p>
     </div>
   </div>
   
	<% else%>
     <div class="ks-waterfall item about_with_wine">
       <p class="wine_cover">
         <%= wine_waterfall_image_tag(l.timeline_event.secondary_actor, :thumb_name => :w_middle) %>
       </p>
       <h3>
         <%= link_to  wine_path(l.timeline_event.secondary_actor) do %>
           <%= raw l.timeline_event.secondary_actor.cname %><br />
           <span class="font_14"><%= raw l.timeline_event.secondary_actor.ename %></span>
         <% end %>
       </h3>
       <p class="event_type">
         <%= APP_DATA["timeline"]["event"]["user"][l.timeline_event.event_type] %>
       </p>
       <div class="sub_item">
         <div class="pic">
           <%= link_to_user l.timeline_event.actor, user_path(l.timeline_event.actor, :trailing => true), :with_avatar => true, :avatar_version => :thumb %>
         </div>
         <p><%= link_to_user l.timeline_event.actor, user_path(l.timeline_event.actor, :trailing => true) %> <%= l.timeline_event.created_at.to_s(:normal) %> </p>
         <p class="body"><%= l.timeline_event.subject.body %></p>
       </div>
     </div>
   <% end %>
	<% end %>
 <% end %>

<!-- 不为空 -->
<% else %> 
 <p> 还有没有数据. </p>
<% end %>