<% content_for :title, @title%>
<% content_for :css do  %>
<%= stylesheet_link_tag "setting", "jcrop" %>
<%#= stylesheet_link_tag :jcrop %>
<% end %>
  <div class="whitespace setting">
    <h1 class="main_title">头像修改</h1>
    <div id="stylized" class="myform">

      <div class="left">
        <%= form_for current_user, 
        :url => avatar_settings_path, 
        :html => { :multipart => 'true', :id => :form, :method => :put } do |f| %>

        <p>从电脑上传（支持JPG、GIF、PNG图片格式，且小于5M）</p>
        <p class="mt20">
         <%= f.file_field :avatar, :align => "center", :class => "text name mr5" %>
       </p>
       <%= link_to "javascript:void(0)", :class => "btn_gray mr5", :onclick => "$(this).parents('form').submit()" do %>
       <span>提交头像</span>
       <% end %>
       <% end %>
       <p class="mt20">
         <% if current_user.avatar.blank? %>
         <%= image_tag "v2/avatar_default_bg.png" %>
         <% else %>
         <%= image_tag current_user.avatar_url(:origin) + "?timestamp=#{Time.now}", id: "cropbox" %>
         <% end %>
       </p>
       <p class="mt20">
         <%= form_for current_user, :url => avatar_settings_path, :method => :post  do |f| %>
         <% %w[x y w h].each do |attribute| %>
         <%= f.hidden_field "crop_#{attribute}" %>
         <% end %>

         <%= link_to "javascript:void(0)", :class => "btn_gray mr5", :onclick => "$(this).parents('form').submit()" do %>
         <span>保存头像</span>
         <% end %>
         <%= link_to basic_settings_path, :class => "btn_gray" do %>
         <span>取消</span>
         <% end %>
         <% end %>
       </p>
      </div>
      <div class="right">
        <%= render "update_avatar" %>
      </div>
    <div class="clear"></div>
    
  </div>
</div>
