<%= render "sub_nav", :validate => true, :action => params[:action]  %>

<%= render_stickies %>

 <%= javascript_include_tag 'region_china' %>

<%= form_for @profile, :url => settings_path, :validate => true,  :html => { :class => 'form-horizontal', :multipart => true, :method => :put } do |f| -%>
<table border="0" cellspacing="5" cellpadding="5">
	<tr>
		<td><%= f.label :username%>*</td>
		<td><%= f.text_field :username %> <%= link_to "修改密码", :action => "update_password" %></td>
	</tr>
	<!-- AVATAR -->
	<tr>
		<td><%= f.label :image %></td>
		<td><%= image_tag current_user.avatar.image_url(:thumb), :title => "title", :class => "class" %> <%= link_to "编辑头像", :action => "avatar" %></td>
	</tr>
	
	<!-- PROFILE -->
	
	<tr>
		<td><%= f.label :real_name %></td>
		<td><%= f.text_field :real_name %> <%= select_tag "config[real_name]", options_for_select(APP_DATA["user_profile"]["configs"]["normal"].collect{|k,v| [v,k]}, @profile.config.real_name) %></td>
	</tr>
	
	<!-- <tr>
		<td><%= f.label :nickname %></td>
		<td><%= f.text_field :nickname %></td>
	</tr> -->
	
	
	<tr>
		<td><%= f.label :living_city %>*</td>
		<td>
			<%= render "region", :profile => @profile, :p => f %>
		</td>
	</tr>
	
	
	<tr>
		<td><%= f.label :gender %></td>
		<td><%= f.radio_button :gender, 1, :checked => true %> 男 <%= f.radio_button :gender, 0 %> 女</td>
	</tr>
	
	<tr>
		<td><%= f.label :birthday %></td>
		<td>
			<%= f.date_select :birthday, :start_year =>  1910, :end_year => Time.now.year, :default => { :year => 1980, :month => 9, :day => 6 }  %>
			<%= select_tag "config[birthday]", options_for_select(APP_DATA["user_profile"]["configs"]["birth_day"].collect{|k,v| [v,k]}, @profile.config.birthday) %>
		</td>
	</tr>
	
	<tr>
		<td><%= f.label :website %></td>
	<td><%= f.text_field :website %>  <%= select_tag "config[website]", options_for_select(APP_DATA["user_profile"]["configs"]["normal"].collect{|k,v| [v,k]}, @profile.config.website) %></td>
	</tr>
	
	<tr>
		<td><%= f.label :contact_email %></td>
	<td><%= f.text_field :contact_email %>  <%= select_tag "config[contact_email]", options_for_select(APP_DATA["user_profile"]["configs"]["normal"].collect{|k,v| [v,k]}, @profile.config.contact_email) %></td>
	</tr>
	
	<tr>
		<td><%= f.label :qq %></td>
	<td><%= f.text_field :qq %> 
		 <%= select_tag "config[qq]", options_for_select(APP_DATA["user_profile"]["configs"]["normal"].collect{|k,v| [v,k]}, @profile.config.qq) %></td>
	</tr>
	
	<tr>
		<td><%= f.label :msn %></td>
	<td><%= f.text_field :msn %> 	 <%= select_tag "config[msn]", options_for_select(APP_DATA["user_profile"]["configs"]["normal"].collect{|k,v| [v,k]}, @profile.config.msn) %></td>
	</tr>
	
	
	<tr>
		<td><%= f.label :vocation %></td>
		<td><%= f.text_field :vocation %></td>
	</tr>
	<tr>
		<td><%= f.label :bio %></td>
		<td><%= f.text_area :bio, :size => "40x10" %></td>
	</tr>
		
</table>

  <%= f.submit %>
<% end -%>


