<%= render "sub_nav", :validate => true, :action => params[:action]  %>

<%= render_stickies %>

<%= javascript_include_tag 'region_china' %>

<div class="settings basic">
  <div class="left">
    <%= form_for @profile, :url => settings_path, :validate => true,  :html => { :class => 'form-horizontal', :multipart => true, :method => :put } do |f| -%>
    <table border="0" cellspacing="10" cellpadding="5">
      <tr>
        <td width="100px" class="label"><%= f.label :email %></td>
        <td><%= @profile.email %> <%= link_to "修改密码", {:action => "update_password"}, :class => "red" %></td>
      </tr>
      <tr>
        <td  class="label"><span class="red">*</span><%= f.label :username%></td>
        <td class="text_input" ><%= f.text_field :username %></td>
      </tr>
      <tr>
        <td  class="label"><%= f.label :gender %></td>
        <td><%= f.radio_button :gender, 1, :checked => true %> 男 <%= f.radio_button :gender, 0 %> 女</td>
      </tr>

      <tr>
        <td class="label"><%= f.label :birthday %></td>
        <td>
          <%= f.date_select :birthday, :start_year => 1910, :end_year => Time.now.year, :default => { :year => 1980, :month => 9, :day => 6 }  %>
        </td>
      </tr>
      <!-- PROFILE -->
      <tr>
        <td class="label"><span class="red">*</span><%= f.label :living_city %></td>
        <td>
          <%= render "region", :profile => @profile, :p => f %>
        </td>
      </tr>

      <tr>
        <td class="label"><%= f.label :website %></td>
        <td class="text_input"><%= f.text_field :website %> </td>
      </tr>

      <tr>
       <td class="label" valign="top" ><%= f.label :bio %></td>
        <td><%= f.text_area :bio, :size => "40x10" %></td>
      </tr>
      <tr>
        <td class="label">通知设置</td>
        <td> <%= link_to_button "privacy_setting", :action => "privacy" %> </td>
      </tr>
      <tr>
        <td class="label"> 同步设置 </td>
        <td valign="top" >
          <%= render "friends/icons" %> <%= link_to_button "sync_settings", "/" %>
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="submit">  <%= image_submit_tag "v2/button/save.png" %> </td>
      </tr>
    </table>


<% end -%>
</div>

<div class="right">
  <!-- AVATAR -->
  <%= image_tag current_user.avatar_url(:large), :align => "left" %>
 <%= image_tag current_user.avatar_url(:middle), :align => "left", :width => "50px", :height => "50px" %>
 <%= image_tag current_user.avatar_url(:thumb), :align => "left", :width => "30px", :height => "30px" %>
 <div class="clear"></div>
 <br />
  <%= link_to_button "edit_avatar", :action => "avatar" %>
</div>
<!-- end .basic -->
</div>


