<% content_for :title, @title%>

<%#= javascript_include_tag 'region_china' %>
<% content_for :css do  %>
  <%= stylesheet_link_tag "setting" %>
<% end %>

<div class="whitespace setting">
  <h1 class="main_title">个性域名</h1>
  <div id="stylized" class="myform">
    <%= form_for @user, :url => domain_settings_path, :method => :put do |f| -%>
      <p class="font14">设置自己的iWine个性域名<br />
        <br />
        <div class="field_with_errors">
          http://iwine.com/users/
          <%= f.text_field :domain, :class => :text, :style => "width: 200px" %>
          <%= link_to "javascript:void(0)", :class => :btn_blue do  %>
            <span>确定</span>
          <% end %>
        </p>
        <p class="mt10">（提示：个性域名只能设置一次，设置成功后无法修改哦～）</p>
          <% if @user.errors.any? %>
            <p class="mt20">
              <label class="message" for="">
                <%= @user.errors[:domain] %>
              </label>
            </p> 
          <% end %>
      </div>
    <% end -%>
  </div>
</div>

<style type="text/css">
  .field_with_errors {
    display: inline;
  }
  #stylized .field_with_errors label.message {
    display: none;
  }
  #stylized .field_with_errors p label.message {
      display: inline;
  }
</style>
<script type="text/javascript" language="javascript" charset="utf-8">
  $(document).ready(function(){
      $("a.btn_blue").click(function(){
          $(this).parents("form").submit();
        });
      });
</script>


