<%= render "sub_nav", :action => params[:action]  %>
<%= render_stickies %>
<%= form_for @user, :validate => true, :url => url_for(:action => :update_password ), :html => { :method => :put } do |f| %>

  <%= f.hidden_field :reset_password_token %>

  <div><%= f.label :password, "新密码" %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "更新密码" %></div>
<% end %>
