
	<div id="login">
	  	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	  	<% unless devise_error_messages!.blank? %>
    	<div class="error"><%= devise_error_messages! %></div>
    	<% end %>
        <div class="login">
            <div class="boxstyle">
                <div class="top">欢迎登陆iWine!</div>
                <div class="mid">
                  <div class="un"><%= f.email_field :email, :class => "text", :placeholder => "Email", :onclick => "clearDefaultText(this,'E-mail')" %></div>
                  <div class="pw"><%= f.password_field :password, :class => "text", :placeholder => "密码", :onclick => "clearDefaultText(this,'密码')" %></div>
                    <div class="rember_pw">
                        <%= link_to  "javascript:void(0)", :onclick => "$(this).parents('form').submit()" do %>
                        <%= theme_image_tag "common/btn_login.jpg", 
                        :class => :float_r, 
                        :width => 96, 
                        :height => 41, 
                        :alt => "登陆" %>
                        <% end %>
                        <label><%= f.check_box :remember_me %> 记住我</label> 
                        | <%= link_to "忘记密码?", new_password_path(resource_name) %>
                        <div class="clear"></div>
                    </div>
              </div>
                <div class="bot"></div>
            </div>
        </div>
        <% end -%>
        
        <div class="register">
            <div class="boxstyle">
                <div class="top">还没有iWine帐号？</div>
                <div class="mid align_c"> 
                  <%= link_to register_path do %>
                    <%= theme_image_tag "common/btn_register.jpg", 
                    :width => 176, 
                    :height => 51, 
                    :alt => "马上注册" %>
                  <% end %>
                </div>
                <div class="bot"></div>
          </div>
      </div>
        <div class="clear"></div>
    </div>
        
</div>
<script type="text/javascript">
     $(document).keypress(function(e) {
         if(e.which == 13) {
           $("#new_user").submit();
           return false;
         }
     });
</script>

