<% content_for :title, @title%>
<% content_for :css do  %>
<%= theme_stylesheet_link_tag "setting" %>
<%#= theme_stylesheet_link_tag :jcrop %>
<% end %>
<style type="text/css">
  <style>
  /* Fixes issue here http://code.google.com/p/jcrop/issues/detail?id=1 */
  .jcrop-holder {
    text-align: left; }

  .jcrop-vline, .jcrop-hline {
    font-size: 0px;
    position: absolute;
    background: white url(image-path("jcrop/Jcrop.gif")) top left repeat; }

  .jcrop-vline {
    height: 100%;
    width: 1px !important; }

  .jcrop-hline {
    width: 100%;
    height: 1px !important; }

  .jcrop-vline.right {
    right: 0px; }

  .jcrop-hline.bottom {
    bottom: 0px; }

  .jcrop-handle {
    font-size: 1px;
    width: 7px !important;
    height: 7px !important;
    border: 1px #eee solid;
    background-color: #333; }

  .jcrop-tracker {
    width: 100%;
    height: 100%; }

  .custom .jcrop-vline,
  .custom .jcrop-hline {
    background: yellow; }

  .custom .jcrop-handle {
    border-color: black;
    background-color: #C7BB00;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }
  </style>
</style>
<div id="wrapper950">
  <div class="whitespace setting">
    <h1 class="main_title">头像修改</h1>
    <div id="stylized" class="myform">

      <div class="left">
        <%= form_for current_user, 
        :url => avatar_settings_path, 
        :html => { :multipart => 'true', :id => :form, :method => :put } do |f| %>

        <p>从电脑上传（支持JPG、GIF、PNG图片格式，且小于5M）</p>
        <p class="mt20">
         <%= f.file_field :avatar, :align => "center", :class => "text name mr5" %>
       </p>
       <%= link_to "javascript:void(0)", :class => "btn_gray mr5", :onclick => "$(this).parents('form').submit()" do %>
       <span>提交头像</span>
       <% end %>
       <% end %>
       <p class="mt20">
         <% if current_user.avatar.blank? %>
         <%= image_tag "v2/avatar_default_bg.png" %>
         <% else %>
         <%= image_tag current_user.avatar_url(:origin) + "?timestamp=#{Time.now}", id: "cropbox" %>
         <% end %>
       </p>
       <p class="mt20">
         <%= form_for current_user, :url => avatar_settings_path, :method => :post  do |f| %>
         <% %w[x y w h].each do |attribute| %>
         <%= f.hidden_field "crop_#{attribute}" %>
         <% end %>

         <%= link_to "javascript:void(0)", :class => "btn_gray mr5", :onclick => "$(this).parents('form').submit()" do %>
         <span>保存头像</span>
         <% end %>
         <%= link_to basic_settings_path, :class => "btn_gray" do %>
         <span>取消</span>
         <% end %>
         <% end %>
       </p>
     </div>
     <div class="right">
      <div class="avatar">
       <p class="mb10">您上传的头像会自动生成以下三种尺寸，<br />
         请确保中小尺寸的头像是否清晰。</p>
         <p class="sample">
          <%= theme_image_tag "common/userpic_sample130.jpg", :size => "130x130" %>
          <span>大图 130*130px</span>
        </p>
        <p class="sample">
          <%= theme_image_tag "common/userpic_sample50.jpg", :size => "50x50" %>
          <span>中图 50*50px</span>
        </p>
        <p class="sample">
          <%= theme_image_tag "common/userpic_sample30.jpg", :size => "30x30" %>
          <span>小图 30*30px</span>
        </p>
      </div>
    </div>
    <div class="clear"></div>
    
  </div>
</div>
</div>
