<% content_for :title, @title%>

<%#= javascript_include_tag 'region_china' %>
<% content_for :css do  %>
<%= theme_stylesheet_link_tag "setting" %>
<% end %>

<div class="whitespace setting">
  <h1 class="main_title">账号设置</h1>
  <div id="stylized" class="myform">
    <%= form_for @user, 
    :url => basic_settings_path, 
    :validate => true,  
    :html => { :class => 'form-horizontal', :multipart => true } do |f| -%>

    <div class="left">
      <div class="required">
        <label><span>*</span>邮箱</label>
        <%= @user.email %>
        <%= link_to "修改密码", update_password_settings_path %>
      </div>
      <div class="required">
        <label><span>*</span>昵称</label>
        <%= f.text_field :username , :class => "text name"%>
      </div>
        <%= f.fields_for :profile do |p| %>
      <div class="required">
        <label>性别</label>
        <%= p.radio_button :gender, 1  %>男
        <%= p.radio_button :gender, 0 %>女
      </div>
      <div class="required">
        <label>生日</label>
        <%= p.date_select :birthday, :start_year => 1910, :end_year => Time.now.year, :default => { :year => 1980, :month => 9, :day => 6 }  %>
      </div>
        <% end %>
      <div class="required">
        <label><span>*</span>所在地</label>
        <div class="content">
          <%= f.text_field :city, :class => "text" %>
        </div>
      </div>
       <%= f.fields_for :profile do |p| %>
      <div class="optional">
        <label>博客地址</label>
        <%= p.text_field :website, :class => "text name mr5" %>
      </div>
      <div class="optional">
        <label>介绍</label>
        <%= p.text_area :bio, :size => "48x5" %>
      </div>
      <div class="optional">
        <label>通知设置</label>
        <%= link_to privacy_settings_path, :class => "btn_gray" do %>
        <span>更改通知设置</span>
        <% end %>
      </div>
      <div class="optional">
        <label style="padding-top:13px;">同步设置</label>
        <%= render "friends/icons" %>
        <%= link_to setting_sns_friends_path, :class => "btn_gray ml10" do %>
        <span>更改同步设置</span>
        <% end %>
      </div>
      <% end %>
      <div class="mt10">
        <label>&nbsp;</label>
        <div class="content">
          <%= link_to "javascript:void(0);", :class => "btn_gray mr5 save" do %>
          <span>保存</span>
          <% end %>     
        </div>
      </div>
      <div class="clear"></div>
    </div>

    <div class="right">
     <div class="avatar">
       <%= image_tag current_user.avatar_url(:large) + "?timestamp=#{Time.now}" %>
       <p class="mt10">
         <%= link_to avatar_settings_path, :class => "btn_gray" do %>
         <span>修改头像</span>
         <% end %>
       </p>

     </div>
   </div>
   <div class="clear"></div>
   <% end %>
 </div>
</div>

<script type="text/javascript" charset="utf-8">
$('a.save').click(function(){
  $('.myform form').submit();
  return false;
});
</script>

<style type="text/css">
 #stylized .field_with_errors label.message {
    display: inline;
    float: none;
    padding: 0;
    margin: 0;
  }
  #stylized .field_with_errors .message {
    padding: 0;
  }
</style>