<% content_for :css do  %>
<%= theme_stylesheet_link_tag "setting" %>
<% end %>
<div class="whitespace setting">
  <h1 class="main_title">修改密码</h1>
  <div id="stylized" class="myform">
   <%= form_for @user, 
   :validate => true, 
   :url => url_for(:action => :update_password ), 
   :html => { :method => :put, :id => :form } do |f| %>   
   <%= f.hidden_field :reset_password_token %>
   <div class="required">
     <label><span>*</span>当前密码</label>
     <%= f.password_field :current_password, :class => "text name", :validate => { :presence => true} %>  
   </div>

   <div class="required">
     <label><span>*</span>新密码</label>
     <%= f.password_field :password, :class => "text name", :validate => { :presence => true, :confirmation => true } %>  
   </div>
   <div class="required">
     <label><span>*</span>确认密码</label>
     <%= f.password_field :password_confirmation, :class => "text name" %>
   </div>
   <div class="mt10 optional">
     <label>&nbsp;</label>
     <div class="content">
      <%= link_to "javascript:void(0)", :class => "btn_gray mr5", :onclick => "$(this).parents('form').submit()"  do %>
      <span>保存</span>
      <% end %>
      <%= link_to basic_settings_path, :class => "btn_gray mr5"  do %>
      <span>返回</span>
      <% end %>
    </div>
  </div>
  <% end %>
  <div class="clear"></div>
  </div
</div>