<table width="100%" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td valign="middle" width="100px" >
      共找到{x}个好友
    </td>
    <td valign="top">
      <%= link_to_button "add_all_friends", "/" %>
      <%= link_to_button "chose_another_method", "/" %>
    </td>
  </tr>
</table>

<div class="person">

  <div class="person_item">
    <p class="avatar">  <%= link_to image_tag("v2/user_test.png",  :width => "60px", :height => "60px"), "/" %> </p>
    <p class="name"> <%= link_to "不良优生", "/" %>
    <p class="button"> <%= link_to_button "add_friend", "/" %>
      <!-- person item end -->
  </div>

  <div class="person_item">
    <p class="avatar">  <%= link_to image_tag("v2/user_test.png",  :width => "60px", :height => "60px"), "/" %> </p>
    <p class="name"> <%= link_to "不良优生", "/" %>
    <p class="button"> <%= link_to_button "add_friend", "/" %>
      <!-- person item end -->
  </div>

  <div class="person_item">
    <p class="avatar">  <%= link_to image_tag("v2/user_test.png",  :width => "60px", :height => "60px"), "/" %> </p>
    <p class="name"> <%= link_to "不良优生", "/" %>
    <p class="button"> <%= link_to_button "add_friend", "/" %>
      <!-- person item end -->
  </div>

  <div class="person_item">
    <p class="avatar">  <%= link_to image_tag("v2/user_test.png",  :width => "60px", :height => "60px"), "/" %> </p>
    <p class="name"> <%= link_to "不良优生", "/" %> </p>
    <p class="button grey"> 请求已发出 </p>
      <!-- person item end -->
  </div>

  <div class="person_item">
    <p class="avatar">  <%= link_to image_tag("v2/user_test.png",  :width => "60px", :height => "60px"), "/" %> </p>
    <p class="name"> <%= link_to "不良优生", "/" %> </p>
    <p class="button grey"> 请求已发出 </p>
      <!-- person item end -->
  </div>



  <div class="clear"> </div>
  <!-- person end -->
</div>
