<% content_for :title, @title%>
<% content_for :css do  %>
    <%= theme_stylesheet_link_tag "setting" %>
<% end %>
  <div class="whitespace friends">
    <h1 class="main_title">添加好友</h1>
    <%= render :partial => "friends/search" %>
    <%= render :partial => "friends/all_sns" %>

    <div class="gray_box invite">
      <h3>通过邮件邀请朋友加入</h3>
      <%= form_tag :action => "email_invite" do %>
        <p>
          <%= text_area_tag "email_address", nil, :placeholder => '输入邮件地址' %>
          <%= text_area_tag "description", nil,  :placeholder => '输入邀请留言' %>
          <%= text_field_tag "name", current_user.username, :placeholder => "输入你的姓名" %>
        </p>
        <p>
          <%= link_to "javascript:void(0);", :class => "btn_gray save" do %>
            <span>发送邀请</span>
          <% end %>
        </p>
        <div class="notice">一次填写多个Email地址请用回车换行分隔，最多支持20个邮箱</div>

      <% end -%>
    </div>

  </div>

<script type="text/javascript" charset="utf-8">
    $('a.save').click(function(){
        $('.invite form').submit();
        return false;
    });
</script>
