<% content_for :title, @title%>
<div class="friends">
  <div id="main_t" class="clearfix">
    <h1>添加好友</h1>
    <div class="clear"></div>
  </div>

  <div class="box box_1 email_box">
    <h3>通过邮箱寻找好友</h3>
    <ul>
      <li>
        <%= link_to_icon "sina_mail_long", '/friends/from_email?email=sina' %>
      </li>
      <li>
        <%= link_to_icon "qq_mail_long", '/friends/from_email?email=qq' %>
      </li>
      <li>
        <%= link_to_icon "gmail_long", '/friends/from_email?email=gmail' %>
      </li>
    </ul>

    <!-- .box end -->
  </div>
  <div class="clear"> </div>
  <div class="mail_form">
  <% if request.post?  %>
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
      <tr>
        <td valign="middle" width="100px" >
          共找到{<%= @recommend_users.length %>}个好友
        </td>
        <td valign="top" align="left">
          <%= link_to_button "add_all_friends", "/" %>
          <%= link_to_button "chose_another_method", "/" %>
        </td>
      </tr>
    </table>
    <div class="person">
  <% @recommend_users.each do|friend| %>
  <div class="person_item">
    <p class="avatar">  <%= link_to image_tag(friend.avatar,  :width => "60px", :height => "60px"), "/" %> </p>
    <p class="name"> <%= link_to friend.username, '/friends/follow?user_id=' + friend.user_id.to_s %>
    <p class="button"> <%= link_to_button "add_friend", '/friends/follow?user_id=' + friend.id.to_s %>
      <!-- person item end -->
  </div>
  <% end %>
  <div class="clear"> </div>
  <!-- person end -->
</div>
</div>
  <% else %>
    <%= form_tag("/friends/from_email?email="+params[:email]) do %>
      <table border="0" cellspacing="10" cellpadding="5">
        <tr>
          <td>Gmail帐号</td>
          <td class="text_input"><%= text_field_tag "login" %></td>
        </tr>
        <tr>
          <td align="right">密码</td>
          <td class="text_input"><%= password_field_tag "password" %></td>
        </tr>
        <tr>
          <td> </td>
          <td> <%= image_submit_tag("v2/button/find_email_friend.png") %> </td>
       </tr>
      </table>
    <% end -%>
  <% end %>

</div>
<!-- friends end -->
</div>

