<% content_for :title, @title%>
<% content_for :css do %>
    <%= theme_stylesheet_link_tag "setting" %>
<% end %>

<div class="whitespace friends">
  <%= link_to request.referer, :class => "btn_gray float_r" do %>
      <span>返回</span>
  <% end %>
  <h1 class="main_title">同步设置</h1>
  <h3>同步各大社区网站，随时分享你在IWine得有趣发现</h3>
  <div class="sys">
    <ul>
      <li>
        <% if current_user.check_oauth?("weibo") %>
        <span class="sys_on"></span>
        <%= image_tag("/assets/waterfall/images/common/btn_syn_weibo.jpg", :alt => "新浪微博") %>
        <p>
          <em>已设置同步到新浪微博</em>
          <%= link_to "取消同步", delete_sns_friends_path(:sns_name => "weibo") %>
        </p>
      <% else %>
        <%= image_tag("/assets/waterfall/images/common/btn_syn_weibo_off.jpg", :alt => "新浪微博") %>
        <p> <span>尚未设置同步</span> </p>
        <p>
          <%= link_to user_omniauth_authorize_path(:weibo, :display => "popup"), :class => "btn_gray", :target => "_blank" do %>
            <span>同步到新浪微博</span>
          <% end %>
        </p>
      <% end %>
      </li>
      
      <li>
        <% if current_user.check_oauth?("qq") %>
            <span class="sys_on"></span>
            <%= image_tag("/assets/waterfall/images/common/btn_syn_qq.jpg", :alt => "腾讯微博") %>
            <p>
              <em>已设置同步到腾讯微博</em>
              <%= link_to "取消同步", delete_sns_friends_path(:sns_name => "qq") %>
            </p>
        <% else %>
            <%= image_tag("/assets/waterfall/images/common/btn_syn_qq_off.jpg", :alt => "腾讯微博") %>
            <p><span>尚未设置同步</span></p>
            <p>
              <%= link_to new_sns_friends_path(:sns_name => "qq"), :class => "btn_gray", :target => "_blank" do %>
                <span>同步到腾讯微博</span>
              <% end %>
            </p>
        <% end %>
      </li>
      
      <li class='last'>
        <% if current_user.check_oauth?("douban") %>
            <span class="sys_on"></span>
            <%= image_tag("/assets/waterfall/images/common/btn_syn_douban.jpg", :alt => "豆瓣") %>
            <p>
              <em>已设置同步到豆瓣</em>
              <%= link_to "取消同步", delete_sns_friends_path(:sns_name => "douban") %>
            </p>
        <% else %>
            <%= image_tag("/assets/waterfall/images/common/btn_syn_douban_off.jpg", :alt => "豆瓣") %>
            <p><span>尚未设置同步</span></p>
            <p>
              <%= link_to new_sns_friends_path(:sns_name => "douban"), :class => "btn_gray", :target => "_blank" do %>
                <span>同步到豆瓣</span>
              <% end %>
            </p>
        <% end %>
      </li>
      <div class="clear"></div>
    </ul>
  </div>
</div>
<script type="text/javascript">
  <% if params[:failure] %>
    parent.$.fancybox({content:'同步失败'});
  <% end %>
</script>