<% content_for :title, @title%>
<% content_for :css do  %>
    <%= theme_stylesheet_link_tag "setting" %>
<% end %>

<div class="whitespace friends">
  <h1 class="main_title">添加好友</h1>
  <%= render "friends/all_sns" %>

  <div class="mt20">
    <% if @authorized %>
        <p class="mb30">
          <span class="font14">共找到<%= @recommend_friends.length %>好友</span>
          <%= link_to follow_friends_path(:user_id=> @user_ids.join(',')), :class => "btn_gray mr5" do %>
              <span>全部加为好友</span>
          <% end %>
          <%= link_to find_friends_path(), :class => "btn_gray" do %>
              <span>选择其它方式寻找好友</span>
          <% end %>
        </p>
        <%= render :partial => "friends/friend" %>
    <% else %>
        <p class="mb30"><span class="font14">你还没有设置<%= params[:sns_name] %>账号</span></p>
        <div class="align_c">
          <%= link_to_sync_button params[:sns_name].to_s, new_sns_friends_path(:sns_name => params[:sns_name]) %>
        </div>
    <% end %>
  </div>
</div>
