<% content_for :title, @title%>
<div class="whitespace">
<div id="hp">
<%= render "users/sub_nav", :action => params[:action] %>
<div class="clear"></div>

<div class="title_btn">
  <%= link_to albums_user_path(@user), :class => "btn_gray float_r"  do  %>
  <span>返回相册首页</span>
  <% end %>
  <h1>编辑相册属性 </h1>
  <div class="clear"></div>
</div>
<div>
<%= form_for @album, :url => {:action => 'edit', :album_id => @album.id } do |f| %>
    <table class="form" width="" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <th>相册名称</th>
        <td><label>
           <%= f.text_field :name, :class => "text name" %>
        </label></td>
      </tr>
      <tr>
        <th valign="top">相册描述</th>
        <td><label>
          <%= f.text_area :intro, :style => "width: 250px", :size => "45x5" %>
        </label></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>
          <label>
              <%= f.check_box :is_public, {:checked => @album.is_public.to_i == 0}, 0, 1 %>不公开
          </label>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>
          <a href="javascript:$('#edit_album_<%= @album.id%>').submit();" class="btn_gray ml5">
            <span>保存修改</span>
          </a>
          
          <%= link_to albums_user_path(@user), :class => "btn_gray"  do  %>
          <span>取消</span>
          <% end %>
          
        </td>
      </tr>
    </table>
<% end %>
</div>


<!-- end mine -->
</div>
</div>


