<div class="wp_space_line ptb30">
  <div class="title_btn">
    <%= link_to new_note_path(:wine_detail_id => @wine_detail.id, :step => :first),:class => "btn_gray float_r" do %>
      <span>写品酒辞</span>
    <% end %>  
    <h2>品酒辞<span class="font12 more"><%= link_to "（共#{@wine_notes_count}条...)", notes_wine_path(@wine_detail)%></span></h2>
    <div class="clear"></div>
  </div>
  <ul class="notes_list">
    <% if @wine_notes.present? %> 
      <% @wine_notes.each_with_index do |wine_note, i| %>
        <% if i < 3 %>
        	<li class="clearfix">
          	<div class="left">
              <%= link_to cover(wine_note[:photo], 'customer', '100x100', '100x100'), note_path(wine_note[:note]) %>
              </div>
              <div class="right">
             	  <span class="date  float_r"><%= wine_note[:note].created_at.to_s(:cn_short) %></span>
                <p>来自 <%= link_to wine_note[:user].username, user_path(wine_note[:user]) %> 的品酒辞</p>
                <p class="mb10">年份：<%= wine_note[:wine].vintage %>年 
                  | 评分：
                  <span><%= star_rate_tag(wine_note[:wine].rating) %></span></p>
                <p><%= truncate(wine_note[:wine].comment, :length => 100) %></p>
                <p><%= link_to '详细 》', note_path(wine_note[:note]) %></p>
            </div>
            <div class="clear"></div>
          </li>
        <% end %>
      <% end %>
    <% else %>
      无
    <% end %>
  </ul>
  <div class="clear"></div>
</div>