<ul id="variety_items">
  <% percentage_arr = @register.variety_percentage %>
  <% @register.variety_name.each_with_index do |variety_name, index| %>
      <% next if variety_name.blank? %>
      <li>
        <span class="extra_attribute"><%= variety_name %></span>
        <span class="extra_attribute"><%= percentage_arr[index] %></span>
        <input type="hidden" name="wines_register[variety_name_value][]" value="<%= variety_name %>"/>
        <input type="hidden" name="wines_register[variety_percentage_value][]" value="<%= percentage_arr[index] %>"/>
        <%= link_to "", "#", :class => "delete_variety icon_delet2" %>
      </li>
  <% end %>
</ul>
