<div id="leftcol" class="mr50">
  <div class="mb30">
    <a href="<%= url_for :action=>'new_short_comment',:type=>'comment',:wine_detail_id=>@wine_detail.id %>" class="new_short_comment fancybox.ajax button_gray_b float_r">
      <span><%= @user_comment.present? ? '修改':'我来'%>评论</span>
    </a>
    <h2><%= @wine_detail.year.to_s + @wine.name_zh%> 的评论</h2>
  </div>
  <div class="sort_space">
    <div class="sort_item">
      <a href="<%= url_for :action => 'short_comments', :wine_detail_id => @wine_detail %>">按投票排序</a> | 
      <a href="<%= url_for :action => 'short_comments', :wine_detail_id => @wine_detail, :order => 'time' %>">按时间排序</a>
    </div><div class="count">共<%= @wine_comments.total_count.to_i %>条</div>
  </div>
  <div class="comment_list">
      <% if @wine_comments.length > 0 %>
      <ul>
        <% @wine_comments.each do |comment| %>
        <li class="clearfix">
          <div class="user_img">
            <a href="#">
              <%= image_tag comment.avatar.image_url, :width=>50, :height=>50, :alt=>comment.user.username %>
            </a>
          </div>
          <div class="comment_main clearfix">
            <div class="name_time_score clearfix">
              <div class="help_count"><%= comment.good_hit.to_i %>
                <% if comment.user_good_hit.present? %>
                有用
                <% else %>
                <%= link_to '有用', :action => 'good_short_comment', :comment_id => comment.id %>
                <% end %>
              </div>
              <div class="float_l mr5">
                <a href="#"><%= comment.user.username %></a>
                <span class="time"><%= comment.updated_at.strftime '%Y-%m-%d'%></span>
              </div>
              <% if comment.point.present? %>
              <span class="star_s<%=(comment.point/2).to_s%>"></span>
              <% end %>
            </div>
            <div class="comment_content"><%= comment.content%></div>
          </div>
          <div class="clear"></div>
        </li>
        <% end %>
      </ul>
      <% end %>
  </div>
 <div class="pagination">
 <%= paginate @wine_comments, :outer_window => 2 %> 
 </div>
</div>
<div id="rightcol" class="comment_list_side">
  <!--popup test link-->
  <div class="mb10">
    <a class="new_short_comment fancybox.ajax" href="<%= url_for :action=>'new_short_comment',:type=>'drank',:wine_detail_id=>@wine_detail.id %>">喝过按钮</a>
  </div>
  <div class="mb10">
    <a class="new_short_comment fancybox.ajax" href="<%= url_for :action=>'new_short_comment',:type=>'want',:wine_detail_id=>@wine_detail.id %>">想喝按钮</a>
  </div>
  <div class="mb10"><a class=" fancybox.ajax" href="/html/wine_addtocellar.html">收藏到酒窖按钮</a></div>
  <!--popup test link-->

  <div class="mb20 f14"><a href="<%= url_for :action => 'show', :wine_detail_id => @wine_detail.id %>">回<%= @wine_detail.year.to_s + @wine.name_zh%>页面 》</a></div>
  <div class="mb10"><a href="#"><img src="/assets/base/test/win_130p.jpg" width="130" height="140" alt="2001拉菲珍宝" /></a></div>
  <div>
    其他中文名：小拉菲、拉菲复牌<br/>
    酒庄：<a href="＃">某某酒庄</a><br/>
    官方网站：<a href="http://www.lafite.com" target="_blank">http://www.lafite.com</a><br/>
    产区：<a href="#">法国</a> ><a href="#"> 波尔多</a> > <a href="#">波亚克</a><br/>
    类型：<img src="../assets/base/wine_red.gif" width="18" height="7" alt="红葡萄酒" /> <a href="#">红葡萄酒</a><br/>
    酒精度：12.5%<br/>
    容量：750ml<br/>
    葡萄品种：<br/>
    赤霞珠 (50%-70%)、梅洛(30%-50%)、<br/>
    适饮年限: 2009年－2015年<br/>
  </div>
</div>
<div class="clear"></div>
<script type="text/javascript">
function initStarBar(starBar){
  var starSrc = '/assets/base/star_gray.jpg';
  var starOverSrc = '/assets/base/star_yellow.jpg';
  var starSelectSrc = '/assets/base/star_red.jpg';
  var stars = starBar.children('img');
  var resultElement = starBar.children('input');
  var value = resultElement.val()/2;
  var desEl = starBar.children('span');
  var descriptions = ["欠佳", "尚可", "良好", "推荐", "力荐"];
  var url = false;

  <% if @user_comment.present? %>
    url = '<%= url_for :action => 'set_short_comment_point', :comment_id => @user_comment.id %>';
  <% end %>

  starBar.bind('mouseleave', function(){
    stars.each(function(i, el){
      el.src = i < value ? starSelectSrc: starSrc;
    });
    value > 0 ? desEl.text(descriptions[value - 1]) : desEl.text('');
  });

  stars.bind({

    mouseenter: function(){
      var n =this.id.replace( /[a-z_]/g, '');
      stars.each(function(i, el){
          el.src = i < n ? starOverSrc : ( i < value ? starSelectSrc: starSrc );
      });

      desEl.text(descriptions[n - 1]);
    },

    click: function(){
      value = this.id.replace(/[a-z_]/g, '');
      resultElement.val(value * 2);

      if(resultElement.attr('name') == 'form' && url)
      {
        window.location.href = url + '&point=' + (value*2);
      }
    }
  });

  if(value > 0)
  {
    desEl.text(descriptions[value - 1]);
  }
};

function deleteComment(){
  if(confirm('Sure?')){
    $('#wine_profile_delete_short_comment').submit();
  }
};

var profileStarBar = $('#wine_profile_star_bar');
initStarBar(profileStarBar);
$('.new_short_comment').fancybox({padding:0, margin: 0, width: 450, height: 'auto', autoSize: false, modal: true});
</script>