
<% content_for :css do %>
<%= theme_stylesheet_link_tag :wine, :thumb %>
<% end %>
<div id="comment_form"  style="display: none" >

</div>
<div id="add_to_cellar_form"  style="display: none" >

</div>
<div id="wp_left">
  <div class="wp_space_line">
    <h1 class="wine_name_ch"><%= raw @wine_detail.cname %></h1>
    <h1 class="wine_name_en"><%= raw @wine_detail.origin_name %></h1>
  </div>
  <div class="wp_space_line ptb10">
    <%= render "wine_details/share/buttons" %>
  </div>
  <div class="wp_space_line">
    <%= render "wine_details/share/cover" %>
  </div>
  <div class="wp_space_line ptb30">
    <h2>介绍</h2>
    <% unless @wine_detail.description.nil? %>
    <% cache("#{@wine_detail.id}-#{@wine_detail.updated_at.to_i}-data") do %>
    <div> <%= @wine_detail.description %></div>
    <% end %>
    <% else %>
    <div>暂时没有介绍...</div>
    <% end %>
  </div>
  <div class="wp_space_line ptb30">
   
    <%= render "wine_details/share/photos" %>
  </div>
  <%#= render "wine_details/share/likers" %>
  <div class="wp_space_line ptb30">
    <%= render "comments/comments"  %>
  </div>
  <%= render "wine_details/share/followers" %>
  <%= render "wine_details/share/owners" %>
  <%#= render "wine_details/share/events" %>
</div>
<div id="wp_right">
  <%= render "wine_details/share/resource" %>
  <% cache("#{@wine_detail.id}-#{@wine_detail.updated_at.to_i}-data") do %>
   <%= render "wine_details/share/spec"%>
  <% end %>
  <%= render "wine_details/share/score"%>
  <%= render "wine_details/share/special_comments"%>
  <%= render "wine_details/share/price"%>
  <%= render "wine_details/share/vintage"%>
  <div class="">
    <%= link_to feedback_path(:for => "error_feedbacks" ), :class => "btn_gray" do %>
      <span>信息纠错与补充</span>
    <% end %>
  </div>
</div>
<div class="clear"></div>   
