<% @comments.each do |comment| %>
<!-- 酒评论带评分 -->
<% if comment.commentable_type == "Wines::Detail" %>
<div class="item relative dotted">
  <div class="pic">
	<%= wine_cover_tag comment.commentable, :thumb_name => :thumb, :width => 90, :height => 90 %>
  </div>
  <p class="comment_info">
    评论  <%= raw link_to comment.commentable.name, wine_path(comment.commentable.id) %>
	 <%= link_to_icon "wine_comment", "#" %>
    <br /><%= comment.created_at.to_s(:normal) %>
	<%= star_rate_tag(comment.point) %>
  </p>
  <p class="description"> <%= comment.body %></p>
  <%= link_to_icon "delete", "/", :style => "display: none", :class => "delete" %>
  <%= link_to_icon "edit", "/", :style => "display: none", :class => "edit" %>
</div>
<div class="clear"></div>

<% elsif comment.commentable_type == "Winery" %>

<!-- 酒庄评论 -->
<div class="item relative dotted">
  <div class="pic">
    <%= image_tag "v2/test/m_w_3.png", :title => "title", :class => "class" %>
  </div>
  <p class="comment_info">
    评论 <a href="#">某某酒庄</a> <%= link_to_icon "winery_comment", "/" %>
    <br />2011-12-23
  </p>
  <p class="description"> 味道确实好 </p>
  <%= link_to_icon "delete", "/", :style => "display: none", :class => "delete" %>
  <%= link_to_icon "edit", "/", :style => "display: none", :class => "edit" %>
</div>
<div class="clear"></div>

<% elsif comment.commentable_type == "Photo" %>

<!-- 图片评论 -->
<div class="item relative dotted">
  <div class="pic float_right">
    <%= image_tag "v2/test/m_w_3.png", :title => "title", :class => "class" %>
  </div>
  <p class="comment_info">
    评论 <a href="#"> 1998 干红葡萄酒 France 法国的照片</a> <%= link_to_icon "photo_comment", "/" %>
    <br />2011-12-23
  </p>
  <p class="description"> “这张照片是我一个朋友拍的，他是摄影师也是红酒爱好者。” </p>
  <%= link_to_icon "delete", "/", :style => "display: none", :class => "delete" %>
  <%= link_to_icon "edit", "/", :style => "display: none", :class => "edit" %>
</div>
<div class="clear"></div>

<% elsif !comment.parent_id.nil? %>
<!-- 回复别人的评论 -->
<div class="item relative dotted">
  <div class="pic">
    <%= image_tag "v2/test/m_w_3.png", :title => "title", :class => "class" %>
  </div>
  <p class="comment_info">
    评论 <a href="#">某某酒庄</a> <%= link_to_icon "reply_comment", "/" %>
    <br />2011-12-23
  </p>
  <p>回复<%= link_to_user @user, user_path(@user.id) %>:<i> 这里是被评论的内容</i> </p>
  <p class="description"> 味道确实好 </p>
  <%= link_to_icon "delete", "/", :style => "display: none", :class => "delete" %>
  <%= link_to_icon "edit", "/", :style => "display: none", :class => "edit" %>
</div>
<div class="clear"></div>

<% end%>



<% end %>




