<div id="login">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <% unless devise_error_messages!.blank? %>
      <div class="error"><%= devise_error_messages! %></div>
    <% end %>

    <div class="logreg_box">
    <div class="top">欢迎登录iWine!</div>
    <div class="mid">
      <div class="left">
         <div class="un" ><%= f.email_field :email, :class => "text", :placeholder => "Email" %></div>
          <div class="pw"><%= f.password_field :password, :class => "text", :placeholder => "密码" %></div>
          <div class="rember_pw">
            <%= link_to  "javascript:void(0)", :onclick => "$(this).parents('form').submit()" do %>
            <%= image_tag "common/btn_login.jpg",
              :class => :float_r,
              :width => 96,
              :height => 41,
              :alt => "登录" %>
            <% end %>
            <label><%= f.check_box :remember_me,  {:checked => true} %> 记住我</label>
            <%= link_to "忘记密码?", new_password_path(resource_name) %>
            <div class="clear"></div>
          </div>
      </div>
      <div class="right">
        <%= render "sns" %>
      </div>
      <div class="clear"></div>
    </div>
    <div class="bot"></div>
    </div>
  
  <% end -%>
  <div class="clear"></div>
       
</div>
<script type="text/javascript">
     $(document).keypress(function(e) {
         if(e.which == 13) {
           $("#new_user").submit();
           return false;
         }
     });
</script>
