<% sub_menu = {
     "wine_follows"     => "wine_follows",
     "winery_follows"   => "winery_follows",
     "comments"  => "comments",
     "testing_notes"  => "testing_notes",
     "user_follows"     => "user_follows",
     "user_followers"    => "user_followers",
     "albums"           => "albums" } %>

<div id="cu_user_menu" class="clearfix relative">
  <div class="user_info">
    <div class="avatar relative">
      <%= link_to_user @user,
                       "/",
                       :with_avatar => true,
                       :avatar_version => :large %>

    </div>
     <%= link_to "我的酒窖", "/mine/cellars/#{@user.cellar}", :class => "block button absolute" %>
    <div class="text_info">
      <%= render "mine/share/user_info" %>
    <!-- user_info end -->
  </div>
  <div class="clear">
  </div>
  <div class="sub_nav absolute">
    <ul class="clearfix">
      <% sub_menu.each do |action_name, url| %>
        <% if action == action_name %>
          <li  class="current" >
            <%= link_to "2" , url %> <br />
            <%= link_to t("nav.sub_nav.mine.#{action_name}"),  url %>
          </li>
        <% else %>
          <li>
            <%= link_to "2" , url %> <br />
            <%= link_to t("nav.sub_nav.mine.#{action_name}"), url %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <!-- sub_nav end -->
  </div>
  <div class="clear"></div>
  <!-- cu_user_menu end -->
</div>
