<div class="<%= controller_name %> index user_follows">
  <%= render "mine/sub_nav", :action => params[:action] %>
  <div class="clear"></div>
  <div class="left">
    <div class="box box_1">
      <h3>关注的人 <span class="font_12">(共 <%= @followings.total_count %> 人)</span> </h3>
      <%= render "mine/share/user_followings" %>
      <div class="clear"></div>
      <!-- pagination start  -->
      <div class="pagination">
      <%= paginate @followings, :outer_window => 2 %> 
      <!-- pagination  end   -->
      </div>

      <!-- .box end -->
    </div>
    <div class="clear"></div>
    <!-- left end -->
  </div>

  <div class="right">
    <div class="box box_1  user_follows" >
      <h3>可能感兴趣的人</h3>
      <%= render "mine/share/recommend_users" %>
      <div class="clear"></div>
      <%= link_to "添加或邀请好友", "/friends/find", :class => "button block find_friends" %>
      <!-- .box end -->
    </div>

    <div class="clear"></div>
    <!-- right end -->
  </div>
  <!-- .mine end -->
</div>
<div class="clear"></div>