<div class="mine index">
  <%= render "sub_nav", :action => params[:action] %>
  <div class="clear"></div>

  <div class="left">
    <div class="box box_1 cellar">
      <h3>藏酒 <span class="font_12"><%= link_to "(12支, 更多)", :controller => "/mine/cellars" %></span> </h3>
      <!-- .box end -->
      <%= render "mine/share/wine_image_list", :wine => @wine_collections %>
    </div>

    <div class="clear"></div>

    <div class="box box_2 wine_follows">
      <h3>关注的酒<span class="font_12"><%= link_to "(12支, 更多)", :controller => "/mine/cellars" %></span> </h3>
      <%= render "mine/share/wine_image_list", :wine => @wine_follows %>
      <!-- .box end -->
    </div>

    <div class="clear"></div>

    <div class="box box_3 detail_comments">
      <h3>品酒辞<span class="font_12"><%= link_to "(12支, 更多)", :controller => "/mine/cellars" %></span> </h3>

      <!-- TODO: 使用 render @detail_comments , 模板在 wines/detail_comments -->
      <%= render "wines/testing_notes/testing_note" %>
      <!-- .box end -->
    </div>
    <div class="clear"></div>
    <div class="box box_4 simple_comments">
      <h3>评论<span class="font_12"><%= link_to "("+@comments.length.to_s+"条, 更多)", :controller => "/mine/cellars" %></span> </h3>
      <%= render @comments %>
      <!-- .box end -->
    </div>
    <!-- left end -->
  </div>
  <div class="right">
    <div class="box box_1  user_follows" >
      <h3>关注的人<span class="font_12">
        <%= link_to "("+@followings.length.to_s+"人, 更多)", :controller => "/mine/followings" %></span> 
      </h3>
      <% if @followings.present? %>
      <%= render "mine/share/following_list", :items => @followings %>
      <% else %>
      你还没还有关注任何人！
      <% end %>
      <!-- .box end -->
    </div>
    <div class="clear"></div>
    <div class="box box_2  user_followed" >
      <h3>粉丝<span class="font_12">
        <%= link_to "("+@followers.length.to_s+"人, 更多)", :controller => "/mine/followers" %></span> 
      </h3>
      <% if @followers.present? %>
      <%= render "mine/share/follower_list", :items => @followers  %>
      <% else %>
      你还没有粉丝！
      <% end %>
      <!-- .box end -->
    </div>
    <div class="clear"></div>
    <div class="box box_3  event_follows" >
      <h3>关注的活动<span class="font_12"><%= link_to "(12支, 更多)", :controller => "/mine/cellars" %></span> </h3>
      <%= render "mine/share/event_list", :items => []  %>
      <!-- .box end -->
    </div>
    <!-- right end -->
  </div>
  <!-- .mine end -->
</div>
<div class="clear"></div>