<div class="<%= controller_name  %> index wine_follows">
  <%= render "mine/sub_nav", :action => params[:action] %>
  <div class="clear"></div>

  <div class="left">
    <div class="box box_1">
      <h3>关注的酒 <span class="font_12">(共 <%= @user.wine_follows_count %> 支)</span> </h3>

      <%= render "mine/share/wine_follows" %>


      <!-- pagination start  -->
      <div class="pagination">
	 <%= paginate @comments %>
      <!-- pagination  end   -->
      </div>


      <!-- .box end -->
    </div>

    <div class="clear"></div>

    <!-- left end -->
  </div>

  <div class="right">
    <div class="box box_1  user_follows" >
      <h3>最多人关注的酒 </h3>
      <%= render "mine/share/most_wine_follows" %>

      <!-- .box end -->
    </div>

    <div class="clear"></div>
    <!-- right end -->
  </div>
  <!-- .mine end -->
</div>

<div class="clear"></div>

