<% @photos.each_with_index do  |photo, index| %>
<%= raw show_clear_div(index) %>
    <li id="<%= index%>">
      <%= link_to winery_photo_path(@winery, photo) do %>
          <%= image_tag(photo.image_url(:thumb), :alt => @winery.origin_name) %>
      <% end %>
      <%= link_to photo.comments_count, winery_photo_path(@winery, photo), :class => "icon_comment" %>
    </li>
<% end %>
