<% content_for :title, @title%>
<% content_for :css do %>
<%= theme_stylesheet_link_tag :wine, :thumb %>
<% end %>
<div id="wp_left">
	
	<div class="wp_space_line top">
		<%= link_to wine_photos_path(@wine_detail), :class => [:btn_gray, :float_r] do %>
		<span>返回</span>
		<% end %>
    <%= link_to new_photo_path(:wine_id => @wine_detail), :class => [:btn_gray, :float_r, :mr5] do %>
      <span>上传照片</span>
    <% end %>
		<h1 class="wine_name_ch"><%= raw @wine_detail.cname %>的图片</h1>
		<div class="clear"></div>
	</div>
	<div class="wp_space_line ptb30">
		<div class="album_left">
			<div class="mb20">
				<%= render :partial => "share/photo_page_number", :locals => {:parent => @wine_detail} %>
			</div>
			<div class="photo">
				<%= image_tag @photo.image_url(:large_x) %>
			</div>
			<div class="info clearfix">
				
				<%= render :partial => 'liked' %>
				
				<%= render 'share/sns_icons',
                    :image_url => sns_image_url(@photo, :thumb_name => :large),
                    :title => sns_title(@wine_detail.origin_zh_name),
                    :summary => "的图片",
                    :url => request.url %>
				
				<div><%= @photo.views_count %>浏览 | <%= @comments.count %>评论</div>
			</div>
			<div class="comment">
				<div class="mb20 clearfix">
					<div class="title">
						<a href="#01" class="btn_gray float_r" onclick="javascript:$('#photo_comment_body').focus()"><span>添加评论</span></a>
						<h3>评论</h3>
					</div>
				</div>
				<%= render "comments/comment_list" %>
				<a name="01" id="01"></a>

			</div>
		</div>
	</div>

</div>


<div id="wp_right">
	<%= render "wine_details/share/resource" %>
	<%= render "wine_details/share/spec"%>
	<%= render "wine_details/share/score"%>
	<%= render "wine_details/share/special_comments"%>
	<%= render "wine_details/share/price"%>
	<%= render "wine_details/share/vintage"%>
	<div class=""><a href="#" class="btn_gray"><span>信息纠错与补充</span></a></div>
</div>
<div class="clear"></div>   


