<% content_for :css do %>
  <%= stylesheet_link_tag "event" %>
<% end %>
<% content_for :title, @title%>
<div class="whitespace">
  <div id="hp">
    <%= render "users/sub_nav", :action => params[:action] %>
    <div class="clear"></div>
    <div class="content">
      <div class="left">
        <div class="tabs">
          <%= render "users/events/sub_nav" %>
        </div>
        <div class="title_btn">
          <h1>
            创建的活动
          </h1>
        </div>
        <div class="event_list">
          <% if @events.present? %>
            <% @events.each do |event| %>
              <dl class="clearfix">
                <dt>
                  <%= link_to event_path(event) do %>
                    <%= image_tag event.poster_url(:thumb), :size => '100x150', :alt => event.title %>
                  <% end %>
                </dt>
                <dd>
                  <span class="type">
                    <%= event_item_tags(event) %>
                  </span>
                  <h2> <%= link_to event.title, event_path(event)  %></h2>
                  <div class="info">时间:  <%= event.begin_end_at %><br />
                    地点:  <%= event.full_address %><br />
                    组织者：<%= link_to  event.user.username, 
                      user_path(event.user, :trailing_slash => true) %>
                    </div>
                    <div class="p_count2">
                      <span>
                        <%= event.participants_count %>人参加  |
                        <%= event.followers_count %>人感兴趣
                      </span>
                    </div>
                    <% if user_signed_in?  %>
                      <% if @user == current_user %>
                        <% if event.published? && !event.timeout? # 活动已经发布 %>
                        <div>
                          <%= link_to "编辑活动", edit_event_path(event), :class => :icon_edit2 %> |
                          <%= link_to "取消活动",
                          published_event_path(event,
                                               :publish_status => APP_DATA['event']['publish_status']['draft'] ),
                                               :class => :icon_cancle %> |
                          <%= link_to "查看参与者", participants_user_event_path(@user, event), :class =>  :icon_member %>
                        </div>
                      <% elsif event.draft? # 活动是草稿 %>
                        <div>
                          <span class="event_unpublic mr5">未发布</span>
                          <%= link_to '发布', published_event_path(event,
                                                           :publish_status => APP_DATA['event']['publish_status']['published']),
                                                           :class => :icon_public %> |
                          <%= link_to "编辑活动", edit_event_path(event), :class => :icon_edit2 %>
                        </div>
                      <% elsif event.timeout? # 活动已经结束 %>
                        <div>
                          <span class="event_end">活动已结束</span>
                          <%= link_to "查看参与者", participants_user_event_path(@user, event), :class =>  :icon_member %>
                        </div>
                      <% elsif event.cancle? # 活动已经取消 %>
                        <div>
                          <span class="event_cancle">活动已取消</span>
                        </div>
                      <% end %>

                      <% end %>
                    <% end %>
                  </dd>
                </dl>
              <% end %>
            <% else %> 
              <p>暂无创建的活动.</p>
            <% end %>
            <!--end event_list-->
          </div>
          <div class="pagination">
            <%= paginate @events, :outer_window => 2 %>
          </div>

          <!--end left-->
      </div>
      <div class="right">
        <%= render 'sidebar' %>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
                        
