<% content_for :css do %>
  <%= stylesheet_link_tag "event" %>
<% end %>
<% content_for :title, @title%>
<div class="whitespace">
  <div id="hp">
    <%= render "users/sub_nav", :action => params[:action] %>
    <div class="clear"></div>
    <div class="content">
      <div class="left">
        <div class="tabs">
          <%= render "users/events/sub_nav" %>
        </div>
        <div class="title_btn">
          <h1>
            创建
            <span class="font12 more">
              <%= link_to "(共#{ @user.create_events_count }个...)", create_events_user_events_path(@user) %>
            </span>
          </h1>
        </div>
        <div class="event_list">
          <% if @create_events.present? %>
            <% @create_events.each do |event| %>
              <dl class="clearfix">
                <dt>
                  <% if event.draft? %>
                    <span class="label_unpublic">未发布</span>
                  <% elsif event.timeout? %>
                    <span class="label_end">已结束</span>
                  <% elsif event.cancle? %>
                    <span class="label_cancle">已取消</span>  
                  <% end %> 
                  <%= link_to event_path(event) do %>
                    <%= image_tag event.poster_url(:thumb), :size => '100x150', :alt => event.title %>
                  <% end %>
                </dt>
                <dd>
                  <span class="type">
                    <%= event_item_tags(event) %>
                  </span>
                  <h2><%= link_to truncate_u(event.title, 20), event_path(event)  %></h2>
                  <div class="info">时间:  <%= event.begin_end_at_cn %><br />
                    地点:  <%= event.full_address %><br />
                    组织者：<%= link_to  event.user.username, 
                      user_path(event.user, :trailing_slash => true) %>
                    </div>
                    <div class="p_count2">
                      <span>
                        <%= event.participants_count %>人参加  |
                        <%= event.followers_count %>人感兴趣
                      </span>
                    </div>
                  </dd>
                </dl>
              <% end %>
            <% else %> 
              <p>暂无创建的活动.</p>
            <% end %>
            <!--end event_list-->
          </div>
        <div class="title_btn">
          <h1>
            参加
            <span class="font12 more">
              <%= link_to "(共#{ @user.join_events_count }个...)", join_events_user_events_path(@user) %>
            </span>
          </h1>
        </div>
        <div class="event_list">
          <% if @join_events.present? %>
            <% @join_events.each do |event| %>
              <dl class="clearfix">
                <dt>
                  <% if event.timeout? %>
                    <span class="label_end">已结束</span>
                  <% elsif event.cancle? %>
                    <span class="label_cancle">已取消</span>  
                  <% end %> 
                  <%= link_to event_path(event) do %>
                    <%= image_tag event.poster_url(:thumb), :size => '100x150', :alt => event.title %>
                  <% end %>
                </dt>
                <dd>
                  <span class="type">
                    <%= event_item_tags(event) %>
                  </span>
                  <h2><%= link_to truncate_u(event.title, 20), event_path(event)  %></h2>
                  <div class="info">时间:  <%= event.begin_end_at_cn %><br />
                    地点:  <%= event.full_address %><br />
                    组织者：<%= link_to  event.user.username, 
                      user_path(event.user, :trailing_slash => true) %>
                    </div>
                    <div class="p_count2">
                      <span>
                        <%= event.participants_count %>人参加  |
                        <%= event.followers_count %>人感兴趣
                      </span>
                    </div>
                  </dd>
                </dl>
              <% end %>
            <% else %> 
              <p>暂无参加的活动.</p>
            <% end %>
            <!--end event_list-->
          </div>

          <div class="title_btn">
            <h1>
              感兴趣
              <span class="font12 more">
                <%= link_to "(共#{ @user.follow_events_count }个...)", follow_events_user_events_path(@user) %>
              </span>
            </h1>
          </div>
          <div class="event_list">
            <% if @follow_events.present? %>
              <% @follow_events.each do |event| %>
                <dl class="clearfix">
                  <dt>
                      <% if event.timeout? %>
                    <span class="label_end">已结束</span>
                  <% elsif event.cancle? %>
                    <span class="label_cancle">已取消</span>  
                  <% end %> 
                    <%= link_to event_path(event) do %>
                      <%= image_tag event.poster_url(:thumb), :size => '100x150', :alt => event.title %>
                    <% end %>
                  </dt>
                  <dd>
                    <span class="type">
                      <%= event_item_tags(event) %>
                    </span>
                    <h2><%= link_to truncate_u(event.title, 20), event_path(event)  %></h2>
                    <div class="info">时间:  <%= event.begin_end_at_cn %><br />
                      地点:  <%= event.full_address %><br />
                      组织者：<%= link_to  event.user.username, 
                        user_path(event.user, :trailing_slash => true) %>
                      </div>
                      <div class="p_count2">
                        <span>
                          <%= event.participants_count %>人参加  |
                          <%= event.followers_count %>人感兴趣
                        </span>
                      </div>
                    </dd>
                  </dl>
                <% end %>
              <% else %> 
                <p>暂无参加的活动.</p>
              <% end %>
              <!--end event_list-->
            </div>

          <!--end left-->
      </div>
      <div class="right">
        <%= render "sidebar" %>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
