<li class="clearfix">
	<div class="userimg">
		<%= link_to_user conversation.last_sender, 
		                 { :controller => :users, :action => :show, :id => conversation.last_sender}, 
		                 {:with_avatar => true, :avatar_version => :middle},
		                 {:size => "50x50"} %>
	</div>
	<div class="content clearfix">
			<div > 
				<%= link_to_user conversation.last_sender, "/user" %>
				<%= truncate(truncate(conversation.last_message.body)) %>
			</div>
			<!--
			<div class="reply_body">
			 	<%= truncate(conversation.last_message.body) %>
			</div>
			-->
		<p class="text_info">
			<span>
				共<%= link_to conversation.count_messages, mine_conversation_path(conversation) %>条私信
				<i class="W_vline">|</i>
				<%= link_to "回复", "#form_#{conversation.id}", :class => "reply_conversation" %>
			</span>
			<i class="date"><%= "#{conversation.created_at.to_s(:long)} #{time_ago_in_words(conversation.created_at)} "%> 之前</i>
		</p>
	</div>
	<div class="reply_form" id="<%= "form_#{conversation.id}" %>" style="display: none">
		<%=	render "reply_form", :message => conversation.last_message %>
	</div>
</li>
