<div id="loading" class="loading absolute" style="display: none">
  loading...
</div>
<div class="add">
  <ul>
    <li>
      <%  if @wine_detail.is_followed? current_user %>
      <%= link_to "取消关注", { :action => "cancle_follow",
                        :wine_detail_id => params[:wine_detail_id]},
                        :class => "follow_wine ajax" %>
      <%= link_to "编辑", { :action => "follow",
                        :wine_detail_id => params[:wine_detail_id]},
                        :remote => true,
                        :class => "follow_wine ajax" %>
        <% else %>
      <%= link_to "", { :action => "follow",
                        :wine_detail_id => params[:wine_detail_id]},
                        :remote => true,
                        :class => "follow_wine compass_buttons-follow_wine ajax" %>
      <% end %>
    </li>
    <li><%= link_to "", { :action => :comment,
                          :wine_detail_id => params[:wine_detail_id],
                          :do => "comment"},
                          :remote => true,
                          :class => "comment compass_buttons-comment ajax"%></li>
    <li><%= link_to "", { :action => :follow_wine },
                          :class => "testint_note compass_buttons-testing_note ajax"%></li>
    <li><%= link_to "", { :action => :add_to_cellar,
                        :wine_detail_id => params[:wine_detail_id]},
                          :remote => true,
                          :class => "add_to_cellar compass_buttons-add_to_cellar ajax"%></li>
  </ul>
  <!-- add end -->
</div>
<div class="share">
 <p>分享到: </p>
  <ul>
    <li><%= link_to "", { :action => :follow_wine }, :class => "sina compass_icons-sina"%></li>
    <li><%= link_to "", { :action => :comment}, :class => "tencent compass_icons-tencent"%></li>
    <li><%= link_to "", { :action => :follow_wine }, :class => "douban compass_icons-douban"%></li>
    <li><%= link_to "", { :action => :follow_wine }, :class => "kaixin compass_icons-kaixin"%></li>
    <li><%= link_to "", { :action => :follow_wine }, :class => "renren compass_icons-renren"%></li>
  </ul>

  <!-- share end -->
</div>
