<div id="loading" class="loading absolute" style="display: none">
  loading...
</div>
<div class="add">
  <ul>
    <li><%= link_to "", { :action => "comment" }, :remote => true, :class => "follow_wine compass_buttons-follow_wine ajax"%></li>
    <li><%= link_to "", { :action => :comment}, :class => "comment compass_buttons-comment ajax"%></li>
    <li><%= link_to "", { :action => :follow_wine }, :class => "testint_note compass_buttons-testing_note ajax"%></li>
    <li><%= link_to "", { :action => :follow_wine }, :class => "add_to_cellar compass_buttons-add_to_cellar ajax"%></li>
  </ul>
  <!-- add end -->
</div>
<div class="share">
 <p>分享到: </p>
  <ul>
    <li><%= link_to "", { :action => :follow_wine }, :class => "sina compass_icons-sina"%></li>
    <li><%= link_to "", { :action => :comment}, :class => "tencent compass_icons-tencent"%></li>
    <li><%= link_to "", { :action => :follow_wine }, :class => "douban compass_icons-douban"%></li>
    <li><%= link_to "", { :action => :follow_wine }, :class => "kaixin compass_icons-kaixin"%></li>
    <li><%= link_to "", { :action => :follow_wine }, :class => "renren compass_icons-renren"%></li>
  </ul>

  <!-- share end -->
</div>
