<h3>
  评论
  <span class="font_12">
    <%= link_to "(12条, 更多)", :controller => "/mine/cellars" %>
  </span>
</h3>

<!-- 酒评论带评分 -->
<% (1..2).each do |i| %>
<div class="item relative dotted">
  <div class="pic">
    <%= image_tag "v2/test/m_w_3.png", :title => "title", :class => "class" %>
  </div>
  <p class="comment_info">
    评论 <a href="#"> 2001拉非</a> <%= link_to_icon "wine_comment", "/" %>
    <br />2011-12-23
    <% 5.times do |i| %>
      <%= image_tag 'base/star_red.jpg', :width=>15, :height=>14 %>
    <% end %>
  </p>
  <p class="description"> 味道确实好 </p>
  <%= link_to_icon "delete", "/", :style => "display: none", :class => "delete" %>
  <%= link_to_icon "edit", "/", :style => "display: none", :class => "edit" %>
</div>
<div class="clear"></div>
<% end %>

