<% content_for :title, @title%>
<% content_for :css do %>
<%= theme_stylesheet_link_tag :hp %>
<% end %>
<div class="whitespace">
<div id="hp">
<%= render "users/sub_nav", :action => params[:action] %>
<%= render "show_cellar" %>
</div>
</div>
<script type="text/javascript" charset="utf-8">
    $('#search_order').change(function(){
        wine_name = $("input[name='wine_name']").val();
        order_url = "/users/<%= @user.id %>/cellars/<%= @cellar.id %>?search_order=" + $(this).attr('value');
        url = wine_name ? order_url + "&wine_name=" + wine_name : order_url;
        window.open(url, "_self");
        return false;
    });
</script>