<?xml version="1.0" encoding:utf-8 standalone="no"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">年份</Data></Cell>
        <Cell><Data ss:Type="String">名称</Data></Cell>
        <Cell><Data ss:Type="String">容量</Data></Cell>
        <Cell><Data ss:Type="String">数量</Data></Cell>
        <Cell><Data ss:Type="String">购买时间</Data></Cell>
        <Cell><Data ss:Type="String">购入价格</Data></Cell>
        <Cell><Data ss:Type="String">所在地</Data></Cell>
      </Row>
    <% @cellar_items.each do |item| %>
      <Row>
        <% wine_detail = item.wine_detail %>
        <Cell><Data ss:Type="Number"><%= wine_detail.show_year %></Data></Cell>
        <Cell><Data ss:Type="String"><%= wine_detail.wine.name_zh%></Data></Cell>
        <Cell><Data ss:Type="Number"><%= wine_detail.show_capacity%></Data></Cell>
        <Cell><Data ss:Type="Number"><%= item.number %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= item.buy_date.strftime("%Y年%m月%d日") unless item.buy_date.blank? %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= number_to_currency(item.price,  :unit => "CNY")%></Data></Cell>
        <Cell><Data ss:Type="String"><%= item.location%></Data></Cell>
       </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>