<% content_for :title, @title%>
<div class="whitespace normal search">
  <div class="left">
    <div class="searchbox">
      <a href="<%= url_for( '/searches/winery?word=' )%>" onclick="this.href+=$('#search_input').val()" id="search_link" class="btn_gray float_r">
        <span>搜索</span>
      </a>
      <input class="text" name="" id= "search_input" type="text" placeholder="请输入酒或酒庄的名称" value="<%= params[:word] %>"/>
    </div>
    <div class="clear"></div>
    <div class="tabs">
      <ul>
        <li>
          <a href="<%= url_for( '/searches/results?tab=all&word=' + params[:word] )%>">全部</a>
        </li>
        <li>
          <a href="<%= url_for( '/searches/results?tab=wine&word=' + params[:word] )%>">酒</a>
        </li>
        <li class="current">
          <a href="<%= url_for( '/searches/winery?word=' + params[:word] )%>">酒庄</a>
        </li>
      </ul>
    </div>
    <div class="clear"></div>
    <% if @wineries.blank? %>
    不好意思，没有找到相关内容
    <% else %>
    <div class="nor_notice mb20">太好了，我们找到了一些相关内容：</div>
    <ul class="winery_list">
      <% @wineries.each do |winery| %>
      <li>
        <div class="logo">
            <%= link_to winery_path(winery)  do %>
              <%= winery_label_tag(winery, :thumb_name => :thumb, :width => 100, :height => 100, :alt => winery.name_en) %>
            <% end %>
        </div>
        <div class="meta">
          <h1 class="zh">
            <%= link_to  winery.name_zh, winery_path(winery)  %>
          </h1>
          <h1 class="en">
            <%= link_to  winery.origin_name, winery_path(winery)  %>
          </h1>
          <p class="mt10">
            地区：<%= winery.region_path_zh %>
            <br />
            地址：<%= winery.address %>
            <br />
            官方网站：<%=link_to winery.official_site, winery.official_site %><br />
            电子邮件：<%= winery.email %><br />
            电话：<%= winery.cellphone %><br />
            传真：<%= winery.fax %>
          </p>
        </div>
      </li>
      <div class="clear"></div>
      <% end %>
    </ul>
      <div class="pagination">
        <%= paginate @wineries %>
      </div>
    <!-- <div class="pagination"> -->

      <!--
      <span class="disabled"> < </span>
      <span class="current">1</span>
      <a href="#?page=2">2</a>
      <a href="#?page=3">3</a>
      <a href="#?page=4">4</a>
      <a href="#?page=5">5</a>
      <a href="#?page=6">6</a>
      <a href="#?page=7">7</a>...<a href="#?page=199">199</a>
      <a href="#?page=200">200</a>
      <a href="#?page=2"> > </a>
      <br />
      -->
    <!-- </div> -->
    <% end %>
  </div>
  <div class="right">
    <div class="sidebar">
      <div class="title">或许你会对这些人感兴趣...</div>
      <%= render "users/share/recommend_users" %>
    </div>
  </div>
  <div class="clear"></div>
</div>
<script type="text/javascript" >
    $("#search_input").bind("keyup",
        function(e){
            if(e.keyCode == 13){
                location.href = '/searches/winery?word=' + this.value;
            }
        }
    );
</script>