<% content_for :css do %>
	<%= theme_stylesheet_link_tag :hp %>
<% end %>
  <div id="hp">
	<%= render "mine/sub_nav", :action => params[:action] %>
    <div id="cellar">
      <div class="title_btn"><h1>添加藏酒</h1></div>
      <div class="step">
        <div class="step_thr"></div>
      </div>
      <div id="stylized" class="myform">
        <%= form_for @cellar_item, :validate => true, :url => mine_cellar_items_path(@cellar) do |f| %>
            <input type="hidden" name="wine_detail_id" value="<%= @wine_detail.id%>"/>
            <%= render "form", :f => f, :button_name => "加入酒窖" %>
        <% end %>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
    $('a.save').click(function(){
        $('form#new_users_wine_cellar_item').submit();
        return false;
    });
</script>
		
