<% content_for :css do %>
  <%= stylesheet_link_tag "event" %>
<% end %>
<div class="whitespace eventmain">
  <div class="left">
    <%= render "events/event_detail" %>
    <div class="section">
      <div class="title">
        <%= link_to event_photos_path(@event), :class => "btn_gray float_r" do %>
          <span>返回</span>
        <% end %>
        <%= link_to photo_upload_event_path(@event), :class => "btn_gray float_r mr5" do %>
          <span>上传照片</span>
        <% end %>
        <h2>活动照片</h2>
      </div>
      <div class="content">
        <div class="album_left">
          <div class="mb20">
            <%= render :partial => "share/photo_page_number", :locals => {:parent => @event} %>
          </div>
          <div class="photo">
            <%= image_tag( @photo.image_url(:large), :alt => @photo.intro) %>
          </div>
          <div class="info">
            <%= render :partial => 'liked' %>
            <div class="share float_r">
              <%= render "share/sns_icons_second",
                :image_url => sns_image_url(@photo, :thumb_name => :large),
                :title => sns_title(@event),
                :summary => "的图片",
                :url => request.url %>
              </div>
              <div><%= @photo.views_count %>浏览 | <%= @photo.comments_count %>评论</div>
            </div>
            <div class="comment">
              <div class="mb20 clearfix">
                <div class="title">
                  <h3>评论</h3>
                </div>
              </div>
              <%= render "comments/comment_list" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="sidebox">
        <%= link_to new_event_path, :class => :btn_createvent do %>
          <span>我要创建活动</span>
        <% end %>
      </div>
      <div class="sidebox">
        <%= render 'events/recommends' %>
        <!--end sidebox-->
      </div>
      <!--end right-->
    </div>
    <div class="clear"></div>
