<% content_for :title, @title%>
<% content_for :css do  %>
    <%= stylesheet_link_tag "winery" %>
<% end %>

<div class="whitespace mb30">
  <%= render "wineries/winery_detail" %>
</div>

<div class="whitespace winerymain">
  <div class="left">
    <div class="section">
      <div class="title">
        <%= link_to winery_path(@winery), :class => "btn_gray float_r" do%>
            <span>返回</span>
        <% end %>
        <%= link_to photo_upload_winery_path(@winery), :class => "btn_gray float_r mr5" do %>
            <span>上传照片</span>
        <% end %>
        <h2>所有照片<span class="font12 more">(共<%= @winery.photos_count %>张)</span></h2>
      </div>
      <div class="content">
        <ul class="winery_pic_list">
          <%= render :partial => "photos/photos_list" %>
        </ul>
        <div class="clear"></div>
      </div>
    </div>

    <div class="pagination"><%= paginate @photos%></div>
  </div>

  <div class="right">
    <%= render "wineries/hot_winery" %>
  </div>
  <div class="clear"></div>
</div>

