<div class='admin_wine_register'>
  <%= stylesheet_link_tag "admin" %>
<%= javascript_include_tag 'wine_registers_variety', 'region_world' %>
<%= form_for @wines_detail, :url => {:action => :update} , :mutipart => true do |d| %>
    <table cellspacing="10" cellpadding="5">
      <h3>酒的基本信息</h3>
      <tr>
        <td>中文名</td>
        <td><%= @wines_detail.wine.name_zh %></td>
      </tr>
      <tr>
        <td>英文名</td>
        <td><%= @wines_detail.wine.name_en %></td>
      </tr>
      <tr>
        <td>官网地址</td>
        <td><%= @wines_detail.wine.official_site %></td>
      </tr>
      <tr>
        <td>原名</td>
        <td><%= @wines_detail.wine.origin_name %></td>
      </tr>
      <tr>
        <td>其它中文名</td>
        <td><%= @wines_detail.wine.other_cn_name %></td>
      </tr>
      <tr><td></td><td><%= link_to "更新基本信息", edit_admin_wine_path(@wines_detail.wine) %></td></tr>
      <tr></tr>
        <tr>
          <td><label>种类</label></td>
          <td><%= d.select :wine_style_id, Wines::Style.all.collect{|s| ["#{s.name_zh}/#{s.name_en}", s.id]} %></td>
        </tr>

        <tr>
          <td><label>价格</label></td>
          <td><%= d.text_field :price %></td>
        </tr>
        <tr>
          <td><label>起始年代</label></td>
          <td><%= d.date_select :drinkable_begin, :discard_day => true, :discard_month => true, :start_year => 1990, :end_year => Time.now.year + 150 %>年</td>
        </tr>
        <tr>
          <td><label>截止年代</label></td>
          <td><%= d.date_select :drinkable_end, :discard_day => true, :discard_month => true, :start_year => 1990, :end_year => Time.now.year + 150 %>年</td>
        </tr>
        <tr>
          <td><label>酒精度</label></td>
          <td><%= d.text_field :alcoholicity %></td>
        </tr>
        <tr>
          <td><label>容量</label></td>
          <td><%= d.select :capacity, APP_DATA['wines']['capacity'].each{|key, value| [key, value]} %></td>
        </tr>
        <tr>
          <td><label>年代</label></td>
          <td><%= d.date_select :year, :discard_day => true, :discard_month => true, :start_year => 1990, :end_year => Time.now.year %>年</td>
        </tr>
        <tr>
          <td><label>专家评分</label></td>
          <td>
            <%= d.fields_for :special_comments do |special| %>
              <label>评论家</label>
              <%= special.text_field :name, :name => "special_comment[name][]", :id => "special_comment_name", :size => 20 %>
              <label>得分</label>
              <%= special.text_field :score, :name => "special_comment[score][]", :id => "special_comment_score", :size => 10 %>
              <label>适饮年限</label>
              <%= special.date_select :drinkable_begin, {:discard_day => true, :discard_month => true, :start_year => 1990, :end_year => Time.now.year + 150 }, {:id => "special_drinkable_begin", :name => "special_comment[drinkable_begin][]"} %><span class="gray">年至</span>
              <%= special.date_select :drinkable_end, {:discard_day => true, :discard_month => true, :start_year => 1990, :end_year => Time.now.year + 150}, {:id => "special_drinkable_end", :name => "special_comment[drinkable_end][]"} %><span class="gray">年</span>
                <%= link_to "", "javascript:void(0);", :id => "create_special_comment", :class => "icon_add" %>
            <% end %>
            <%= render "wine_details/special_comment", :parent => @wines_detail %>
          </td>
        </tr>
        <tr>
          <td><label>葡萄酒品种</label></td>
          <td>
            <label>名称</label><%= text_field_tag "variety_percentage[variety_name][]", nil, :id => "variety_name", data: { autocomplete_source: '/api/wine_varieties/index' } %>
            <label>百分比</label><%= text_field_tag "variety_percentage[variety_percentage][]", nil, :id => "variety_percentage" %>%
            <%= link_to "", "javascript:void(0);", :id => "add_detail_variety", :class => "icon_add" %>
            <%= render "variety_percentage", :object => @wines_detail %>
          </td>
        </tr>
        <tr>
          <td><label>图片</label></td>
          <td>
            <% @wines_detail.photos.each do |photo| %>
                <%= image_tag photo.image_url(:thumb) if photo%>
            <% end %>
            <%= link_to "上传或编辑图片", edit_images_admin_photos_path(:imageable_type => "Detail",
                                                            :imageable_id => @wines_detail.id),
                                                            :target => "_blank" %>
          </td>
        </tr>
        <tr><td></td></tr>
        <tr>
          <td></td>
          <td><%= d.submit "提交" %></td>
        </tr>
    </table>
<% end %>
</div>