 <div class="whitespace">
<div id="hp">
  <%= render "users/sub_nav" %>
<div class="title_btn">
      <div class="btn_action">
          <% if current_user && current_user == @user %>
             <%= link_to upload_albums_path(), :class => "btn_gray mr5" do %>
                <span>添加照片</span>
             <% end %>
             <%= link_to new_album_path(), :class => "new_album fancybox.ajax btn_gray"  do  %>
                <span>创建相册</span>
             <% end %>
          <% end %>
      </div>
      <h1>相册 <span class="font12">(共<%= @albums.count %>个)</span></h1>
      <div class="clear"></div>
</div>
<ul class="album_list">
  <% @albums.each do |album| %>
       	<li> 
          <%= link_to album_show_user_path(@user, album.id) do %>
            <% if album.covers.present? %>
             <%= image_tag album.covers.first.image_url :thumb, :class => 'cover' %>
            <% else %>
             <%= theme_image_tag "album.jpg", :class => :cover, :width => 150, :height => 150 %>
            <% end %>
          <% end %>
          <h2>
            <%= link_to album.name, albums_user_path(@user, album) %>
          </h2>
          <p class="info"><%= album.photos_count %>张照片 <%= album.updated_at.to_s(:normal) %>更新<br/>
          <%= album.viewed_num %>浏览 | <%= album.commented_num %>评论 | <%= album.likes.count %>赞</p>
        </li>
    <% end %>
    <div class="clear"></div>
</ul>
<div class="clear"></div>
<div class="pagination">
 <%= paginate @albums, :outer_window => 2 %>
</div>
<script type="text/javascript">
$('.new_album').fancybox({padding:0, margin: 0, width: 450, height: 'auto', autoSize: false, modal: true});
</script>
<!-- end mine -->
</div>
</div>