<div class="whitespace">
  <div id="hp">
    <%= render "users/sub_nav" %>
    <div class="clear"></div>

    <div class="content">
      <div class="album_left">
        <div class="title_btn">
          <h1>
            <%= @album.name %> 
            <span class="font12">(共<%= @album.photos_count %>张)</span>
          </h1>
        </div>
        <div class="mb20">
          <div class="btn_action">
            <%= link_to album_show_user_path(@user, @album.id), :class => [:btn_gray] do  %>
             <span>返回该相册</span>
            <% end %>
          </div>
          <div class="pre_next">
            <% if previous_photo = previous_page(@album.image_ids, @photo.id) %>
                <%= link_to album_photo_show_user_path(@user, @album, previous_photo), :class => "btn_gray mr5" do %>
                    <span>前一张</span>
                <% end %>
            <% end %>
            <% if next_photo = next_page(@album.image_ids, @photo.id) %>
                <%= link_to album_photo_show_user_path(@user, @album, next_photo), :class => "btn_gray" do %>
                    <span>后一张</span>
                <% end %>
            <% end %>              
          </div>
        </div>
        <div class="photo">
          <%= image_tag @photo.image_url(:large) %>
          <p class="name"><%= @photo.intro %></p>
        </div>
        <div class="info">
          <%= render "photos/liked"%>
          <div class="share float_r">
            <%= render "share/sns_icons",
                     :image_url => sns_image_url(@photo, :thumb_name => :large),
                     :title => sns_title(@user.username),
                     :summary => "的照片",
                     :url => request.url %>
            |
          </div>
          	<div><%= @photo.views_count %>浏览 | <%= @comments.count %>评论</div>
        </div>
        <div class="comment">
          <div class="mb20 clearfix">
            <div class="title">
              <a href="#01" class="btn_gray float_r" onclick="javascript:$('#photo_comment_body').focus()"><span>添加评论</span></a>
              <h3>评论</h3>
            </div>
          </div>
          <%= render "comments/comment_list" %>
          <a name="01" id="01"></a>
          </div>
        </div>
        <div class="album_right pt60 pl30">
          <h2>我的其他相册</h2>
          
          <ul class="side_album_list">
            <% @other_albums.each do |album| %>
            <li> 
              <%= link_to album_show_user_path(@user, album.id) do %>
                <% if album.covers.present? %>
                  <%= image_tag album.covers.first.image_url :thumb %>
                <% else %>
                   <%= theme_image_tag "album.jpg", :class => :cover, :width => 150, :height => 150 %> 
                <% end %>              
              <% end %>
              <h3><%= link_to album.name, albums_user_path(@user, album.id) %></h3>
              <p class="info"><%= album.updated_at.to_s(:normal)%></p>
            </li>
            <% end %>
          </ul>
        </div>
        <div class="clear"></div>
      </div>

    </div>
  </div>