<% content_for :title, @title%>
<div class="whitespace">
<div id="hp" class="min_height" >
<%= render "users/sub_nav", :action => params[:action] %>
<div class="clear"></div>

<div id="cu_user_menu" class="clearfix">
  <span class="f14">《 <%= link_to "返回相册首页", albums_user_path(current_user) %> </span>
</div>
<div class="content">
  <div class="album_left">
    <div class="title_btn">
     <h1>完成上传 - 添加描述<span class="font12"></span></h1>
   </div>
   <%= form_tag '/albums/save_upload_list', :id => 'save_upload_list_form' do %>
     <ul class="uploade_done clearfix">
      <% @photos.each do |photo| %>
      <li id="upload_photo_div_<%= photo.id %>">
        <div class="thumb">
          <%= image_tag photo.image_url :thumb_x %>
          <p>
             <%= link_to delete_photo_albums_path(:photo_id => photo.id), :class => "fancybox_delete_photo fancybox.ajax btn_delete float_r" do %>
               <%= theme_image_tag "icon/delet.gif", :alt => "删除照片", :size => "13x13", :align => "absmiddle" %>
             <% end %>
              <%= radio_button_tag "cover_id", photo.id, false, :class => "radio" %>
              设为封面 
          </p>
          </div>

          <div class="des">
            <textarea class="photo_des" name="photo[<%= photo.id %>]" cols="" rows="" placeholder="描述"><%= photo.intro %></textarea>
          </div>
        </li>
        <% end %>
        <div class="clear"></div>
      </ul>
      <%= hidden_field_tag "id", params[:album_id] %>
      <%= hidden_field_tag "deleted_ids", '', :id => "deleted_photo_ids" %>
      <div class="align_c mt30"><a href="javascript:save();" class="btn_gray button_gray"><span>保存</span></a></div>
    <% end %>
   <!-- end album_left -->
 </div> 
 <!-- end content  -->
</div>

<div class="clear"></div>


<script type="text/javascript">
var deleted_ids = [];

$('.fancybox_delete_photo').fancybox({padding:0, margin: 0, width: 450, height: 'auto', autoSize: false, modal: true});

function delete_upload_photo( id ){
  $('#upload_photo_div_'+id).remove();
  deleted_ids.push( id );
};

function save(){
  $('#deleted_photo_ids').val( deleted_ids.join() );
  form = $('#save_upload_list_form').submit();
}
</script>

</div>
</div>