<div class="whitespace">
<div id="hp" >
<%= render "users/sub_nav", :action => params[:action] %>
<div class="clear"></div>

<div id="cu_user_menu" class="clearfix">
  <span class="f14">《 <a href="community_albmu_list.html">返回相册首页</a></span>
</div>
<div class="title_btn clearfix">
  <h2>完成上传 - 添加描述</h2>
</div>
  <ul class="photo_list">
<%= form_tag '/albums/save_upload_list', :id => 'save_upload_list_form' do %>
  <% @photos.each do |photo| %>
  <li class="photo_des" id="upload_photo_div_<%= photo.id %>" >
    <%= image_tag photo.image_url :thumb %>
    <p>描述</p>
    <p>
      <textarea class="photo_des" name="photo[<%= photo.id %>]" cols="" rows=""><%= photo.intro %></textarea>
    </p>
    <p>
      <%= link_to "删除", delete_photo_albums_path(:photo_id => photo.id), :class => "fancybox_delete_photo fancybox.ajax btn_delete float_r" %>
      <label>
        <input class="radio" name="cover_id" type="radio" value="<%= photo.id %>" /> 
        设为封面 
      </label>
    </p>
  </li>
  <% end %>
  </ul>
  <div class="clear"></div>
  <div class="align_c"><a href="javascript:save();" class="btn_gray button_gray"><span>保存</span></a></div>
</div>
<input type="hidden" name="id" value="<%= params[:id] %>"/>
<input type="hidden" name="deleted_ids" id="deleted_photo_ids"/>

<% end %>
<script type="text/javascript">
var deleted_ids = [];

$('.fancybox_delete_photo').fancybox({padding:0, margin: 0, width: 450, height: 'auto', autoSize: false, modal: true});

function delete_upload_photo( id ){
  $('#upload_photo_div_'+id).remove();
  deleted_ids.push( id );
};

function save(){
  $('#deleted_photo_ids').val( deleted_ids.join() );
  form = $('#save_upload_list_form').submit();
}
</script>

</div>
</div>