<% (1..10).each do |i| %>
  <div class="item relative">
    <div class="pic">
      <%= image_tag "v2/test/m_w_3.png", :title => "title", :class => "class" %>
    </div>
    <p class="wine_info">
      <h4> <a href="#"> 2001拉非</a> <br /> <a href="#" class="font_12"> 2001 Carruades de Lafite </a> </h4>
    <p> <%= link_to_icon "red_wine", "/search/{葡萄酒的类型}" %> 红葡萄酒</p>
    <% 5.times do |i| %>
      <%= image_tag 'base/star_yellow.jpg', :width=>12, :height=>12 %>
    <% end %>
    </p>

    <%= link_to_icon "delete", "/", :style => "display: none", :class => "delete" %>
    <%= link_to_icon "edit", "/", :style => "display: none", :class => "edit" %>
  </div>
  <div class="clear"></div>
<% end %>