<% @comments.each do |comment| %>
  <div class="item relative dotted">
    <div class="pic">
	 <%= wine_cover_tag comment.commentable, :thumb_name => :w_thumb, :width => 90, :height => 90 %>
    </div>
    <p class="wine_info">
      <h4>
	 <%= link_to comment.commentable.cname, wine_path(comment.commentable.id) %><br />
	 <%= link_to comment.commentable.ename, wine_path(comment.commentable.id), :class => "font_12" %><br />
	 </h4>
    <p> <%= link_to_icon "red_wine", "/search/{葡萄酒的类型}" %> 红葡萄酒</p>
	<%= star_rate_tag(comment.point) %>
    </p>

    <%= link_to_icon "delete", "/", :style => "display: none", :class => "delete" %>
    <%= link_to_icon "edit", "/", :style => "display: none", :class => "edit" %>
  </div>
  <div class="clear"></div>
<% end %>
