<div id="mainspace860" class="addwine">
  <div class="addwine">
    <h1 class="main_title">添加藏酒</h1>
    <div class="step">
      <div class="step_fir"></div>
    </div>
    <% unless @search.wines.blank? %>
        <%= render :partial => "mine/wines/search_wine", :object => @search %>
        <div>
          <div class="float_r">
            <span class="notice_b">这些都不是您要找的酒？</span>
            <%=  link_to new_mine_wine_path, :class => "btn_gray" do %>
                <span>添加酒款</span>
            <% end %>
          </div>
          <p class="notice_b mb20">我们为您搜寻到以下酒款</p>
          <div class="clear"></div>
        </div>

        <% @search.wines.each do |detail| %>
            <div class="box">
              <div class="box_t"></div>
              <div class="box_main">
                <div class="wine_img"><%= wine_cover_tag( detail, :thumb_name => "thumb", :width => "50", :height => "63" )%></div>
                <div class="wine_info">
                  <h2><%= detail.wine.name_zh %></h2>
                  <h3><%= detail.wine.name_en %></h3>
                  <p><strong>已有年份：</strong></p>
                  <p class="year">
                    <% Wines::Detail.where("wine_id = ?", detail.wine_id).select('id, year').each do |wine_detail| %>
                        <span><%= link_to wine_detail.show_year, wine_path(wine_detail.id) %></span>
                    <% end %>
                  </p>
                  <p class="mt10">
                    <%= link_to new_mine_wine_path(:wine_detail_id => detail.id), :class => "btn_gray" do %>
                        <span>添加新年份</span>
                    <% end %>
                  </p>
                </div>
                <div class="clear"></div>
              </div>
              <div class="box_b"></div>
            </div>
        <% end %>
    <% else %>
        <div class="notice mb20">没有找到相关酒款，您愿意帮助我们添加么？</div>
        <div class="align_c">
          <%= link_to new_mine_wine_path, :class => "btn_gray_b mr5" do %>
              <span>我来添加</span>
          <% end %>
          <%=  link_to mine_wines_add_path(:step => 1), :class => "btn_gray_b" do %>
             <span>重新搜索</span>
          <% end %>
        </div>
    <% end %>
    
  </div>
</div>




