<% content_for :css do %>
<%= theme_stylesheet_link_tag :hp %>
<% end %>

<% sub_menu = {
     "cellars"   =>  [cellars_user_path(@user.id, @user.cellar), @user.cellar.items_count],
     "wine_follows"     => [wine_follows_user_path(@user.id), @user.wine_followings_count],
     "winery_follows"   => [winery_follows_user_path(@user.id), @user.winery_followings_count],
     "comments"  => [comments_user_path(@user.id), @user.comments_count],
     # "testing_notes"  => ["testing_notes", 0],
     "followings"     => [followings_user_path(@user.id), @user.followings_count],
     "followers"    => [followers_user_path(@user.id), @user.followers_count],
     "albums"       => [albums_user_path(@user.id, :trailing_slash => true), @user.albums_count]
 } %>

  <div class="hp_header">
    <div class="hp_userimg">
       <%= link_to_user @user,
                        user_path(@user, :trailing_slash => true),
                        { :with_avatar => true,
                        :avatar_version => :large },
                        {:width => 130, :height => 130}  %>
    </div>
    <div class="hp_info">
      <div class="hp_right">
        <%= link_to cellars_user_path(@user, @user.cellar), :class => "btn_red_sb" do %>
          <% if is_login_user? @user %>
            <span>我的酒窖</span>
          <% else %>
            <span><%= @user.username %>的酒窖</span>
          <% end %>
        <% end %>
      </div>
      <% if is_login_user? @user  # 如果用户登录而且访问自己的页面 %>
      <div class="username"><%= @user.username %></div>
      <div class="mystatu">
        <p>
          <%= show_bio @user.profile.bio %>
          <span><%= link_to "修改", basic_settings_path %></span>
        </p>
        <p>博客：<%= link_to_outside_website(@user.profile.website, :target => "_blank") %></p>
      </div>
      <div class="item">
        <%= conversation_url(@user) %> |
        <%= link_to "设置", basic_settings_path %>
      </div>
      <% else %>
       <div class="username"><%= @user.username %></div>
       <div class="mystatu">
        <p><%= show_bio @user.profile.bio %></p>
        <p>博客：<%= link_to_outside_website(@user.profile.website, :target => "_blank") %></p>
      </div>
       <div class="item">
        <% if user_signed_in? %>
            <% if (current_user.is_following @user) && (@user.is_following current_user) # 如果用户互相关注%>
              <span class="icon_fol_e mr5">互相关注<span class="cancl_fol">
                <%= link_to "(取消)", unfollow_friends_path(:user_id => @user.id) %>
              </span></span>
            <% elsif current_user.is_following @user %>
              <span class="icon_fol mr5">已关注<span class="cancl_fol">
                <%= link_to "(取消)", unfollow_friends_path(:user_id => @user.id) %>
              </span></span>
            <% else %>
            <%= link_to follow_friends_path(:user_id => @user.id ), :class => "btn_gray" do  %>
              <span>加关注</span>
              <% end %>
            <% end %>
        <% else %>  
              <%= link_to follow_friends_path(:user_id => @user.id ), :class => "btn_gray" do  %>
              <span>加关注</span>
              <% end %>
             
        <% end %>
         <%= conversation_url(@user) %>
       </div>
      <% end %>      
      <ul class="hp_navi">
        <% sub_menu.each do |action_name, url| %>
          <%= content_tag :li, :class => ( if (params[:action] == action_name) || (params[:controller] == action_name); :current; end) do %>
            <%= link_to "#{url[1]} <br />".html_safe + t("nav.sub_nav.mine.#{action_name}"),  url[0] %>
          <% end %>
        <% end %>
      </ul>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>

<div class="reply_form" id="send_message_form" style="display: none">
  <%= render "conversations/send_message_form", :receiver => @user.username %>
</div>