<% @timelines.each do |l| %>
    <% item_id = get_rand_id(l.secondary_actor.id) %>
    <div class="iw item" id="<%= item_id %>">
        <%= render :partial => "share/follow_and_comment_button", :locals => {:parent => l.secondary_actor, :item_id => item_id} %>
        <div class="iw_img">
            <%= link_to wine_waterfall_image_tag(l.secondary_actor, :thumb_name => :middle), winery_path(l.secondary_actor) %>
        </div>
        <!-- 酒庄被评论 -->
        <% if l.event_type == "new_comment" %>
            <div class="iw_info">
                <h1><%= raw link_to l.secondary_actor.name_zh, winery_path(l.secondary_actor) %></h1>
                <h2><%= raw link_to l.secondary_actor.origin_name, winery_path(l.secondary_actor) %></h2>
                <p class="iw_action">有了新评论</p>
            </div>
            <div class="iw_main">
                <ul>
                    <% l.secondary_actor.comments.recent(6).each do |comment|%>
                        <%= render :partial => "share/short_comment", :locals => {:comment => comment} %>
                    <% end %>
                </ul>
            </div>
            <div class="iw_more iw_more_comment">
                <%= link_to  winery_comments_path(l.secondary_actor) do %>
                    共<%= l.secondary_actor.comments_count %>条评论
                <% end %>
            </div>
        <!-- 酒庄被关注 -->
        <% elsif l.event_type == 'new_follow' %>
            <div class="iw_info">
                <h1><%= raw link_to l.secondary_actor.name_zh, winery_path(l.secondary_actor) %></h1>
                <h2><%= raw link_to l.secondary_actor.origin_name, winery_path(l.secondary_actor) %></h2>
                <p class="iw_action">这个酒庄被关注</p>
            </div>
            <div class="iw_main">
                <ul>
                    <% l.secondary_actor.follows.recent(6).each do |follow|%>
                        <li>
                            <div class="left">
                                <%= link_to_user follow.user, user_path(follow.user, :trailing_slash => true), 
                                    {:with_avatar => true, :avatar_version => :thumb}, {:width => 30, :height => 30} %>
                            </div>
                            <div class="right">
                                <p class="username"><%= link_to_user follow.user, user_path(follow.user, :trailing_slash => true) %></p>
                            </div>
                            <div class="clear"></div>
                        </li>
                    <% end %>
                </ul>
            </div>
            <div class="iw_more iw_more_follow"> 
                <%= link_to  followers_list_winery_path(l.secondary_actor) do %>
                    共<%= l.secondary_actor.followers_count %>个关注
                <% end %>
            </div>
        <% end %>
        <% if current_user %>
            <div class="iw_comment clearfix" style="display:none;">
                <div class="left">
                    <%= link_to_user current_user, user_path(current_user, :trailing_slash => true), 
                                                   {:with_avatar => true, :avatar_version => :thumb},
                                                    {:width => 30, :height => 30, :alt => current_user.username} %>
                </div>
                <div class="right">
                    <%= render :partial => "comments/share/ajax_form", 
                               :locals => {:commentable => l.secondary_actor,
                                           :item_id => item_id} %>
                </div>
            </div>
        <% end %>
    </div>
<% end %>
<%= javascript_include_tag 'waterfall_comment_follow' %>
<script type="text/javascript" >
    function setShare(title, url, summary, image_url) {
        jiathis_config.title = title;
        jiathis_config.url = url;
        jiathis_config.summary = summary;
        jiathis_config.pic = image_url;
    }
    var jiathis_config={
        data_track_clickback:true,
        hideMore:false
    }
</script>
<script type="text/javascript" src="http://v2.jiathis.com/code_mini/jia.js?uid=1623461" charset="utf-8"></script>