<% content_for :title, @title %>

<% content_for :css  do %>
<%= stylesheet_link_tag :home %>
<% end %>

<div id="container" style="position: relative; ">
	<%= render "timeline" %>
	<div style="display: none">
		<%= paginate @timelines %>
	</div>	
	<div class="clear"></div>
</div>

<div class="loading" id="waterfall_loading" style="display: none">
  <%= image_tag "common/loading.gif", :size => "16x16", :alt => "loading", :align => :absmiddle %>
  <span>更多的内容正在载入中，请稍等...</span>
</div>
<% unless @timelines.last_page? %>
	<p align="center" class="end_waterfall_text_info"></p>
<% else %>
	<p align="center" class="end_waterfall_text_info">^_^ 已经到底了...</p>
<% end %>
<div id="gototop" class="indicator">
  <a href="#header">
     <%= image_tag "common/totop.png", :size => "86x39", :alt => "回到页首" %>
  </a>
</div>
<%= render "layouts/waterfall_js" %>