<% content_for :title, @title%>
<% content_for :css do %>
<%= theme_stylesheet_link_tag :about %>
<% end %>	
<div class="whitespace about">
	<h1 class="main_title">意见反馈</h1>
	<p>非常感谢您对爱红酒（iWine）的支持和关注，欢迎您在这里留下宝贵的意见和建议！也许我们不能一一回复，但我们会认真阅读，您的支持时我们最大的动力。</p>
	<%= form_for @feedback, :url => feedbacks_path, :validate => true do |f| -%>
	<table class="feedback" width="90%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th>标题</th>
			<td>
				<label>
					<%= f.text_field :subject, :class => "text content" %>
				</label>
			</td>
		</tr>
		<tr>
			<th>内容</th>
			<td>
				<label>
					<%= f.text_area :description, :size => "45x5" %>
				</label>
			</td>
		</tr>
		<tr>
			<th>邮件地址</th>
			<td>
				<label>
					<%= f.text_field :email, :class => "text content", :id => "textfield2" %>
				</label>
			</td>
		</tr>
		<tr>
			<th>姓名</th>
			<td>
				<label>
					<%= f.text_field :name, :class => "text content", :id => "textfield3" %>
				</label>
			</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>
				<%= link_to "javascript:void(0)", :class => "btn_gray_b", :onclick => "$(this).parents('form').submit()" do %>
				<span>提交</span>
				<% end %>
			</td>
		</tr>
	</table>
	<% end -%>
</div>