<div class="admin_wine_register">
  <%= stylesheet_link_tag "admin" %>
  <%= javascript_include_tag 'wine_registers_variety', 'region_world' %>
  <%= form_for [:admin, @wine] do |w| %>
     <table cellpadding="5" cellspacing="10">
        <tr>
          <td><label>中文名</label></td>
          <td><%= w.text_field  :name_zh %></td>
        </tr>
        <tr>
          <td><label>英文名</label></td>
          <td><%= w.text_field :name_en %></td>
        </tr>
        <tr>
          <td><label>英文原名</label></td>
          <td><%= w.text_field :origin_name %></td>
        </tr>
        <tr>
          <td><label>其它中文名</label></td>
          <td><%= w.text_field :other_cn_name %></td>
        </tr>
        <tr>
          <td><label>种类</label></td>
          <td>
            <select id="wine_wine_style_id" name="wine[wine_style_id]">
               <%= render "share/wine_style_select", :wine_style_id => @wine.wine_style_id %>
            </select>
          </td>
        </tr>
        <tr>
          <td><label>区域</label></td>
          <td><%= render :partial => 'admin/share/region_tree', :locals => {:wine_parent => @wine, :region_tree_id => @wine.region_tree_id } %></td>
        </tr>
        <tr>
          <td><label>官方网址</label></td>
          <td>http://<%= w.text_field :official_site %></td>
        </tr>
        <tr>
          <td><label>图片</label></td>
          <td>
            <% if @wine.photos.present? %>
                <% @wine.photos.each do |photo| %>
                    <%= image_tag(photo.image_url(:thumb)) %>
                <% end %>
            <% end %>
            <%= link_to "上传或编辑图片", edit_images_admin_photos_path(:imageable_type => "Wine", :imageable_id => @wine.id), :target => "_blank" %>
          </td>
        </tr>
       <tr><td></td><td><%= w.submit "提交" %></td></tr>
     </table>
  <% end %>
</div>