<h2>上传酒款</h2>
<%= simple_form_for @wine_register, :html => { :class => 'form-horizontal'} do |f| %>
    <%= f.error_messages %>
    <%= f.input :name_en %>
    <%= f.input :name_zh %>
    <%= f.input :official_site %>
    <%= f.association :wine_style %>
    <%= f.association :winery %>
    <%= f.input :vintage %>
    <%= f.input :drinkable_begin %>
    <%= f.input :drinkable_end %>
    <%= f.input :alcoholicity %>
    <%= f.input :variety_percentage %>
    <%= f.input :variety_name %>
    <%= f.input :capacity %>
<% end %>