<h2>上传酒款</h2>

<%= simple_form_for @register, :html => { :class => 'form-horizontal'} do |f| %>
    <%= f.input :name_en, :label => '英文名' %>
    <%= f.input :name_zh, %>
    <%= f.input :official_site %>
    <%= f.association :style, :collection => 1..2 %>

    <%= f.input :vintage %>
    <%= f.input :drinkable_begin %>
    <%= f.input :drinkable_end %>
    <%= f.input :alcoholicity %>
    <%= f.input :variety_percentage %>
    <%= f.input :variety_name %>
    <%= f.input :capacity %>
<% end %>

