<div class="wine_profile">
  <div class="left">
    <div class="box title">
     <h2>
       2005 波特米勒站赤霞珠干红葡萄酒
       <br />
       <span>2005 PORTER MILL STATION Cabernet Sauvignon</span>
     </h2>
     <!-- title end -->
    </div>

    <div class="box buttons">
      <%= render "wines/share/buttons" %>
         <!-- buttons end -->
    </div>
    <div class="clear"></div>

    <div class="box cover">
      <%= render "wines/share/cover" %>
    </div>
    <div class="clear"></div>

    <div class="box winery_description">
      <%= render "wines/share/winery_description" %>
    </div>
    <div class="clear"></div>

    <div class="box photos">
      <%= render "wines/share/photos" %>
    </div>
    <div class="clear"></div>

    <div class="box likers">
      <%= render "wines/share/likers" %>
    </div>
    <div class="clear"></div>

    <div class="box comments">
      <%= render "wines/share/comments" %>
    </div>
    <div class="clear"></div>

    <div class="box testing_notes">
      <%= render "wines/testing_notes/testing_note" %>
    </div>
    <div class="clear"></div>

    <div class="box followers">
      <%= render "wines/share/followers" %>
    </div>
    <div class="clear"></div>

    <div class="box owners">
      <%= render "wines/share/owners" %>
    </div>
    <div class="clear"></div>

    <div class="box events">
      <%= render "wines/share/events" %>
    </div>
    <div class="clear"></div>
    <!-- left end -->
  </div>

  <div  class="right">
    <div class="box resource">
      <%= render "wines/share/resource" %>
    </div>
    <div class="clear"></div>

    <div class="box spec">
      <%= render "wines/share/spec" %>
    </div>
    <div class="clear"></div>

    <div class="box score">
      <%= render "wines/share/score" %>
    </div>
    <div class="clear"></div>

    <div class="box special_comments">
      <%= render "wines/share/special_comments" %>
    </div>
    <div class="clear"></div>

    <div class="box price">
      <%= render "wines/share/price" %>
    </div>
    <div class="clear"></div>

    <div class="box vintage">
      <%= render "wines/share/vintage" %>
    </div>
    <div class="clear"></div>

    <%= link_to_button "feedback", "/" %>
    <!-- right end -->
    </div>

  <!-- wine_profile end -->
 </div>

<div class="clear"></div>
