<h3 class="title"> 请填写报名信息 </h3>
<% if participant.new_record? %>
  <%= form_for [participant],  :validate => true, :html => {:id => "comment_form"} do |f| -%>
    <div class="mt10">
      <div class="text_area">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="80" align="right"><span class="red">*</span>姓名：</td>
            <td>
              <%= f.text_field :username, :class => [:text] %>
              <span class="red" id="event_participant_username_error"></span>
            </td>
          </tr>
          <tr>
            <td align="right"><span class="red">*</span>联系电话：</td>
            <td>
              <%= f.text_field :telephone, :class => [:text], :style => "width:200px;" %>
              <span class="red" id="event_participant_telephone_error"></span>
            </td>
          </tr>
          <tr>
            <td align="right"><span class="red">*</span>邮箱：</td>
            <td>
              <%= f.text_field :email, :class => [:text], :style => 'width: 200px;' %>
              <span class="red" id ="event_participant_email_error"></span>
            </td>
          </tr>

          <tr>
            <td align="right">报名人数：</td>
            <td>
              <%= f.select :people_num, [1, 2, 3] %>
            </td>
          </tr>

          <tr>
            <td align="right">留言：</td>
            <td>
              <%= f.text_area :note, :size => '10x5', :style => 'width: 300px' %>
            </td>
          </tr>
        </table>
        <div class="align_c mt20 mb20">
          <%= link_to "javascript:void(0)", :class => "btn_gray_b mr5 save_articipant" do  %>
            <span>提交</span>
          <% end %>
          <a class="btn_gray_b" href="javascript:void(0)" onclick = "$.fancybox.close()" >
            <span>取消</span>
          </a>
        </div>
      </div>
    </div>
  <% end -%>

<% else %>
  <%= form_for [participant], :url => event_participant_path(event, participant), :validate => true, :html => {:id => "comment_form"} do |f| -%>
    <div class="mt10">
      <div class="text_area">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="80" align="right"><span class="red">*</span>姓名：</td>
            <td>
              <%= f.text_field :username, :class => [:text] %>
              <span class="red" id="event_participant_username_error"></span>
            </td>
          </tr>
          <tr>
            <td align="right"><span class="red">*</span>联系电话：</td>
            <td>
              <%= f.text_field :telephone, :class => [:text], :style => "width:200px;" %>
              <span class="red" id="event_participant_telephone_error"></span>
            </td>
          </tr>
          <tr>
            <td align="right"><span class="red">*</span>邮箱：</td>
            <td>
              <%= f.text_field :email, :class => [:text], :style => 'width: 200px;' %>
              <span class="red" id ="event_participant_email_error"></span>
            </td>
          </tr>

          <tr>
            <td align="right">报名人数：</td>
            <td>
              <%= f.select :people_num, [1, 2, 3] %>
            </td>
          </tr>

          <tr>
            <td align="right">留言：</td>
            <td>
              <%= f.text_area :note, :size => '10x5', :style => 'width: 300px' %>
            </td>
          </tr>
        </table>
        <div class="align_c mt20 mb20">
          <%= link_to "javascript:void(0)", :class => "btn_gray_b mr5 save_articipant" do  %>
            <span>提交</span>
          <% end %>
          <a class="btn_gray_b" href="javascript:void(0)" onclick = "$.fancybox.close()" >
            <span>取消</span>
          </a>
        </div>
      </div>
    </div>
  <% end -%>
<% end %>
