<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Patrick</title>
    <%= stylesheet_link_tag    "application" %>
    <%= raw stylesheet_if_exists "#{params[:controller]}/#{params[:controller]}", "#{params[:controller]}/#{params[:action]}" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <div id="topspace">
          <div id="topnavi"><a href="#">xiaoying 的帐户</a> | <a href="#">邮件(2)</a> | <a href="#">退出</a></div>
          <div id="logo"><%= image_tag 'base/logo.gif', :width => 287, :height => 44, :alt=>'Patrick' %></div>
          <div class="clear"></div>
        </div>
        <div id="globel_navi_search">
          <div id="globel_search"><input class="globel_search" name="" type="text" placeholder="酒名、酒庄、年份" /><a href="#" class="btn_g_search">搜索</a></div>
          <div id="globel_navi">
            <ul>
              <li><a href="#"><span>首页</span></a></li>
              <li><a class="current" href="#"><span>美酒</span></a></li>
              <li><a href="#"><span>酒庄</span></a></li>
              <li><a href="#"><span>社区</span></a></li>
              <li><a href="#"><span>活动</span></a></li>
            </ul>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div id="mainholder">
        <%= yield :wine_title %>
			<%= render 'share/layout_fragment', :controller_name => params[:controller], :action_name => params[:action] %>
            <% flash.each do |name, msg| %>
             <%= content_tag(:div, raw(msg), :id => "flash_#{name}") %>
            <% end %>
            <%= yield %>
          </div>
          <div><%= image_tag 'base/bg_white_b.gif' %></div>
        </div>
      </div>
      <div id="footer"><div class="copyright">Copyright © 2011 Patrick, Inc. All rights reserved. </div>
        <a href="#">关于我们</a> | <a href="#">帮助中心</a> | <a href="#">个人信息保护方针</a> | <a href="#">网站地图</a></div>
    </div>
  </body>
</html>




