<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= content_for?(:title) ? content_for(:title) : 'Patrick' %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= raw stylesheet_if_exists "#{params[:controller]}", "#{params[:controller]}/#{params[:action]}" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body>

    <div id="wrapper">
      <div id="header">
        <div id="topspace">
		<%= render "share/user_fragment" %>
		
          <div id="logo"><%= image_tag 'base/logo.gif', :width => 287, :height => 44, :alt=>'Patrick' %></div>
          <div class="clear"></div>
        </div>
        <div id="globel_navi_search">
          <div id="globel_search"><input class="globel_search" name="" type="text" placeholder="酒名、酒庄、年份" /><a href="#" class="btn_g_search">搜索</a></div>
         	<%= render 'share/main_nav', :controller => params[:controller], :action => params[:action] %>
          <div class="clear"></div>
        </div>
      </div>
      <div id="mainholder">
        <%= yield :wine_title %>
		    <%= render 'share/layout_fragment', :controller_name => params[:controller], :action_name => params[:action] %>
      </div>
		<%= render 'share/footer' %>
    </div>
  </body>
</html>
