<!DOCTYPE html>
<head>
  <title><%= content_for?(:title) ? content_for(:title) : 'Patrick' %></title>
  <%= stylesheet_link_tag    "v2/application" %>
  <%= raw stylesheet_if_exists "#{params[:controller]}", "#{params[:controller]}/#{params[:action]}" %>
  <%= javascript_include_tag "application" %>
  <%= yield :wine_register %>
  <%= csrf_meta_tags %>
  <!--[if lte IE 7]>
  <%= stylesheet_link_tag "v2/ie" %>
  <![endif]-->
  <!--[if lt IE 9]>
  <%= javascript_include_tag "html5" %>
  <![endif]-->
</head>
<body class="span_950 fixed_width <%= controller.controller_name %> <%= params[:action] %>" >
<%#= query_review_output %>

  <%= render "share/header" %>

  <div id="main">
    <%= yield %>

    <!-- main end -->
  </div>

  <%= render "share/footer" %>

</body>
</html>
